@import "styles/_sizes";
@import "styles/_colors";
@import "styles/_constants";

.help-button {
  @include transition(border-color, color);
  background: none;
  padding: 0;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 1px solid $icon-color;
  border-radius: 50%;
  color: $icon-color;
  line-height: 15px;
  text-align: center;
  font-size: 8px;
  font-weight: 800;
  outline: none;
  cursor: pointer;

  &--muted {
    border-color: $label-color;
    color: $label-color;
  }
}
