@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.level-tooltip {
	padding: 5px;
	&__level {
		@include adaptive-padding(bottom, $padding-xxsmall);
		font-size: 16px;
		font-weight: 700;
		color: $primary-color;
		letter-spacing: 0.23px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.statistics-item {
		padding-bottom: 0;
	}
}
