@import "styles/_colors.scss";
@import "styles/_constants.scss";
.popover {
  position: absolute;
  background-color: #273642;
  padding: 32px 16px;
  border-radius: $border-radius;
  margin-top: 10px;
  overflow: auto;
}
