@import "styles/_colors.scss";

.password-restore {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  margin-top: 5rem;

  &__header {
    font-size: 1.5rem;
    font-family: "NeuzeitGroBol";
    align-self: center;
    margin: 2rem;
  }

  &__title {
    width: 164px;
    margin-bottom: 50px;
    margin-top: 0;
  }

  &__text {
    color: $text-color-grey;
    width: 290px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  &__navigation {
    margin-top: 125px;
  }

  &__btn-back {
    margin-right: 32px;
  }
}
