@import "~shared/styles/_constants";
@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";

.currency-item {
  &__icon {
    object-fit: cover;
    box-shadow: $box-shadow-1;
    border-radius: 100%;
    & img {
      width: 100%;
      border-radius: 100%;
      height: auto;
    }
    &--medium {
      @include width($wallet-item-size);
      @include height($wallet-item-size);
    }
    &--small {
      @include width($wallet-item-size/$divider-title);
      @include height($wallet-item-size/$divider-title);
    }
  }
  &__rate {
    @include font-size($font-size-small);
    color: $text-light-color;
  }
  &__name {
    @include font-size($font-size-paragraph);
    white-space: nowrap;
    letter-spacing: 0.6px;
    color: $text-light-color;
    &--big {
      padding: 0;
    }
  }
}

.currency-item-with-amount {
  &__name {
    min-width: 80px;
  }
}
