@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-statistic-section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  &__statistic {
    margin-bottom: $padding-big-mobile;
    display: flex;
    width: 100%;
    @include media-breakpoint-landscape-phone() {
      margin-bottom: 0;
      max-width: $details-statistic-section-width;
    }
  }

  &__chart {
    display: flex;
    flex: 1;
    min-height: 400px;
  }
}

.recharts-text {
  font-size: $font-size-small-mobile;
  @include media-breakpoint-landscape-phone() {
    font-size: $font-size-small;
  }
}
