@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-statistic-section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  &__statistic,
  &__chart {
    @include adaptive-margin(bottom, $padding-small);
  }
  &__statistic {
    display: flex;
    width: 100%;
    @include media-breakpoint-tablet() {
      margin-right: $padding-big-mobile;
      max-width: 300px;
    }
  }

  &__chart {
    display: flex;
    flex: 1 1 100%;
    min-height: 400px;

    @include media-breakpoint-tablet() {
      flex-basis: auto;
    }
  }
}

.recharts-text {
  font-size: $font-size-small-mobile;
  @include media-breakpoint-landscape-phone() {
    font-size: $font-size-small;
  }
}
