@import "~shared/styles/breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.social-container {
  @include media-breakpoint-landscape-tablet() {
    @include grid();
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    @include media-breakpoint-landscape-tablet() {
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__item {
    @include media-breakpoint-landscape-tablet() {
      grid-column: 2/6;
    }

    @include media-breakpoint-desktop() {
      grid-column: 2/7;
    }
  }

  &__list {
    margin-right: -20px;
    margin-left: -20px;

    .icon-list__item {
      margin: 0 15px 20px;

      @include media-breakpoint-tablet() {
        margin-right: 20px;
        margin-left: 20px;
      }

      @include media-breakpoint-landscape-tablet() {
        margin: 0 15px 30px;
      }

      @include media-breakpoint-large-desktop() {
        margin-right: 17px;
        margin-left: 17px;
      }
    }
  }
}
