@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.program-details-statistics {
  box-sizing: border-box;
  padding: 32px 22px 20px;
  width: 100%;
  color: $text-light-color;
  @include media-breakpoint-landscape-phone() {
    padding: 40px 32px 32px;
  }

  &__heading {
    margin: 0 0 20px;
    font-size: 15px;
    letter-spacing: 0.2px;
    @include media-breakpoint-landscape-phone() {
      margin: 0 0 30px;
      font-size: 17px;
      font-weight: 600;
    }
  }

  &__particular-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item,
  &__balance {
    display: flex;
    flex-direction: column;
    width: 43%;
    margin-bottom: 22px;
    @include media-breakpoint-landscape-phone() {
      margin-bottom: 26px;
      min-width: 50%;
    }
  }

  &__balance {
    width: 100%;
  }

  &__period {
    width: 100%;
  }

  &__subheading {
    color: $label-color;
    font-size: 11px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    font-weight: normal;
    @include media-breakpoint-landscape-phone() {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }

  &__value {
    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: normal;
    @include media-breakpoint-landscape-phone() {
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__item--secondary &__value {
    font-size: 14px;
    letter-spacing: 0.4px;
    @include media-breakpoint-landscape-phone() {
      font-size: 14px;
    }
  }

  &__item {
    @media (min-width: 494px) {
      width: 23.5%;
    }
  }
}
