@import "styles/_colors.scss";

.pi-bookmark {
  color: #ccd5d4;
  font-size: 1rem;
  margin-left: 1rem;

  &:hover {
    text-shadow: 0px 0px 2px lighten($text-color-light, 5%);
  }

  &:active {
    color: darken( $alternate-color, 5% )
    ;
  }

  &_active {
    color: $alternate-color;
  }
}
