@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

$program-padding: 32px;
$text-size: 13px;
$th-text-size: 12px;
$title-text-size: 15px;
$chart-width: 160px;
$program-width: 312px;
$program-height: 312px;
$multiplier: 1.5;

@mixin table-title() {
  opacity: 0.3;
  font-size: $th-text-size/1.5;
  font-weight: 100;
  color: white;
  text-align: left;
  padding-bottom: $th-text-size/1.5;
  @include media-breakpoint-landscape-phone() {
    font-size: $th-text-size;
    padding-bottom: $th-text-size;
  }
}
.programs-cards {
  box-sizing: border-box;
  padding: $program-padding/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__card {
    margin-bottom: $program-padding/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $program-height/1.2;
    padding: 20px;
    border-radius: 8px;
    background-color: #212c34;
    &:last-child {
      margin-right: 0;
    }
    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      &__title {
        padding: 3px 0;
        font-size: $title-text-size/1.5;
      }
      &__name {
        font-size: $text-size/1.5;
        color: $primary-color;
      }
      &__actions {
      }
      &__chart {
        width: $chart-width/1.5;
      }
      &__chart-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--balance {
          font-size: $text-size/1.5;
          font-weight: 100;
        }
        &--profit {
          font-size: $text-size/1.5;
          font-weight: 600;
          color: rgb(44, 211, 146);
          border-radius: 19.5px;
          background-color: $success;
          padding: 5px 13px;
          margin-bottom: 8px;
        }
      }
      &--title {
        @include table-title;
      }
    }
    &__table {
      & table {
        width: 100%;
        th {
          @include table-title;
        }
        td {
          font-size: $text-size/$multiplier;
          font-weight: 100;
        }
      }
    }
  }
  .program-avatar {
    width: 40px;
    height: 40px;
  }
  @include media-breakpoint-phone() {
    .program-avatar {
      width: 80px;
      height: 80px;
    }
    &__card {
      height: $program-height;
      margin-right: 0;
      &__row {
        &__title {
          font-size: $title-text-size;
        }
        &__name {
          font-size: $text-size;
        }
        &--balance {
          font-size: $text-size;
        }
        &--profit {
          font-size: $text-size;
        }
        &__chart {
          width: $chart-width;
        }
        &__chart-info {
          &--balance {
            font-size: $text-size;
          }
          &--profit {
            font-size: $text-size;
          }
        }
      }
      &__table {
        & table {
          td {
            font-size: $text-size;
          }
        }
      }
    }
  }
  @include media-breakpoint-landscape-phone() {
    &__card {
      width: $program-width;
      margin-right: $program-padding/2;
    }
    padding: $program-padding;
  }
}

.programs-table {
  &__cell {
    &--header {
      cursor: default;
      opacity: 0.3;
    }
  }
}

.programs-table__cell {
  &--title {
    width: 22%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &--balance {
    width: 10%;
  }
  &--currency {
    width: 5%;
  }
  &--investors {
    width: 5%;
  }
  &--available-to-invest {
    width: 6%;
  }
  &--trades {
    width: 5%;
  }
  &--period {
    width: 8%;
  }
  &--drawdown {
    width: 5%;
  }
  &--profit {
    width: 5%;
  }
  &--chart {
    width: 15%;
  }
  &--favorite {
    width: auto;
    min-width: 30px;
  }
}

.program-detailed {
  width: 100%;
  max-width: 100%;
  display: flex;
  position: relative;
  margin: 0 -2rem;
  padding: 2rem;
  background-color: #212c34;

  &__info {
    flex: 1 1 20%;
    max-width: 20%;
  }

  &__statistic {
    flex: 4 1 80%;
    max-width: 80%;
  }

  &__avatar {
    display: flex;
  }

  &__title {
    font-size: 16px;
    letter-spacing: 0.2px;
  }

  &__manager {
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #15bbaf;
  }

  &__strategy {
    opacity: 0.9;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.4px;
    color: #e8eff3;
  }

  &__chart {
    width: 100%;
    height: 200px;
  }

  &__statistic-data {
    display: flex;
  }

  &__collapse {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
