@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

$padding: 33px;
$font-size-title: 15px;
$font-size: 13px;
$small-font-size: 13px;
$info-width: 318px;
$description-block-width: 250px;
$border-radius: 8px;

.programs-table {
  &__cell {
    &--header {
      cursor: default;
      opacity: 0.3;
    }
    &--profit:not(.table__cell--head) {
      color: #2ebd85;
    }
  }
}

.programs-table__cell {
  &--name {
    &--avatar-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &--title {
        padding-left: 9px;
        div {
          padding: $padding/10;
        }
        &--bottom {
          opacity: 0.3;
        }
      }
    }
  }
  &--balance {
    //width: 10%;
  }
  &--currency {
    //width: 5%;
  }
  &--investors {
    //width: 5%;
  }
  &--available-to-invest {
    //width: 6%;
  }
  &--trades {
    //width: 5%;
  }
  &--period {
    //width: 8%;
  }
  &--drawdown {
    //width: 5%;
  }
  &--profit {
    //width: 5%;
  }
  &--chart {
    //min-width: 50px;
    //max-width: 100px;
  }
  &--favorite {
    //width: auto;
    //min-width: 30px;
  }
}

.program-detailed {
  .program-detailed__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;

    &__info {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      background: $secondary-color;
      padding: $padding/1.5;
      border-radius: $border-radius 0 0 $border-radius;
      max-width: 318px;
    }

    &__avatar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $padding/1.5;
      &__img {
        width: 40px;
        height: 40px;
      }
      &--name {
        margin-left: $padding/2;
      }
    }

    &__title {
      font-size: $font-size-title/1.5;
      letter-spacing: 0.2px;
      margin-bottom: $padding/2.5/1.5;
    }

    &__manager {
      font-size: $font-size/1.5;
      letter-spacing: 0.2px;
      color: $positive-color;
    }

    &__strategy {
      font-size: $font-size/1.5;
      line-height: 1.85;
      letter-spacing: 0.4px;
      color: #fff;
      margin-bottom: $padding/2/1.5;
    }
    &__description {
      font-size: $font-size/1.5;
      line-height: 1.85;
      letter-spacing: 0.4px;
      color: #fff;
      font-weight: 100;
      width: $description-block-width/2;
      max-height: 300px;
      overflow: hidden;
    }

    &__statistic {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: stretch;
      padding: $padding/1.5;
      width: 100%;
      background-color: #212c34;
      &__chart {
        height: 50%;
        min-height: 250px;
      }

      &__statistic-data,
      &__investing {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: $padding;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__statistic-data {
        font-weight: 100;
        &--label {
          opacity: 0.3;
          font-size: $small-font-size/1.5;
          padding: $padding/3 2px;
        }
        &--value {
          font-size: $font-size/1.5;
          padding: 0 2px;
          &--positive {
            color: $positive-color;
          }
        }
      }
    }

    &__collapse {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: $padding/2.5;
      background: #2f3a43;
      border-radius: 0 $border-radius $border-radius 0;
      span {
        width: 15px;
      }
    }

    @include media-breakpoint-landscape-phone() {
      &__info {
        padding: $padding;
      }
      &__avatar {
        margin-bottom: $padding;
      }
      &__strategy {
        margin-bottom: $padding/2;
      }
      &__title {
        font-size: $font-size-title;
      }

      &__manager {
        font-size: $font-size;
      }

      &__strategy {
        font-size: $font-size;
      }

      &__description {
        font-size: $font-size;
        width: $description-block-width;
      }
      &__avatar__img {
        height: 80px;
        width: 80px;
      }
      &__statistic {
        padding: $padding;
        &__statistic-data {
          &--label {
            font-size: $small-font-size;
          }
          &--value {
            font-size: $font-size;
          }
        }
        &__statistic-data,
        &__investing {
          margin-bottom: $padding * 2;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
