@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

$padding: 32px;
$text-size: 13px;
$th-text-size: 12px;
$title-text-size: 15px;
$chart-width: 160px;
$program-width: 312px;
$program-height: 312px;
$multiplier: 1.5;
$border-radius: 5px;
$description-block-width: 250px;

@mixin table-title() {
  opacity: 0.3;
  font-size: $th-text-size/1.5;
  font-weight: 100;
  color: white;
  text-align: left;
  padding-bottom: $th-text-size/1.5;
  @include media-breakpoint-landscape-phone() {
    font-size: $th-text-size;
    padding-bottom: $th-text-size;
  }
}

.programs-table {
  &__cell {
    &--header {
      cursor: default;
      opacity: 0.3;
    }
    &--profit:not(.table__cell--head) {
      color: #2ebd85;
    }
  }
}
.programs-cards {
  box-sizing: border-box;
  padding: $padding;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__card {
    margin-right: $padding/2;
    margin-bottom: $padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 312px;
    height: 372px;
    padding: 20px;
    border-radius: 8px;
    background-color: #212c34;
    &:last-child {
      margin-right: 0;
    }
    & div,
    table {
      //outline: 1px solid gray;
    }
    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      &__title {
        padding: 3px 0;
        font-size: 15px;
      }
      &__name {
        font-size: 13px;
        color: $primary-color;
      }
      &__actions {
        transform: rotate(90deg);
        font-size: 2rem;
      }
      &__chart {
        width: 160px;
      }
      &__chart-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--balance {
          font-size: 13px;
          font-weight: 100;
        }
        &--profit {
          font-size: 14px;
          font-weight: 200;
          color: rgb(44, 211, 146);
          border-radius: 19.5px;
          background-color: $success;
          padding: 5px 13px;
          margin-bottom: 8px;
        }
      }
      &__status {
        &--text {
          font-size: 13px;
          font-weight: 100;
        }
      }
      &--title {
        @include table-title;
      }
      &__reinvest {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
    &__table {
      & table {
        width: 100%;
        th {
          @include table-title;
        }
        td {
          font-size: 13px;
          font-weight: 100;
        }
      }
    }
    &--balance {
    }
    &--currency {
    }
    &--investors {
    }
    &--available-to-invest {
    }
    &--trades {
    }
    &--period {
    }
    &--drawdown {
    }
    &--profit {
    }
    &--chart {
    }
    &--favorite {
    }
    &-- {
    }
  }
}

.programs-table__cell {
  &--name {
    &--avatar-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &--title {
        padding-left: 9px;
        div {
          padding: $padding/10;
        }
        &--bottom {
          opacity: 0.3;
        }
      }
    }
  }
  &--balance {
    //width: 10%;
  }
  &--currency {
    //width: 5%;
  }
  &--investors {
    //width: 5%;
  }
  &--available-to-invest {
    //width: 6%;
  }
  &--trades {
    //width: 5%;
  }
  &--period {
    //width: 8%;
  }
  &--drawdown {
    //width: 5%;
  }
  &--profit {
    //width: 5%;
  }
  &--chart {
    min-width: 100px;
    max-width: 200px;
  }
  &--favorite {
    //width: auto;
    //min-width: 30px;
  }
}

.program-detailed {
  .program-detailed__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;

    &__info {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      background: $secondary-color;
      padding: $padding/1.5;
      border-radius: $border-radius 0 0 $border-radius;
      max-width: 318px;
    }

    &__avatar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $padding/1.5;
      &__img {
        width: 40px;
        height: 40px;
      }
      &--name {
        margin-left: $padding/2;
      }
    }

    &__title {
      font-size: $title-text-size/1.5;
      letter-spacing: 0.2px;
      margin-bottom: $padding/2.5/1.5;
    }

    &__manager {
      font-size: $text-size/1.5;
      letter-spacing: 0.2px;
      color: $positive-color;
    }

    &__strategy {
      font-size: $text-size/1.5;
      line-height: 1.85;
      letter-spacing: 0.4px;
      color: #fff;
      margin-bottom: $padding/2/1.5;
    }
    &__description {
      font-size: $text-size/1.5;
      line-height: 1.85;
      letter-spacing: 0.4px;
      color: #fff;
      font-weight: 100;
      width: $description-block-width/2;
      max-height: 300px;
      overflow: hidden;
    }

    &__statistic {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: stretch;
      padding: $padding/1.5;
      width: 100%;
      background-color: #212c34;
      &__chart {
        height: 50%;
        min-height: 250px;
      }

      &__bottom-block{
        &__details{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
        }
      }
      &__statistic-data,
      &__bottom-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      &__favorites-block,&__favorites-block span {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: $padding/2;
        span {
          svg{
            margin: 0 10px
          }
        }
      }
      &__statistic-data {
        margin-bottom: $padding;
        font-weight: 100;
        &--label {
          opacity: 0.3;
          font-size: $text-size/1.5;
          padding: $padding/3 4px;
        }
        &--value {
          font-size: $text-size/1.5;
          padding: 0 4px;
          &--positive {
            color: $positive-color;
          }
        }
      }
    }

    &__collapse {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: $padding/2.5;
      background: #2f3a43;
      border-radius: 0 $border-radius $border-radius 0;
      span {
        width: 15px;
      }
    }

    @include media-breakpoint-landscape-phone() {
      &__info {
        padding: $padding;
      }
      &__avatar {
        margin-bottom: $padding;
      }
      &__strategy {
        margin-bottom: $padding/2;
      }
      &__title {
        font-size: $title-text-size;
      }

      &__manager {
        font-size: $text-size;
      }

      &__strategy {
        font-size: $text-size;
      }

      &__description {
        font-size: $text-size;
        width: $description-block-width;
      }
      &__avatar__img {
        height: 80px;
        width: 80px;
      }
      &__statistic {
        padding: $padding;
        &__statistic-data {
          &--label {
            font-size: $text-size;
          }
          &--value {
            font-size: $text-size;
          }
        }
        &__statistic-data{
          margin-bottom: $padding * 2;
        }
        &__favorites-block{
          margin-bottom: $padding;
        }
      }
    }
  }
}
