@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";
@import "styles/_sizes.scss";

$description-block-width: 250px;
$program-width: 312px;
$program-height: 312px;
$multiplier: 1.5;
$chart-width: 160px;

@mixin table-title() {
  opacity: 0.3;
  font-size: $th-text-size/1.5;
  color: white;
  text-align: left;
  padding-bottom: $th-text-size/1.5;
  @include media-breakpoint-landscape-phone() {
    font-size: $th-text-size;
    padding-bottom: $th-text-size;
  }
}

.funds-table-container {
  padding: $padding/2 0;
}

.funds-table__cell {
  &--avatar-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .program-avatar {
      min-width: 40px;
    }
  }
  &--title {
    padding-left: 9px;
    word-break: break-all;
    min-width: 100px;
    div {
      padding: $padding/10;
    }
  }
  &--bottom {
    opacity: 0.3;
  }
  &--chart {
    min-width: 100px;
    max-width: 200px;
  }
}
