@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";
@import "styles/_sizes.scss";

$description-block-width: 250px;
$program-width: 312px;
$program-height: 312px;
$multiplier: 1.5;
$chart-width: 160px;

@mixin table-title() {
  opacity: 0.3;
  font-size: $font-size-small-mobile;
  color: white;
  text-align: left;
  padding-bottom: $font-size-small-mobile;
  @include media-breakpoint-landscape-phone() {
    font-size: $font-size-small;
    padding-bottom: $font-size-small;
  }
}

.funds-table-container {
  padding: $padding-middle-mobile 0;
  @include media-breakpoint-landscape-phone() {
    padding: $padding-middle 0;
  }
}

.funds-table__cell {
  & .assets {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &--avatar-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .program-avatar {
      width: 20px;
      @include media-breakpoint-landscape-phone() {
        width: 40px;
      }
    }
  }
  &--title {
    min-width: 50px;
    div {
      padding: $padding-small/10;
    }
  }
  &--bottom {
    opacity: 0.3;
  }
  &--chart {
    min-width: 50px;
    max-width: 100px;
    @include media-breakpoint-landscape-phone() {
      min-width: 100px;
      max-width: 200px;
    }
  }
}
