@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";

$text-size: 13px;
.profitability {
  backface-visibility: hidden;
  display: inline-block;
  &--positive {
    color: $positive-color;
    &.profitability--chips {
      background-color: rgba($positive-color, 0.1);
    }
  }

  &--negative {
    color: $negative-color;
    &.profitability--chips {
      background-color: rgba($negative-color, 0.1);
    }
  }

  &--chips {
    font-size: $text-size/1.5;
    font-weight: 600;
    border-radius: 19.5px;
    padding: 4px 10px;
    background-color: rgba($label-color, 0.1);
    white-space: nowrap;

    @include media-breakpoint-landscape-phone() {
      font-size: $text-size;
      padding: 5px 13px;
    }
  }
}
