@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.surface {
  @include adaptive-padding(top, $padding-medium);
  @include adaptive-padding(bottom, $padding-small);
  background-color: $panel-background-color;
  box-sizing: border-box;

  @include media-breakpoint-landscape-phone() {
    border-radius: 0.5em;
  }

  &--without-paddings {
    padding: 0;
    border-radius: 0.5em;
  }

  &--horizontal-paddings {
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }
}
