@import "styles/_breakpoint.scss";
@import "styles/_constants.scss";

.program-list-filter-pane {
  flex: 1;
  max-width: 300px;
  @include media-breakpoint-desktop() {
    position: fixed;
    top: $header-height;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @include media-breakpoint-phone() {
    max-width: 100%;
  }
}
