@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.reallocate-container {
  padding: $padding-small;
  @include media-breakpoint-landscape-phone() {
    padding: $padding-small;
  }

  &__header {
    font-size: $font-size-h3-mobile;
    font-weight: 500;
    padding-bottom: $padding-xxsmall-mobile;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-h3;
      padding-bottom: $padding-xxsmall;
    }
  }

  &__buttons {
    padding-top: $padding-small-mobile;
    @include media-breakpoint-landscape-phone() {
      padding-top: $padding-small;
    }
  }

  .fund-assets {
    flex-direction: row;
    .fund-asset {
      &--default {
        background: rgba(255, 255, 255, 0.06);
      }
      &__remove-button {
        border: solid 2px rgba(19, 30, 38, 0.6);
      }
    }
  }
}
