@import "styles/_sizes";
@import "styles/_constants";

.social-link {
  align-items: flex-start;
  @include transition(height);
  height: auto;

  .social-input {
    &__wrapper {
      min-width: 150px;
      width: 100%;
    }
  }
}
