@import "~shared/styles/_sizes";
@import "~shared/styles/_constants";

.social-link {
  display: flex;
  align-items: center;
  margin-bottom: $padding-xsmall;
  @include transition(height);
  height: auto;

  &__form {
    width: 100%;
  }

  .social-input {
    &__wrapper {
      min-width: 150px;
      width: 100%;
    }
    &__adornment,
    &__label {
      color: #8d9397;
    }
    &__input:disabled {
      color: inherit;
    }
  }

  .social-name {
    cursor: pointer;
    color: #8d9397;
    font-weight: 500;
    letter-spacing: 0.4px;
    padding: $padding-xxsmall;
  }

  .social-logo {
    align-self: start;
    margin-right: $padding-xsmall;
  }

  .social-button {
    margin-right: $padding-xsmall;
  }
}
