.wp-transaction-list__header {
  font-size: 1.75rem;
  margin: 1rem 0;
  font-weight: 500;
  line-height: 1.2;
}

.wp-transaction-list__all-transactions {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
}
