@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.wallet-list {
  & .table__toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  &__cell {
    color: $text-light-color;
    min-width: 150px;

    &--currency {
      min-width: 200px;
    }

    &--buttons .chip {
      @include adaptive-margin(left, $padding-xsmall);
      width: 32px;
      height: 32px;
    }
  }

  &__button-add-funds {
    font-size: 18px;
  }

  & .table__cell:last-child {
    text-align: right;
  }

  &__link {
    color: $main-color;
  }

  &__icon {
    @include adaptive-margin(right, $padding-xsmall);
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }

  &__button-transfer {
    img {
      max-height: 13px;
    }
  }

  @include media-breakpoint-tablet() {
    & .table__toolbar {
      padding: 0 32px;
      flex-direction: row;
    }
  }
}
