@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";
@import "styles/_sizes.scss";

$asset-icon-size: 30px;
$asset-icon-size-mobile: $asset-icon-size/$divider-padding;

.assets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include media-breakpoint-landscape-phone() {
    align-items: center;
    flex-direction: row;
  }
  &--text {
    flex-direction: row;
  }
}

.asset {
  font-size: $font-size-small-mobile;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding-small/2/$divider-padding;
  border-radius: $border-radius/2;
  background: $separator-color;
  font-weight: 400;
  margin-right: $padding-small/2/$divider-padding;
  margin-bottom: $padding-small/2/$divider-padding;
  color: $text-light-color;
  &:last-child {
    margin-right: 0;
  }
  &__icon {
    display: flex;
    align-items: center;
    width: $asset-icon-size-mobile;
    height: $asset-icon-size-mobile;
  }
  &__icon-img {
    width: $asset-icon-size-mobile;
    height: $asset-icon-size-mobile;
  }
  &__currencies {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__currency-full {
    white-space: nowrap;
  }

  &__currency-full, &__currency-short {
    padding-left: $padding-small/2/$divider-padding;
  }

  &__percent {
    padding-left: $padding-small/$divider-padding;
  }

  &__currency-short {
    opacity: 0.4;
  }

  @include media-breakpoint-landscape-phone() {
    font-size: $font-size-small;
    padding: $padding-small/3;
    margin-right: $padding-small/2;
    margin-bottom: $padding-small/2;
    border-radius: $border-radius;

    &__currency-full, &__currency-short {
      padding-left: $padding-small/2;
    }

    &__percent {
      padding-left: $padding-small;
    }
    &__icon {
      width: $asset-icon-size;
      height: $asset-icon-size;
    }
    &__icon-img {
      width: $asset-icon-size;
      height: $asset-icon-size;
    }
  }
  &--text {
    padding: 0;
    margin: 0;
    background: none;
    & .asset__currency-short {
      padding-left: 0;
    }
  }
}
