@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";
@import "~shared/styles/_hide";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    margin-right: $padding-small/2;
  }

  &__buttons,
  &__navigation,
  &__profile,
  &__wallet {
    @include hide-on-landscape-tablet(flex);
  }

  &__right,
  &__left,
  &__center {
    display: flex;
    align-items: center;
  }

  &__center {
    flex-grow: 2;
    justify-content: flex-end;
  }

  &__buttons {
    width: 100%;
    justify-content: flex-end;
    a + a {
      margin-left: $padding-xxsmall;
    }
  }

  @include media-breakpoint-landscape-tablet() {
    &__center {
      justify-content: space-between;
    }
    &__right {
      flex-grow: 2;
      justify-content: space-between;
    }
    &__menu {
      display: flex;
    }
    &__search {
      margin-right: 0;
    }
  }
}
