@import "styles/_colors.scss";
@import "styles/_constants.scss";
@import "styles/_breakpoint.scss";

.login {
  &__heading {
    margin: 0 0 35px 0;
  }
}

.login-footer {
  padding: 28px 80px;
  display: flex;
  flex-direction: row;
  background-color: $secondary-background-color;
}
