@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";
@import "styles/_constants";

$pie-chart-size: 140px;
$bullet-size: 8px;
$bullet-size-selected: $bullet-size * 2;

.dashboard-pie-chart {
  &__pie-chart {
    box-sizing: border-box;
    @include width($pie-chart-size);
    @include height($pie-chart-size);
    margin: 0 $padding-big 0 0;
    @include media-breakpoint-landscape-tablet() {
      margin: 0 $padding-big;
    }
  }
  &__container {
    @include details-block-horizontal-paddings;
    display: flex;
  }
  &__name-container {
    cursor: pointer;
    &--selected {
      .dashboard-pie-chart__bullet {
        width: $bullet-size-selected;
        height: $bullet-size-selected;
        min-width: $bullet-size-selected;
      }
      .dashboard-pie-chart__name {
        opacity: 1;
        font-weight: 600;
      }
    }
  }
  &__bullet {
    border-radius: 50%;
    width: $bullet-size;
    height: $bullet-size;
    min-width: $bullet-size;
    @include transition();
  }
  &__name {
    @include font-size($font-size-paragraph);
    opacity: 0.8;
    letter-spacing: 0.47px;
    @include transition(opacity);
  }
}
