@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";

.program-period-pie {
  display: flex;
  align-items: center;
  width: 100%;

  &__text {
    white-space: nowrap;
    //min-width: 95px;
    padding-left: 0.5rem;
  }
}
