@import "styles/_colors.scss";

.trader-deal {
  background: white;
  border: 1px solid $border-color;
}

.trader-deal__short-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
}

.trader-deal__detail {
  padding: 1rem;
}

.trader-deal__cell {
  flex: 1;
}

.trader-deal__expand {
  flex: 1;
  max-width: 10px;
  cursor: pointer;
  &:hover {
    .expand-control {
      fill: $alternate-color;
    }
  }
}

.trader-deal__expand--open {
  svg {
    transform: rotate(-180deg);
  }
  .expand-control {
    fill: $alternate-color;
  }
}

.trader-deal__info {
  flex: 2;
  display: flex;
}

.trader-deal__date {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
