@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_colors.scss";

.transaction-details {
  .dialog {
    &__header {
      margin-bottom: $padding-xsmall;
    }
  }
}

.transaction-asset {
  display: flex;
  flex-direction: row;

  &--fund {
    .program-avatar {
      margin-right: 0;
    }
  }

  &__description {
    margin-left: 20px;

    p {
      padding-bottom: 4px;
    }
  }
  &__title {
    font-size: 16px;
  }
  &__trader {
    font-size: 12px;
  }
}

.external-transaction {
  display: flex;
  flex-direction: row;
  &__status,
  &__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: stretch;
    img {
      margin-left: 20px;
    }
  }
  &__wallet {
    width: 44px;
    height: 44px;
  }
  &__icon {
    margin-right: 30px;
  }
  &__rate {
    opacity: 0.5;
  }
  &__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    word-break: break-all;
    white-space: normal;

    .gv-btn.gv-btn--text {
      padding: 10px 0;
      justify-content: start;
      color: $primary-color;
      transition: opacity 250ms;

      &:hover {
        color: $primary-color;
        opacity: 0.5;
      }
    }
  }
}
