@import "~shared/styles/_colors";
@import "~shared/styles/breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.funds-list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;

  @include media-breakpoint-tablet() {
    grid-column-gap: 40px;
  }

  .table-card {
    background-color: $main-color;
    color: #100e3b;
    margin: 0;
    min-width: 260px;

    @include media-breakpoint-tablet() {
      min-width: 410px;
      height: 440px;
      padding: 35px;
    }

    @include media-breakpoint-landscape-tablet() {
      min-width: 385px;
      height: 415px;
    }

    @include media-breakpoint-desktop() {
      min-width: 430px;
      height: 460px;
    }

    .table-card__title {
      color: #100e3b;
      font-weight: 600;
    }

    .fund-asset {
      background-color: $landing-bg-gray;
      color: #100e3b;
      font-weight: 600;
    }

    .table-card__actions {
      display: none;
    }
  }
}
