@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.statistics-rating-item {
  @include font-size($font-size-h3);
  @include adaptive-padding(right, $padding-medium);
  @include adaptive-padding(bottom, $padding-xsmall);
  font-weight: 600;
  display: flex;
  align-items: center;

  &__label {
    color: $text-light-color;
    letter-spacing: 0.21px;
  }

  &__value {
    margin-left: 10px;

    &--ellipse {
      background-color: rgba($primary-color, 0.1);
      color: $primary-color;
      border-radius: 6px;
      padding: 5px 10px;
    }
  }

  .profitability {
    @include font-size($font-size-h3);
  }
}
