@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.details-structure {
  overflow: hidden;

  &__cell,
  &__head-cell {
    font-size: $font-size-paragraph-mobile;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
    }
  }

  &__cell--reallocate-date {
    padding-right: $padding-xsmall;
  }

  &__funds-asset {
    width: 100%;
  }
}
