@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.details-trades {
  overflow: hidden;

  &__delay-question {
    cursor: help;
    box-sizing: border-box;
    font-weight: 800;
    line-height: 15px;
    text-align: center;
    font-size: 8px;
    border: 1px solid rgba($icon-color, 0.2);
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  &__history-popup-item {
    display: flex;
    @include font-size($font-size-common);
  }

  &__history-popup-item-name {
    width: 200px;
  }

  &__history-popup-item-value {
    white-space: nowrap;
  }

  &__cell,
  &__head-cell {
    height: 50px;
    font-size: $font-size-paragraph-mobile;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
    }
  }

  &__cell {
    &--profit {
      display: flex;
      justify-content: space-between;
    }
  }
}
