@import "~shared/styles/_sizes";
@import "~shared/styles/_breakpoint";

.dashboard {
  &__empty-events-text {
    padding: $padding-xxsmall-mobile 0;
    font-size: $font-size-small-mobile;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: 0.7px;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      padding: $padding-xxsmall 0;
      font-size: $font-size-small;
    }
  }

  &__empty-events-item {
    padding: $padding-xsmall-mobile 0;
    display: flex;
    align-items: center;
    @include media-breakpoint-landscape-phone() {
      padding: $padding-xsmall 0;
    }
  }

  &__empty-events-item-label {
    padding-left: $padding-xsmall-mobile;
    font-size: $font-size-paragraph-mobile;
    font-weight: 500;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-xsmall;
      font-size: $font-size-paragraph;
    }
  }
}
