@import "~shared/styles/_colors";
@import "~shared/styles/_constants";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.login {
  display: flex;
  flex-direction: column;
  flex: 1 0 70%;

  &-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 70%;

    &__forgot {
      margin-bottom: 30px;
    }
    & .form-error {
      padding-bottom: $padding-small;
    }
  }
  &__submit-block {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 36px;
  }
  &__submit-button {
    align-self: flex-start;
    margin-top: auto;
  }
  &__top-counter {
    height: 3px;
    background: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
  }
}
