@import "~shared/styles/_colors.scss";
@import "~shared/styles/_constants.scss";
@import "~shared/styles/_sizes.scss";

.notification-settings {
  &__title {
    @include adaptive-padding(bottom, $padding-medium);
    overflow-wrap: break-word;
    font-size: $font-size-common;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #3bcdbd;
  }

  &__subtitle {
    font-size: $font-size-small;
    letter-spacing: 0.48px;
    font-weight: 500;
  }
}

.notification-entity {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  min-width: 344px;
  color: $main-color;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  padding: 11px 16px;
  border-radius: $border-radius;
  margin: 0 -16px;

  &:hover {
    background-color: $secondary-background-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__count {
    margin-left: auto;
  }
}

.program-notification {
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

.notification-settings-page {
  padding: 0 $padding-xsmall;

  @include media-breakpoint-tablet() {
    padding: 0;
  }
}
