@import "styles/_colors.scss";
@import "styles/_constants.scss";
@import "styles/_breakpoint.scss";

.login {
  box-sizing: border-box;

  &__left,
  &__right {
    display: flex;
    position: relative;
  }

  &__right {
    flex-direction: column;
    justify-content: space-between;
  }

  &__left,
  &__header {
    display: none;
  }

  &__header {
    display: none;
  }

  @include media-breakpoint-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 100px;
    background: url(../../shared/media/bgnd.svg) no-repeat bottom;
    background-size: 100%;

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      padding: 30px;
      width: 400px;
      border-radius: $border-radius;
      background-color: $background-color;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
      height: 100%;
      max-height: 650px;
    }

    &__header {
      display: block;
    }

    &__logo {
      display: flex;
      width: 127px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__description {
      font-weight: 300;
      font-size: 44px;
      margin-top: 50%;
      max-width: 330px;
      letter-spacing: 0.3px;
    }
  }

  @include media-breakpoint-desktop-large {
    &__right {
      width: 550px;
    }
  }

  .gv-text-field {
    margin-bottom: 16px;
  }

  .gv-btn--primary {
    margin-top: 50px;
  }

  .gv-text-field__wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .gv-text-field__error {
    bottom: 0;
  }
}
