@import "styles/_colors";
@import "styles/_breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.referral-program-section {
  padding-top: 100px;

  @include media-breakpoint-large-desktop() {
    padding-top: 140px;
  }

  &__container {
    @include container();

    @include media-breakpoint-tablet() {
      @include grid();
    }
  }

  &__wrapper {
    background-color: $landing-bg-gray;
    padding-top: 100px;

    @include media-breakpoint-large-desktop() {
      padding-top: 140px;
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  h1.referral-program-section__title {
    margin-bottom: 100px;
  }

  &__title,
  &__subtitle {
    grid-column: 4/10;
    text-align: center;
  }

  h2.referral-program-section__subtitle {
    margin-bottom: 60px;

    @include media-breakpoint-tablet() {
      margin-bottom: 100px;
    }
  }

  &__img {
    grid-column: 2/12;
    background-image: url("../../images/referral/320.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 100px;

    @include media-breakpoint-tablet() {
      background-image: url("../../images/referral/768.png");
      height: 800px;
      margin-bottom: 120px;
    }

    @include media-breakpoint-landscape-tablet() {
      background-image: url("../../images/referral/1024.png");
      height: 420px;
    }

    @include media-breakpoint-tablet() {
      height: 510px;
    }

    @include media-breakpoint-large-desktop() {
      height: 635px;
    }
  }

  &__adv-list {
    grid-column: 2/12;
    padding-bottom: 100px;

    @include media-breakpoint-large-desktop() {
      padding-bottom: 140px;
    }
  }

  &__list {
    grid-column: 4/10;
    padding-bottom: 100px;

    @include media-breakpoint-large-desktop() {
      padding-bottom: 140px;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  .advantages-list__item--last {
    display: block;
  }
}
