@import "styles/_breakpoint.scss";
.ti-buttons {
  display: flex;
  order: 4;
  flex-direction: column;
  max-width: 150px;

  @include media-breakpoint-desktop() {
    order: 3;
  }
  @include media-breakpoint-phone() {
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
  }
}

.ti-button {
  margin: 1rem;
  min-width: 110px;
}
