@import "~shared/styles/_sizes";

.unauth-popup {
  &__message {
    font-size: $font-size-paragraph;
    line-height: $font-size-paragraph * 1.5;
    margin-bottom: $padding-small;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
