@import "styles/_colors.scss";
@import "styles/_constants.scss";
@import "styles/_breakpoint.scss";

.login {
  &__header {
    margin-bottom: 30px;
  }

  &__heading {
    margin: 0 0 35px 0;
  }

  &__submit-button {
    margin-top: 145px;
  }
}

.login-footer {
  box-sizing: border-box;
  height: 100%;
  padding: 28px 80px;
  display: flex;
  flex-direction: row;
  background-color: $secondary-background-color;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
}
