@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

$small-padding: 20px;
$title-size: 32px;
$subtitle-size: 17.5px;
$large-font-size: 16px;
$middle-font-size: 14px;
$small-font-size: 12px;
$mobile-padding-divider: 3;
$mobile-text-divider: 1.5;
$mobile-title-divider: 2;

.gvt-fees {
  width: auto;
  max-width: 800px;
  margin: $padding-small/2 0;
  font-size: $font-size-common;

  * {
    box-sizing: border-box;
  }
  & h3 {
    padding-bottom: $padding-small;
  }
  & li,
  & p {
    margin-bottom: 5px;
    line-height: 26px;
    font-size: 13px;

    @include media-breakpoint-desktop() {
      line-height: 32px;
      font-size: 14px;
      letter-spacing: 0.05px;
    }
  }
  &__container {
    max-width: none !important;
  }
  &__paragraph {
    @include adaptive-padding(bottom, $padding-xsmall);
    line-height: 2;
    letter-spacing: 0.2px;
    & b {
      font-weight: 600;
    }
  }
  &__table-wrapper {
    @include adaptive-padding(top, $padding-small);
    width: 100%;
  }
  &__table {
    @include adaptive-padding(bottom, $padding-xsmall);
    @include font-size($font-size-common);
    width: 100%;
    text-align: left;
    border-spacing: 0;

    tbody {
      tr {
        background: rgba(232, 239, 243, 0.04);
      }
      tr:nth-child(even) {
        background: none;
      }
    }
  }
  &__table-value {
    @include vertical-paddings($padding-xxsmall);

    &:nth-child(2) {
      font-weight: 800;
    }
  }
}
