@import "~shared/styles/_colors";
@import "~shared/styles/breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.accordion {
  &__header {
    @include transition(opacity);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;

    @include media-breakpoint-tablet() {
      font-size: 24px;
    }

    @include media-breakpoint-landscape-tablet() {
      font-size: 20px;
    }

    @include media-breakpoint-desktop() {
      padding-top: 15px;
      padding-bottom: 15px;

      &:hover {
        opacity: 0.7;
      }
    }

    @include media-breakpoint-large-desktop() {
      font-size: 22px;
    }
  }

  &__arrow {
    @include transition(transform);
    display: inline-block;
    transform: rotate(90deg);
    margin-right: 10px;

    svg {
      stroke: $row-color;
    }

    &--up {
      transform: rotate(270deg);
    }
  }

  &__content {
    border-top: 1px solid rgba($row-color, 0.3);
    padding: 10px 20px;

    @include media-breakpoint-desktop() {
      padding: 15px 25px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
