@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-programs {
  &__cell {
    font-size: $font-size-small-mobile;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-small;
    }
    &--avatar-title {
      display: flex;
      align-items: center;

      .gv-btn {
        @include font-size($font-size-paragraph);
        padding: 5px;
      }
    }

    &--title {
      width: 22%;
      padding: 0;
    }
    &--share {
      width: 10%;
    }
    &--currency {
      width: 10%;
    }
    &--period {
      width: 10%;
    }
    &--value {
      width: 10%;
    }
    &--profit {
      width: 10%;
    }
    &--chart {
      width: 15%;
      max-width: 200px;
    }
    &--status {
      width: 13%;
    }
    &--status-block {
      display: flex;
      align-items: center;
    }
  }
}
