@import "~shared/styles/_colors";
@import "~shared/styles/breakpoint";
@import "../../styles/mixins";

.seo-list {
  @include reset-list();

  &__link {
    @include reset-link();
    @include transition(color);
    display: block;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $main-color;

    &:hover,
    &:focus,
    &:active {
      color: $landing-link-hover;
    }

    @include media-breakpoint-tablet() {
      font-weight: 500;
      font-size: 14px;
      padding-bottom: 40px;
      padding-top: 0;
    }
  }
}
