@import "~shared/styles/_colors.scss";

.select {
  display: flex;
  min-width: 150px;
  height: 22px;

  &__options {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  &__value {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    letter-spacing: 0.4px;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    color: $main-color;
    cursor: pointer;
  }

  &__text {
    margin-right: 8px;
  }

  &__icon {
    display: inline-flex;
    margin-left: auto;
  }

  &__option {
    padding: 15px 30px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &--selected {
      color: $primary-color;
    }
  }

  &.gv-text-field__input {
    .select__value {
      flex: 1;
      font-size: 16px;
    }
  }

  &--disabled {
    .select__content {
      cursor: default;
    }
    .select__value {
      color: $text-dark-color;
    }
  }
}
