@import "styles/_colors.scss";

.level-filter {
  width: 200px;
  margin: 0 25px;

  &__btns {
    text-align: end;
  }

  &__btn {
    padding: 1em;
  }

  .rc-slider {
    margin: 1.5rem 0;
  }

  .rc-slider-track {
    background-color: $alternate-color;
  }

  .rc-slider-handle {
    border-color: $alternate-color;
  }

  .rc-slider-handle:hover {
    border-color: $alternate-color;
  }
  .rc-slider-handle:active,
  .rc-slider-handle:focus {
    border-color: $alternate-color;
    box-shadow: 0 0 5px $alternate-color;
  }

  .rc-slider-dot-active {
    border-color: $alternate-color;
  }
}
