{
  "extends": "react-app",
  "plugins": ["simple-import-sort",  "prettier", "import"],
  "rules": {
    "simple-import-sort/imports": "error",
    "sort-imports": "off",
    "import/order": "off",
    "prettier/prettier": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "off",
    "no-use-before-define": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
