{
  "prettier.arrowParens": "avoid",
  "prettier.bracketSpacing": true,
  "prettier.disableLanguages": ["vue"],
  "prettier.eslintIntegration": true,
  "prettier.ignorePath": ".prettierignore",
  "prettier.jsxBracketSameLine": false,
  "prettier.parser": "babylon",
  "prettier.printWidth": 80,
  "prettier.proseWrap": "preserve",
  "prettier.requireConfig": false,
  "prettier.semi": true,
  "prettier.singleQuote": false,
  "prettier.stylelintIntegration": false,
  "prettier.tabWidth": 2,
  "prettier.trailingComma": "none",
  "prettier.useTabs": false
}
