@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_colors.scss";

.dashboard-block {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__link {
    color: $text-light-color;
    display: inline-block;
    text-align: center;
    font-size: $font-size-h1;
    line-height: $font-size-h2;
    width: $font-size-h2;
  }
}

.dashboard-horizontal-list {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  & .table-card:last-child {
    margin-right: 0;
  }

  &__shadow-wrapper {
    display: flex;
    @include details-block-left-margin();
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 70px;
      z-index: 2;
      transition: opacity 250ms;
      pointer-events: none;
      right: 0;
      background: linear-gradient(
        90deg,
        rgba(19, 30, 38, 0),
        $panel-background-color 50px
      );
    }
    &--hided {
      &:after {
        opacity: 0;
      }
    }
    &--dark-shadow {
      &:after {
        background: linear-gradient(
          90deg,
          rgba(19, 30, 38, 0),
          $background-color 50px
        );
      }
    }
    &--left {
      &:after {
        left: 0;
        right: auto;
        background: linear-gradient(
          90deg,
          $panel-background-color,
          rgba(19, 30, 38, 0) 50px
        );
      }
      &.dashboard-horizontal-list__shadow-wrapper--dark-shadow {
        &:after {
          background: linear-gradient(
            90deg,
            $background-color,
            rgba(19, 30, 38, 0) 50px
          );
        }
      }
    }
  }
}
