@import "~shared/styles/_sizes.scss";
.dashboard-block {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include details-block-horizontal-paddings();
  }

  &__link {
    display: inline-block;
    text-align: center;
    font-size: $font-size-h1;
    line-height: $font-size-h2;
    width: $font-size-h2;
  }
}

.dashboard-horizontal-list {
  display: flex;
  overflow-x: scroll;
  @include details-block-left-padding();
}
