@import "styles/_sizes";
@import "styles/_colors";
@import "styles/_shadow";

.dashboard-block {
  margin-bottom: $padding-xsmall;
  &--tablet {
    &:not(:last-child) {
      @include media-breakpoint-tablet() {
        margin-right: $padding-xsmall;
      }
    }
  }
  &--landscape-tablet {
    &:not(:last-child) {
      @include media-breakpoint-landscape-tablet() {
        margin-right: $padding-xsmall;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include adaptive-margin(bottom, $padding-xsmall);
  }

  &__link {
    color: $text-light-color;
    display: inline-block;
    text-align: center;
    font-size: $font-size-h1;
    line-height: $font-size-h2;
    width: $font-size-h2;
  }
}

.dashboard-horizontal-list {
  display: flex;
  overflow-x: scroll;
  width: 100%;

  &__shadow-wrapper {
    @include details-block-left-margin();
    @include details-block-right-margin();
  }
}

.dashboard-horizontal-window-list {
  overflow-y: hidden !important;
}
