@import "./_breakpoint.scss";

// widths
$small-width: 250px;

//paddings
$padding-xxxxlarge: 190px;
$padding-xxlarge: 108px;
$padding-xlarge: 90px;
$padding-large: 80px;
$padding-big: 62px;
$padding-upper-medium: 50px;
$padding-medium: 40px;
$padding-small: 32px;
$padding-xsmall: 20px;
$padding-xxsmall: 10px;
$padding-xxxsmall: 5px;

//fonts
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 17px;
$font-size-h4: 16px;
$font-size-paragraph: 14px;
$font-size-common: 13px;
$font-size-small: 12px;
$font-size-xsmall: 11px;
$font-size-xxsmall: 9px;
$font-size-xxxxsmall: 7.5px;

//others
$scroll-width: 6px;
$small-avatar-size: 44px;
$button-icon-size: 20px;
$input-line-height: 32px;
$wallet-item-size: $small-avatar-size;
$close-button-size: $button-icon-size;
$details-block-padding: $padding-small;
$tag-font-size: 11px;
$border-radius: 5px;
$border-radius-middle: 8px;
$btn-height: 50px;
$btn-width: 149px;
$btn-height-small: 30px;
$btn-width-small: 100px;
$btn-height-xsmall: 20px;
$btn-width-xsmall: 50px;
$icon-size: 29px;
$avatar-size: 120px;
$asset-height: 40px;
$modal-width: 360px;
$details-statistic-section-width: 300px;
$tooltip-padding: 16px;
$popover-padding-small: $tooltip-padding;
$popover-padding-medium: $padding-xsmall;
$popover-padding-large: $padding-small;

//dividers
$divider-padding: 2;
$divider-title: 2;
$divider-text: 1.2;

//paddings for mobile
$padding-xxlarge-mobile: $padding-xxlarge/$divider-padding;
$padding-xlarge-mobile: $padding-xlarge/$divider-padding;
$padding-large-mobile: $padding-large/$divider-padding;
$padding-big-mobile: $padding-big/$divider-padding;
$padding-medium-mobile: $padding-medium/$divider-padding;
$padding-small-mobile: $padding-small/$divider-padding;
$padding-xsmall-mobile: $padding-xsmall/$divider-padding;
$padding-xxsmall-mobile: $padding-xxsmall/$divider-padding;

//fonts for mobile
$font-size-h1-mobile: $font-size-h1/$divider-title;
$font-size-h2-mobile: $font-size-h2/$divider-text;
$font-size-h3-mobile: $font-size-h3/$divider-text;
$font-size-h4-mobile: $font-size-h4/$divider-text;
$font-size-paragraph-mobile: $font-size-paragraph/$divider-text;
$font-size-common-mobile: $font-size-common/$divider-text;
$font-size-small-mobile: $font-size-small/$divider-text;

//others for mobile
$border-radius-mobile: $border-radius/$divider-text;
$border-radius-middle-mobile: $border-radius-middle/$divider-text;
$btn-height-mobile: $btn-height/$divider-text;
$btn-width-mobile: $btn-width/$divider-text;
$icon-size-mobile: $icon-size/$divider-text;
$avatar-size-mobile: $avatar-size/$divider-title;

//mixins
@mixin line-height($height) {
  $divider: $divider-text;

  line-height: $height/$divider;

  @include media-breakpoint-landscape-phone() {
    line-height: $height;
  }
}

@mixin right($right, $divider: $divider-text) {
  right: $right/$divider;
  @include media-breakpoint-landscape-phone() {
    right: $right;
  }
}

@mixin height($height, $divider: $divider-text) {
  height: $height/$divider;

  @include media-breakpoint-landscape-phone() {
    height: $height;
  }
}

@mixin width($width) {
  $divider: $divider-text;

  width: $width/$divider;

  @include media-breakpoint-landscape-phone() {
    width: $width;
  }
}

@mixin font-size($font-size) {
  $divider: $divider-text;

  @if $font-size == $font-size-h1 {
    $divider: $divider-title;
  }
  font-size: $font-size/$divider;

  @include media-breakpoint-landscape-phone() {
    font-size: $font-size;
  }
}

@mixin adaptive-padding($direction, $padding-size, $divider: $divider-padding) {
  padding-#{$direction}: $padding-size/$divider;

  @include media-breakpoint-landscape-phone() {
    padding-#{$direction}: $padding-size;
  }
}

@mixin adaptive-full-padding($padding, $divider: $divider-padding) {
  @include vertical-paddings($padding, $divider);
  @include horizontal-paddings($padding, $divider);
}

@mixin vertical-paddings($vertical-padding, $divider: $divider-padding) {
  @include adaptive-padding(top, $vertical-padding, $divider);
  @include adaptive-padding(bottom, $vertical-padding, $divider);
}

@mixin horizontal-paddings($horizontal-padding, $divider: $divider-padding) {
  @include adaptive-padding(left, $horizontal-padding, $divider);
  @include adaptive-padding(right, $horizontal-padding, $divider);
}

@mixin vertical-margins($vertical-margin) {
  @include adaptive-margin(top, $vertical-margin);
  @include adaptive-margin(bottom, $vertical-margin);
}

@mixin horizontal-margins($horizontal-margin) {
  @include adaptive-margin(left, $horizontal-margin);
  @include adaptive-margin(right, $horizontal-margin);
}

@mixin adaptive-margin($direction, $margin-size) {
  margin-#{$direction}: $margin-size/$divider-padding;

  @include media-breakpoint-landscape-phone() {
    margin-#{$direction}: $margin-size;
  }
}

@mixin details-block-left-padding() {
  @include adaptive-padding(left, $details-block-padding);
}

@mixin details-block-left-margin() {
  @include adaptive-margin(left, $details-block-padding);
}

@mixin details-block-right-padding() {
  @include adaptive-padding(right, $details-block-padding);
}

@mixin details-block-horizontal-paddings() {
  @include details-block-left-padding();
  @include details-block-right-padding();
}

@mixin adaptive-border-radius($size) {
  border-radius: $size/$divider-text;
  @include media-breakpoint-landscape-phone() {
    border-radius: $size;
  }
}

@mixin terminal-table($size) {
  width: 100%;
  border-spacing: 0;
  & th {
    text-align: left;
    font-weight: normal;
    @if $size == middle {
      &,
      & span {
        font-size: $font-size-common;
      }
    }
    @if $size == small {
      &,
      & span {
        font-size: $font-size-xxsmall;
      }
    }
  }
  & td {
    font-family: "DIN Pro Regular", sans-serif;
    @if $size == middle {
      font-size: $font-size-small;
    }
    @if $size == small {
      font-size: $font-size-xsmall;
    }
  }
}
