@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_constants";

.icon {
  height: 100%;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;

  svg {
    height: 100%;
    width: 100%;
  }

  svg path {
    @include transition(fill, stroke);
  }

  svg [fill] {
    fill: white;
  }

  svg [stroke] {
    stroke: white;
  }

  &--secondary {
    svg [fill] {
      fill: $icon-color;
    }
    svg [stroke] {
      stroke: $icon-color;
    }
  }

  &--primary {
    svg [fill] {
      fill: $primary-color;
    }
    svg [stroke] {
      stroke: $primary-color;
    }
  }
  &--rotate {
    transform: rotate(180deg);
  }
  &--collapse {
    background-image: url("../../media/collapse.svg");
  }
  &--ring-circle {
    background-image: url("../../media/ring-circle.svg");
  }
  &--ring {
    width: 16px;
  }
  &--wallet {
    path {
      fill: transparent;
    }
  }
  &--close {
    width: 10px;
    height: 10px;
  }
  &--controls {
    height: 20px;
    background-image: url("../../media/controls.svg");
  }
  &--search {
    width: 18px;
    height: 18px;

    &:hover {
      svg [stroke] {
        stroke: $primary-color;
      }
    }
  }
  &--arrow {
    width: 7px;
    height: 7px;
    background-image: url("../../media/arrow.svg");
  }
  &--menu {
    height: 15px;
    width: 16px;
    background-image: url("../../media/menu.svg");
  }

  &--favorite {
    cursor: pointer;
    width: 20px;
    height: 19px;

    @include media-breakpoint-landscape-phone() {
      width: 28px;
      height: 27px;
    }

    svg [stroke] {
      stroke: $label-color;
    }
    svg [fill] {
      fill: none;
    }
    &:hover {
      svg [stroke] {
        stroke: $text-accent-color;
      }
    }
    &.icon--selected {
      svg [stroke] {
        stroke: none;
      }
    }
  }

  &--calculator {
    width: 21px;
    height: 26px;
    &:hover {
      svg [fill] {
        fill: $primary-color;
      }
    }
  }

  &--copy {
    width: 14px;
  }

  &--more {
    svg {
      fill: none;
    }
  }

  &--referrer {
    height: 13px;
    width: 13px;
  }

  &--security {
    svg [fill] {
      fill: none;
    }
  }

  &--selected {
    svg {
      fill: $primary-color;
      stroke: $primary-color;
    }
    svg [fill] {
      fill: $primary-color;
    }
    svg [stroke] {
      stroke: $primary-color;
    }

    &:hover {
      svg [stroke] {
        stroke: $text-accent-color;
      }
    }
  }

  &--actions-circle {
    circle[fill] {
      fill: rgba($label-color, 0.3);
    }
    g[fill] {
      fill: white;
    }
    &.icon--primary {
      g[fill] {
        fill: $panel-background-color;
      }
      circle[fill] {
        fill: white;
      }
    }
  }
}
