.program-details-statistic-section {
  display: flex;
  flex-wrap: wrap;
  &__statistic {
    flex: 1 1;
    margin-right: 30px;
    min-height: 400px;
  }

  &__chart {
    flex: 3 1;
    min-height: 400px;
  }
}
