@import "styles/_colors.scss";

.dashboard-portfolio-chart-section {
  .dashboard-portfolio-chart-stat {
    &__statistic-item {
      margin-top: 15px;
    }
    &__adornment {
      margin-left: 10px;
    }
  }

  &__chart {
    height: 380px;
    width: 100%;
    margin-top: 20px;

    .assets-tooltip {
      .gv-tooltip__heading,
      .gv-tooltip__date {
        margin-left: 30px;
      }

      .asset {
        display: flex;
        align-items: baseline;
        padding-top: 10px;
        width: 100%;

        &:not(:last-of-type) {
          padding-bottom: 10px;
          border-bottom: 2px solid rgba($separator-color, 0.1);
        }

        &__indicator {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          margin-top: 10px;
          margin-right: 20px;
        }

        &__stats {
          flex: 1;
          margin-right: 50px;
        }

        &__asset-title {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.4px;
          color: $text-accent-color;
          margin-bottom: 10px;
          max-width: 10em;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__asset-value {
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 0.3px;
          color: $text-dark-color;
        }

        &__change {
          text-align: right;
        }

        &__change-percent {
          margin-bottom: 5px;

          .chip--positive {
            background-color: rgba($positive-color, 0.1);
          }

          .chip--negative {
            background-color: rgba($negative-color, 0.1);
          }
        }

        &__change-value {
          font-size: 13px;
          font-weight: normal;
          letter-spacing: 0.3px;
          color: $text-dark-color;
        }
      }
    }
  }
}
