@import "styles/_breakpoint.scss";

.dashboard {
  margin-top: 4rem;
  @include media-breakpoint-phone() {
    margin-top: 5rem;
  }
}

.dashboard-subheader {
  margin-left: 2rem;
  font-size: 2rem;
  font-family: NeuzeitGroBol;
}
