@import "~shared/styles/_sizes";
@import "~shared/styles/_colors.scss";

.fees-tooltip-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  border-radius: 8px;
  @include font-size($font-size-paragraph);
  * {
    color: $main-color !important;
  }
  &__header,
  &__footer {
    @include vertical-paddings($padding-small);
    @include horizontal-paddings($padding-small);
    letter-spacing: 0.4px;
    font-weight: 400;
  }
  &__header {
    background-color: $panel-background-color;
  }
}
