@import "~shared/styles/_colors";
@import "~shared/styles/_constants";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.auth {
  display: flex;
  box-sizing: border-box;
  min-height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("../../../../media/bgnd.svg") no-repeat bottom;
  background-size: 100%;

  &__left {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: $padding-small 0;
  }

  &__right {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    background-color: $panel-background-color;
    border-radius: $border-radius;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    box-sizing: border-box;
    padding: 20px;
  }

  &__footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-common;
    background-color: $secondary-background-color;
    padding: $padding-xsmall;
  }

  &__logo {
    display: none;
    width: 127px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__quote {
    display: none;
    font-weight: 300;
    font-size: 44px;
    margin-top: 50%;
    max-width: 330px;
    letter-spacing: 0.3px;
  }

  @include media-breakpoint-landscape-phone() {
    padding: $padding-xsmall;
  }

  @include media-breakpoint-tablet() {
    flex-direction: column;
    &__left {
      margin-bottom: $padding-small;
    }
    &__right {
      min-width: 460px;
    }
    &__logo {
      display: flex;
    }

    &__content {
      padding: $padding-medium;
    }

    &__footer {
      padding: $padding-xsmall $padding-medium;
    }
  }

  @include media-breakpoint-landscape-tablet() {
    padding: $padding-large 0;
    flex-direction: row;
    align-items: inherit;

    &__left {
      height: 100%;
      min-height: 600px;
      margin-bottom: 0;
      padding-left: $padding-medium;
    }

    &__quote {
      display: block;
      margin-top: 110px;
      margin-left: 0;
      max-width: 760px;
    }

    &__quote-footer {
      font-size: $font-size-h2;
      margin-top: $padding-medium;
    }
  }

  @include media-breakpoint-desktop() {
    padding: 80px 100px;
    justify-content: space-between;
    &__left {
      padding-left: 0;
    }
    &__right {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      min-width: 476px;
    }
    &__content {
      padding: $padding-large $padding-large $padding-big;
    }
    &__footer {
      padding: $padding-medium $padding-large;
    }
  }
}
