@import "styles/_breakpoint";
@import "styles/_colors";
@import "styles/_constants";
@import "styles/_sizes";

.alert-message-list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: $padding-small/2;
  z-index: 9999;
  pointer-events: none;

  * {
    pointer-events: visible;
  }

  &__text {
    word-wrap: break-word;
    max-width: 300px;
    padding: $padding-small/4;
  }
  &__clear-all {
    background: $primary-color;
    color: $panel-background-color;
    font-size: $font-size-small;
    border-radius: $border-radius-middle * 2;
    padding: $padding-small/4;
    box-shadow: 0 5px 15px 0 $positive-background-color;
    cursor: pointer;
  }

  .alert-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: $panel-background-color;
    font-weight: 400;
    font-size: $font-size-small;
    padding: $padding-small/4;
    margin-bottom: $padding-small/2;
    border-radius: $border-radius-middle;
    box-shadow: $box-shadow-4;

    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-common;
      padding: $padding-small/4;
    }
    &--success {
      background-color: $positive-color;
      border-color: $positive-color;
    }

    &--error {
      color: #eb3b5a;
      background-color: hsl(349, 11%, 20%);
      border-color: $negative-color;
    }

    &--warning {
      color: $panel-background-color;
      background-color: #ecdf75;
      border-color: #ecdf75;
    }
  }
  &__close {
    padding-left: $padding-small/4;
    cursor: pointer;
  }
  &__close-button {
    transform: rotate(45deg);
    font-weight: 800;
    font-size: $font-size-h4 * 1.5;
    line-height: $font-size-h4;
  }
}
