@import "styles/_colors.scss";

.forgot-password {
  &__title {
    width: 164px;
    margin-bottom: 50px;
  }
  &__text {
    color: $auth-text-info-color;
    width: 270px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
