$column-width: 120px;

.transaction-history {
  &__table {
    & th,
    & td {
      width: $column-width;
      min-width: $column-width;
      max-width: $column-width;
      box-sizing: border-box;
    }
  }
}
