@import "~shared/styles/_sizes";
@import "~shared/styles/_constants";

.market-watch {
  @include trade-table();
  height: 100%;
  display: flex;
  flex-direction: column;

  &__row {
    font-family: "DIN Pro Regular", sans-serif;
  }

  &__table {
    width: 100%;
  }

  &__items-container {
    overflow-y: auto;
  }

  &__th {
    text-align: left;
    cursor: pointer;

    &--asc,
    &--desc {
      span {
        opacity: 1;
      }

      position: relative;

      &::before {
        @include transition(width);
        @extend %sortable-border-icon;
        height: 4px;
      }

      &::after {
        @include transition(width);
        @extend %sortable-border-icon;
      }
    }

    &--right {
      &.market-watch__th {
        text-align: right;
      }
    }

    &--desc {
      &::before {
        width: 10px;
      }

      &::after {
        width: 5px;
      }
    }

    &--asc {
      &::before {
        width: 5px;
      }

      &::after {
        width: 10px;
      }
    }
  }

  &__table-value {
    text-align: right;
  }

  &__cell {
    cursor: pointer;
  }
}

%sortable-border-icon {
  position: absolute;
  right: -15px;
  bottom: 5px;
  content: "";
  border-top: 1px solid white;
}
