@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.program-deal {
  background: white;
  border: 1px solid $border-color;
}

.program-deal__short-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
}

.program-deal__detail {
  padding: 1rem;
}

.program-deal__cell {
  flex: 1;
  padding: 0.2rem;
  @include media-breakpoint-phone() {
    .metric__value {
      font-size: 1rem;
    }
  }
}

.program-deal__expand {
  flex: 1;
  max-width: 10px;
  cursor: pointer;
  &:hover {
    .expand-control {
      fill: $alternate-color;
    }
  }
}

.program-deal__expand--open {
  svg {
    transform: rotate(-180deg);
  }
  .expand-control {
    fill: $alternate-color;
  }
}

.program-deal__info {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

.program-deal__date {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 4rem;
}
