@import "styles/_colors";
@import "styles/_constants";
@import "styles/_sizes";

.wallet-widget {
  &__icon {
    height: 20px;
    width: 20px;
  }

  &__amount {
    white-space: nowrap;
  }

  &__wallet {
    font-size: $font-size-common;
    cursor: pointer;

    &:hover {
      svg [stroke] {
        stroke: $primary-color;
      }
    }
  }
}
