@import "~shared/styles/_colors";
@import "~shared/styles/_constants";
@import "~shared/styles/_sizes";

.wallet-widget {
  display: flex;
  align-items: center;

  &__wallet {
    font-size: $font-size-common;
    display: flex;
    align-items: center;
    margin-right: $padding-xsmall;
    cursor: pointer;

    &:hover {
      svg [stroke] {
        stroke: $primary-color;
      }
    }
  }
}

.wallet-details {
  padding: 30px 20px;
}
