@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";

.asset-settings {
  padding-left: $padding-xsmall;
  padding-right: $padding-xsmall;
  box-sizing: border-box;
  @include media-breakpoint-landscape-phone() {
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__broker-info {
    display: flex;
    flex-direction: column;
  }

  &__signaling-edit-form-title-block {
    display: flex;
    align-items: center;

    & .gv-switch-wrapper {
      @include adaptive-padding(bottom, $padding-xsmall);
      margin: 0 $padding-xsmall;
    }
  }

  &__block {
    @include adaptive-margin(bottom, $padding-large);
    box-sizing: border-box;

    @include media-breakpoint-landscape-phone() {
      padding-left: 60px;
      border-left: 2px solid $secondary-color;
    }

    &:first-child {
      @include adaptive-margin(bottom, $padding-large);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .gv-checkbox-wrapper,
    .gv-text-field__wrapper {
      margin-left: 0;
    }
  }

  &__text {
    @include adaptive-padding(bottom, $padding-xsmall);
    color: rgba($text-light-color, 0.5);
    line-height: 24px;

    &--color-accent {
      color: $primary-color;
    }

    &--padding-top {
      @include adaptive-padding(top, $padding-xsmall);
    }

    @include media-breakpoint-landscape-phone() {
      max-width: 500px;
    }
  }

  &__block-wrapper {
    @include adaptive-margin(bottom, $padding-upper-medium);
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &--broker-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    .gv-text-field__wrapper {
      @include adaptive-margin(right, $padding-xsmall);
      width: 100%;
      @include media-breakpoint-landscape-phone() {
        width: auto;
      }
    }

    &--wide {
      .gv-text-field__wrapper {
        width: 100%;
      }
    }

    @include media-breakpoint-landscape-phone() {
      max-width: 765px;
    }
  }

  .svg-loader {
    max-width: 100%;
  }

  & .create-fund-settings__assets-and-line {
    padding-top: 0;
  }
}
