@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.details-block {
  box-sizing: border-box;
  margin-bottom: $padding-xsmall;
  @include adaptive-border-radius($border-radius);

  &--row {
    display: flex;
  }

  &--solid {
    background-color: $panel-background-color;
    @include adaptive-padding(top, $padding-medium);
    @include adaptive-padding(bottom, $padding-small);
  }

  &--bordered {
    @include vertical-paddings($padding-small);
    @include horizontal-paddings($padding-small);
    border: 1px solid rgba($main-color, 0.06);
    @include adaptive-border-radius($border-radius);
  }

  &--landscape-tablet {
    &:not(:last-child):not(.details-block--wide) {
      @include media-breakpoint-landscape-tablet() {
        margin-right: $padding-xsmall;
      }
    }
  }

  &--tablet {
    &:not(:last-child):not(.details-block--wide) {
      @include media-breakpoint-tablet() {
        margin-right: $padding-xsmall;
      }
    }
  }

  &--landscape-phone {
    &:not(:last-child):not(.details-block--wide) {
      @include media-breakpoint-landscape-phone() {
        margin-right: $padding-xsmall;
      }
    }
  }

  &--horizontal-paddings {
    @include details-block-horizontal-paddings();
  }

  &--table {
    .table__cell:first-child {
      @include details-block-left-padding();
    }

    .table__toolbar {
      @include details-block-horizontal-paddings();
    }
  }
}
