@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.program-item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10px;
  padding: 1rem;
  background-color: white;
  border: 1px solid $border-color;

  &__content {
    flex: 1;

  }

  &__order {
    display: inline-block;
    align-self: center;
    text-align: center;
    width: 2rem;
    margin-left: -1rem;
  }

  &__avatar {
    margin-right: 1rem;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    flex: 1;
    align-items: flex-start;
  }

  &__bookmark {
    margin-right: 1rem;
  }

  &__link {
    font-size: 1.5rem;
    line-height: 1;
  }

  &__days-left {
    flex: 1;
  }

  &__stats {
    order: 2;
  }

  // &__content {
  //   display: flex;
  //   flex-grow: 1;
  //   flex-wrap: wrap;
  //   padding: 1rem 0;
  // }

  @include media-breakpoint-phone() {

    flex-direction: column;

    &::after, &::before {
      content: "";
      width: 100%;
      order: 1;
    } 

    &__order {
      display: none;
    }

    &__info,
    &__days-left {
      flex-direction: column;
      align-items: flex-start;
    }

    &__info{
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: calc(100% - 62px - 3rem);
    }

    &__buttons {
      display: flex;
      order: 2;
      width: 100%;
      margin: 1rem 0 ;
      justify-content: space-between;
    }

    &__button {
      width: calc(50% - 0.5rem);
    }
  }
}
