svg#dashboard-icon {
  height: 17px;
  width: 24px;
}

svg#traders-icon {
  height: 14px;
  width: 24px;
}

svg#wallet-icon {
  width: 24px;
  height: 24px;
}

svg#settings-icon {
  width: 22px;
  height: 22px;
}
