@import "~shared/styles/_colors.scss";

.filter {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;

  &__label {
    opacity: 0.5;
    letter-spacing: 0.2px;
    color: $text-color;
  }

  &__value {
    letter-spacing: 0.2px;
    color: $text-accent-color;
    padding: 0 0.4rem;
  }

  &__arrow {
    stroke: #d8d8d8;
    &__is-open {
      stroke: $primary-color;
    }
  }

  &--tags {
    cursor: default;
    display: flex;
    flex-wrap: wrap;

    .filter__value {
      padding-left: 0;
    }

    .tag-button {
      margin-top: 2.5px;
      margin-bottom: 2.5px;
    }
  }
}

.gv-hangle__text {
  position: absolute;
  top: -20px;
  font-size: 0.8rem;
}
