@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.tile-filter {
  cursor: default;
  display: flex;

  &__value {
    display: flex;
  }

  &__item {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: $padding-xsmall;
  }

  &__button-plus {
    @include font-size(17px);
    font-weight: 400;
    padding-right: 3px;
  }

  &__button-remove.gv-btn {
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #293842;
    border: 2px solid $panel-background-color;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    &:hover:not(:disabled) {
      background-color: #161b20;
    }

    .icon {
      height: 6px;
      width: 6px;
    }
  }

  &__button-add.gv-btn {
    @include font-size(11px);
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
    padding: 0 $padding-xxsmall;
    white-space: nowrap;
    transition-property: border-color;
    border: 1px solid #6e757b;
    background-color: transparent;
    color: $main-color;

    &.tile-filter__button-add--active,
    &:hover:not(:disabled),
    &:active:not(:disabled) {
      border-color: $main-color;
      background-color: $main-color;
      color: $panel-background-color;
    }
  }
}

.tile-filter-popover {
  width: 236px;
  padding: $padding-xsmall;
  &__header {
    @include font-size($font-size-paragraph);
    font-weight: 600;
    color: $main-color;
  }
  &__search-wrapper {
    margin: 0;
  }
  &__items {
    padding-top: $padding-xsmall;
  }
}
