@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.request-line {
  color: $text-accent-color;

  .portfolio-event-logo__photo {
    border-color: #273642;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
  &__values {
    padding-top: $padding-xsmall;
  }
}
