@import "styles/_constants";
@import "styles/_colors";
@import "styles/_sizes";

.accordion {
  cursor: pointer;
  background: $background-color;
  &__icon {
    &--open {
      transform: scale(1, -1);
    }
  }
}
