@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_constants";
@import "~shared/styles/_sizes";

$font-size: 13px;
$line-height: 1.69;
$ring-icon-size: 32px;
$avatar-size: 32px;

.notifications {
  width: 100%;

  &__group {
    @include adaptive-margin(bottom, $padding-small);
    .notification__content {
      @include adaptive-margin(bottom, $padding-small);
      border-bottom: 1px solid $border-color;
    }

    &:last-child {
      .notification:last-child {
        .notification__content {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }

  &__link {
    margin: 0 auto;
  }

  &__title {
    @include adaptive-margin(bottom, $padding-upper-medium);
  }

  &__link {
    &:hover {
      background-color: lighten($secondary-color, 5%);
    }
  }

  &__ring {
    @include height($ring-icon-size);
    @include width($ring-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__header {
    justify-content: space-between;
    @include adaptive-margin(bottom, $padding-small);
    @include horizontal-paddings($padding-xsmall);
    @include adaptive-padding(top, $padding-small);
  }

  &__header-title {
    @include font-size($font-size-h4);
  }

  &__content {
    @include horizontal-paddings($padding-xsmall);
    @include adaptive-padding(bottom, $padding-small);
  }
}

.notification {
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__description {
    @include adaptive-margin(bottom, $padding-xsmall);
    @include font-size($font-size);
    line-height: $line-height;
    letter-spacing: 0.2px;
  }
  &__date {
    line-height: $line-height;
    @include adaptive-margin(bottom, $padding-xsmall);
  }

  &--is-unread {
    .notification__date {
      &:after {
        content: "\25CF";
        color: $negative-color;
        @include adaptive-margin(left, $padding-xxsmall);
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    @include adaptive-margin(top, ($font-size * $line-height - $font-size) / 2);

    @include height($avatar-size);
    @include width($avatar-size);
    flex-shrink: 0;
  }

  &__icon-logo {
    margin: auto;
  }

  &[class*="--type-profile"] {
    .notification__icon {
      background-color: $negative-background-color;
    }
  }
  &[class*="--type-platform"] {
    .notification__icon {
      background-color: rgba($main-color, 0.2);
    }
  }
}
