@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_constants";
@import "styles/_sizes";

$line-height: 1.69;
$ring-icon-size: 32px;
$avatar-size: 32px;

.notifications {
  &__ring {
    @include height($ring-icon-size);
    @include width($ring-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__header {
    justify-content: space-between;
    @include adaptive-full-padding($padding-xsmall);
  }
  &__content {
    @include horizontal-paddings($padding-xsmall);
  }
}

.notification {
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  &__content {
    line-height: $line-height;
    @include adaptive-padding(bottom, $padding-xsmall);
  }

  &__description {
    @include font-size($font-size-common);
    letter-spacing: 0.2px;
  }

  &--is-unread {
    .notification__date {
      &:after {
        content: "\25CF";
        color: $negative-color;
        @include adaptive-margin(left, $padding-xxsmall);
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;

    @include height($avatar-size);
    @include width($avatar-size);
    flex-shrink: 0;
  }

  &[class*="--type-profile"] {
    .notification__icon {
      background-color: $negative-background-color;
    }
  }
  &[class*="--type-platform"] {
    .notification__icon {
      background-color: rgba($main-color, 0.2);
    }
  }
}
