.wallet-withdraw {
  &__field {
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
  }

  &-popup {
    &__two-factor-input {
      margin-bottom: 20px;
    }

    & .dialog-list {
      margin-top: 20px;
    }

    &__right-text {
      align-self: flex-start;
    }
  }
}
