@import "styles/_colors.scss";

.rc-slider {
  margin: 1.5rem 0;
}

.rc-slider-track {
  background-color: $primary-color;
}

.rc-slider-handle {
  border-color: $primary-color;
}

.rc-slider-handle:hover {
  border-color: $primary-color;
}
.rc-slider-handle:active,
.rc-slider-handle:focus {
  border-color: $primary-color;
  box-shadow: 0 0 5px $primary-color;
}

.rc-slider-dot-active {
  border-color: $primary-color;
}

.gv-hangle__text {
  position: absolute;
  top: -20px;
  font-size: 0.8rem;
}
