@import "~shared/styles/_colors";

.notifications-widget {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__count {
    height: 32px;
    cursor: pointer;
  }
  &__ring {
    margin-right: 10px;
  }
  &:hover {
    svg [stroke] {
      stroke: $primary-color;
    }
    .chip {
      background-color: lighten($secondary-background-color, 5%);
    }
    .chip--negative {
      background-color: lighten($background-chip-negative, 5%);
    }
  }
}
