@import "styles/_colors.scss";

.wallet__amount {
  color: $main-color;
  &.wallet__amount--gvt {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
  }
  &.wallet__amount--usd {
    font-size: 2rem;
  }
}
