.profile-widget {
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
  }
  &__image {
    max-height: 100%;
    max-width: 100%;
  }
}
