@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.deposit-details {
  & .gv-text-field__wrapper {
    margin: 16px 0;
  }
  &__deposit-amount {
    &-title {
      color: $label-color;
      margin-bottom: 14px;
    }

    &-value {
      font-size: $font-size-h2;
      letter-spacing: 0.4px;
    }
  }

  &__available-amount {
    font-size: $font-size-common;
    margin-top: 4px;
    letter-spacing: 0.4px;

    &-value {
      color: $text-accent-color;
      margin-right: 8px;
      margin-left: 4px;
      font-weight: 600;
      &--error {
        color: #eb3b5a;
      }
    }

    & .icon--refresh {
      position: relative;
      top: 6px;
      cursor: pointer;
    }
  }
}
