@import "styles/_sizes";
@import "styles/_colors";

.order-book {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__current-original-price {
    width: 150px;
  }

  &__current-price {
    font-family: "DIN Pro Regular", sans-serif;
    font-size: $font-size-xsmall;
    width: 100%;
  }

  &__table-block {
    height: 100%;
    display: flex;
    flex-direction: column;

    &--reverse {
      justify-content: flex-end;
    }
  }

  &__tables-row {
    height: 100%;
  }

  &__tables-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }

  &__table {
    @include terminal-table(small);
    position: relative;

    &:hover {
      .order-book__tooltip {
        display: block;
      }
    }

    & td,
    th {
      width: 33.3%;
    }
    & th:not(:first-child),
    & td:not(:first-child) {
      text-align: right;
    }
  }

  &__table-row {
    cursor: pointer;

    &--hovered {
      background: rgba(255, 255, 255, 0.1) !important;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2) !important;
    }
  }

  &__first-cell {
    position: relative;
  }

  &__has-order-bubble {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: $yellow;
    top: 7px;
    left: -7px;
  }

  &__tooltip {
    display: none;
    @include adaptive-full-padding($padding-xsmall);
    background: $secondary-background-color;
    position: absolute;
    border-radius: $border-radius-middle;
    width: 200px;
    left: -200px;
    top: 0;
    z-index: 1;
  }
}
