@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard {
  & div {
    box-sizing: border-box;
  }

  &__empty-events {
    height: 100%;
    max-width: 255px;
  }

  &__empty-events-text {
    padding: $padding-xxsmall-mobile 0;
    font-size: $font-size-small-mobile;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: 0.7px;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      padding: $padding-xxsmall 0;
      font-size: $font-size-small;
    }
  }

  &__empty-events-item {
    padding: $padding-xsmall-mobile 0;
    display: flex;
    align-items: center;
    @include media-breakpoint-landscape-phone() {
      padding: $padding-xsmall 0;
    }
  }

  &__empty-events-item-label {
    padding-left: $padding-xsmall-mobile;
    font-size: $font-size-paragraph-mobile;
    font-weight: 500;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-xsmall;
      font-size: $font-size-paragraph;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-landscape-phone() {
      flex-direction: row;
    }
  }

  &__chart {
    display: flex;
    width: 100%;
  }

  &__portfolio-events-aside {
    display: flex;
    margin-top: $padding-xsmall;
    @include media-breakpoint-landscape-phone() {
      min-width: 315px;
      margin-left: 2rem;
      margin-top: 0;
    }
  }

  &__table-section {
    margin-top: $padding-xsmall;
    @include media-breakpoint-landscape-phone() {
      margin-top: $padding-small;
    }
  }
}
