@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.surface {
  @include vertical-paddings($padding-medium, $padding-small);
  background-color: $panel-background-color;
  border-radius: 0.5em;
  box-sizing: border-box;

  &--without-paddings {
    padding: 0;
  }

  &--horizontal-paddings {
    @include horizontal-paddings($padding-small, 2);
  }

  .surface {
    padding-top: 0;
  }
}
