@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.surface {
  @include vertical-paddings($padding-medium, $padding-small);
  background-color: $panel-background-color;
  border-radius: 0.5em;
  box-sizing: border-box;

  &--without-paddings {
    padding: 0;
  }

  &--horizontal-paddings {
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    @include media-breakpoint-tablet() {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }

  .surface {
    padding-top: 0;
  }
}
