@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

$avatar-size: 100px;
$avatar-size-mobile: $avatar-size/$divider-text;

.manager-description {
  padding-bottom: $padding-big-mobile;
  @include media-breakpoint-landscape-phone() {
    padding-bottom: $padding-big;
  }
  & .fund-asset {
    background: rgba(216, 216, 216, 0.05);
    height: 50px / $divider-title;
    padding: 15px / $divider-padding;
    justify-content: space-between;
    &--others-count {
      min-width: auto;
      background: rgba(216, 216, 216, 0.1);
    }
    @include media-breakpoint-landscape-phone() {
      height: 50px;
      padding: 15px;
      min-width: 240px;
      &--others-count {
        min-width: auto;
      }
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include media-breakpoint-phone() {
    flex-direction: row;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    justify-content: center;
  }
  &__avatar {
    &.profile-avatar {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: $avatar-size;
      background-color: $secondary-color;
      overflow: hidden;
      @include media-breakpoint-phone() {
        width: $avatar-size-mobile;
        height: $avatar-size-mobile;
        border-radius: $avatar-size-mobile;
      }
      @include media-breakpoint-landscape-phone() {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: $avatar-size-mobile;
      }
    }
  }

  &__right {
    & .gv-btn--text {
      padding: 0;
      font-size: $font-size-common;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }

  &__notification-icon {
    opacity: 0.3;
  }

  &__main {
    width: 100%;
    padding: $padding-xsmall 0;
    @include media-breakpoint-phone() {
      padding: 0 $padding-big-mobile;
    }
    @include media-breakpoint-landscape-phone() {
      padding: 0 $padding-big;
    }
  }

  &__heading {
    font-size: $font-size-h1-mobile;
    font-weight: 600;
    color: $text-light-color;
    padding-bottom: $padding-xxsmall-mobile;
  }

  &__author-btn {
    padding: 0;
    font-size: $font-size-common;
    letter-spacing: 0.19px;
    font-weight: bold;
  }

  &__info {
    padding-top: $padding-xlarge-mobile;
  }

  &__invest-button-container {
    padding: $padding-small-mobile 0;
  }

  &__subheading {
    font-size: $font-size-h4-mobile;
    font-weight: bold;
    padding-bottom: $padding-small-mobile;
    letter-spacing: 0.21px;
  }

  &__info-block {
    padding-bottom: $padding-xsmall-mobile;
  }

  &__short-statistic-subheading {
    margin-bottom: $padding-xsmall-mobile/2;
  }

  &__text {
    font-size: $font-size-paragraph-mobile;
    line-height: $font-size-paragraph-mobile * 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $text-color;
    padding-bottom: $padding-small;
  }

  &__invest-btn {
    font-size: $font-size-paragraph-mobile;
    letter-spacing: 0.3px;
    font-weight: 600;
    box-sizing: border-box;
    width: $btn-width-mobile;
    height: $btn-height-mobile;
  }

  &__reinvest {
    letter-spacing: 0.3px;
    font-weight: 600;
  }

  &__short-statistic {
    display: flex;
    justify-content: flex-start;

    &-item {
      margin-right: $padding-small-mobile;
      letter-spacing: 0.44px;
      font-size: $font-size-paragraph-mobile;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      &:last-child {
        margin-right: 0;
      }
    }

    &-subheading {
      color: $label-color;
      font-size: $font-size-paragraph-mobile;
      letter-spacing: 0.43px;
      font-weight: normal;
    }
  }

  &__control {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $label-color;
    .icon path {
      stroke: $label-color;
    }
    &:hover {
      path {
        stroke: $text-accent-color;
      }
    }
    &-icon,
    &-text {
      padding: $padding-xsmall-mobile $padding-xsmall-mobile/2;
    }
    &-text {
      font-size: $font-size-small-mobile;
      font-weight: 300;
      opacity: 0.4;
      letter-spacing: 0.3px;
      color: $main-color;
      text-align: center;
    }
  }
  @include media-breakpoint-landscape-phone() {
    &__avatar {
      .program-avatar {
        width: $avatar-size;
        height: $avatar-size;
        margin: 0;
      }
    }
    &__heading {
      font-size: $font-size-h1;
      padding-bottom: $padding-xxsmall;
    }
    &__subheading {
      font-size: $font-size-h4;
      padding-bottom: $padding-small;
    }
    &__info-block {
      padding-bottom: $padding-small;
    }
    &__text {
      font-size: $font-size-paragraph;
      line-height: $font-size-paragraph * 2;
    }
    &__invest-button-container {
      padding: $padding-small 0;
    }
    &__short-statistic-subheading {
      margin-bottom: $padding-xsmall/2;
    }
    &__invest-btn {
      font-size: $font-size-paragraph;
      width: $btn-width;
      height: $btn-height;
    }
    &__info {
      padding-top: $padding-xlarge;
    }
    &__short-statistic {
      &-item {
        margin-right: $padding-small;
        font-size: $font-size-paragraph;
      }
      &-subheading {
        font-size: $font-size-paragraph;
      }
    }
    &__control {
      &-icon,
      &-text {
        padding: $padding-xsmall/2 $padding-xsmall;
        white-space: nowrap;
      }
      &-icon {
        width: $icon-size;
        height: $icon-size;
      }
      &-text {
        font-size: $font-size-small;
      }
    }
  }
}

.manager-description-navigation {
  margin: 25px 0 40px;

  & .gv-btn--text {
    padding: 0;
  }

  &__back-arrow {
    margin-right: 10px;
  }

  @include media-breakpoint-tablet {
    margin-bottom: 40px;
  }
}
