@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  @include media-breakpoint-phone() {
    flex-direction: row;
  }

  &__your-investment {
    max-width: 750px;
  }

  & .fund-asset {
    background: rgba(216, 216, 216, 0.05);
    height: 50px / $divider-title;
    padding: 15px / $divider-padding;
    justify-content: space-between;
    &__container {
      &--others-count {
        cursor: pointer;
      }
    }
    &--others-count {
      min-width: auto;
      background: rgba(216, 216, 216, 0.1);
    }
    @include media-breakpoint-landscape-phone() {
      height: 50px;
      padding: 15px;
      min-width: 240px;
      &--others-count {
        min-width: auto;
      }
    }
  }

  &__investing-container {
    display: flex;
    align-items: center;
  }

  &__avatar {
    cursor: pointer;
    width: 100%;
    padding: $padding-small 0;
    .program-avatar {
      justify-content: flex-start;
      width: $avatar-size-mobile;
      height: $avatar-size-mobile;
      margin: 0;
    }
    & .program-avatar__level {
      border-color: $background-color;
    }
    @include media-breakpoint-phone() {
      padding: 0;
      .program-avatar {
        width: $avatar-size;
        height: $avatar-size;
      }
    }
  }

  &__left {
    padding-right: $padding-small-mobile;
    @include media-breakpoint-landscape-phone() {
      padding-right: 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-large-mobile;
    @include media-breakpoint-phone() {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
    }

    & .gv-btn--text {
      padding: 0;
      font-size: 13px;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }

  &__notification-icon {
    opacity: 0.3;
  }

  &__main {
    width: 100%;
    padding-left: 0;
    @include media-breakpoint-phone() {
      padding-left: $padding-large-mobile;
    }
  }

  &__heading {
    font-size: $font-size-title-mobile;
    font-weight: 600;
    color: $text-light-color;
    padding-bottom: $padding-mini-mobile;
  }

  &__author-btn {
    padding: 0 0 $padding-very-large-mobile;
    font-size: 13px;
    letter-spacing: 0.19px;
    font-weight: bold;
    @include media-breakpoint-landscape-phone() {
      padding: 0 0 $padding-very-large;
    }
  }

  &__info {
    //padding-top: $padding-very-large-mobile;
  }

  &__invest-button-container {
    padding-bottom: $padding-middle-mobile;
    & > button, .details-description__reallocate-container {
      margin-top: $padding-middle-mobile;
    }
    & button:not(:last-child) {
      margin-right: $padding-middle-mobile;
    }
    @include media-breakpoint-landscape-phone() {
      padding-bottom: $padding-middle;
      & > button, .details-description__reallocate-container {
        margin-top: $padding-middle;
      }
      & button:not(:last-child) {
        margin-right: $padding-middle;
      }
    }
  }

  &__reallocate-container {
    display: flex;
    align-items: center;
  }

  &__reallocate-message {
    font-size: $font-size-small-mobile;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-small;
    }
  }

  &__subheading {
    font-size: $font-size-large-mobile;
    font-weight: bold;
    padding-bottom: $padding-middle-mobile;
    letter-spacing: 0.21px;
  }

  &__info-block {
    padding-bottom: $padding-small-mobile;
  }

  &__short-statistic-subheading {
    margin-bottom: $padding-small-mobile/2;
  }

  &__text {
    font-size: $font-size-middle-mobile;
    line-height: $font-size-middle-mobile * 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $text-color;
    padding-bottom: $padding-middle;
  }

  &__invest-btn {
    font-size: $font-size-middle-mobile;
    letter-spacing: 0.3px;
    font-weight: 600;
    box-sizing: border-box;
    width: $btn-width-mobile;
    height: $btn-height-mobile;
  }

  &__reinvest {
    letter-spacing: 0.3px;
    font-weight: 600;
    padding-left: $padding-middle-mobile;
    .gv-switch-wrapper {
      display: inline-flex;
      align-items: center;
      padding-top: $padding-middle-mobile;
    }
    .gv-switch__label {
      color: $text-accent-color;
      font-size: $font-size-middle-mobile;
      line-height: $font-size-middle-mobile;
      font-weight: 600;
    }
    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-middle;
      .gv-switch__label {
        line-height: $font-size-middle;
        font-size: $font-size-middle;
      }
    }
  }

  &__short-statistic {
    display: flex;
    justify-content: flex-start;

    &-item {
      margin-right: $padding-middle-mobile;
      letter-spacing: 0.44px;
      font-size: $font-size-middle-mobile;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      &:last-child {
        margin-right: 0;
      }
    }

    &-subheading {
      color: $label-color;
      font-size: $font-size-middle-mobile;
      letter-spacing: 0.43px;
      font-weight: normal;
    }
  }

  &__control {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $label-color;
    .icon path {
      stroke: $label-color;
    }
    &-icon svg [stroke] {
      stroke: $label-color;
    }
    .icon--ring {
      width: 27px;
      height: 27px;
    }
    &:hover {
      path {
        stroke: $text-accent-color;
      }
    }
    &-icon,
    &-text {
      padding: $padding-small-mobile $padding-small-mobile/2;
    }
    &-text {
      font-size: $font-size-small-mobile;
      font-weight: 300;
      opacity: 0.4;
      letter-spacing: 0.3px;
      color: $main-color;
      text-align: center;
    }

    & &-icon--active path {
      fill: $primary-color;
      stroke: $primary-color;
    }
    &:hover &-icon--active path {
      stroke: $text-accent-color;
    }
    &-icon-notification path {
      stroke: $label-color;
    }
  }

  @include media-breakpoint-phone() {
    &__avatar {
      .program-avatar {
        width: $avatar-size-mobile;
        height: $avatar-size-mobile;
        margin: 0;
      }
    }
  }
  @include media-breakpoint-landscape-phone() {
    &__avatar {
      .program-avatar {
        width: $avatar-size;
        height: $avatar-size;
        margin: 0;
      }
    }
    &__main {
      padding-left: $padding-large;
    }
    &__heading {
      font-size: $font-size-title;
      padding-bottom: $padding-mini;
    }
    &__subheading {
      font-size: $font-size-large;
      padding-bottom: $padding-middle;
    }
    &__info-block {
      padding-bottom: $padding-middle;
    }
    &__text {
      font-size: $font-size-middle;
      line-height: $font-size-middle * 2;
    }
    &__short-statistic-subheading {
      margin-bottom: $padding-small/2;
    }
    &__invest-btn {
      font-size: $font-size-middle;
      width: $btn-width;
      height: $btn-height;
    }
    &__info {
      padding-top: $padding-very-large;
    }
    &__short-statistic {
      &-item {
        margin-right: $padding-middle;
        font-size: $font-size-middle;
      }
      &-subheading {
        font-size: $font-size-middle;
      }
    }
    &__control {
      &-icon,
      &-text {
        padding: $padding-small/2 $padding-small;
        white-space: nowrap;
      }
      &-icon {
        width: $icon-size;
        height: $icon-size;
      }
      &-text {
        font-size: $font-size-small;
      }
    }
  }
}
