@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-description-control {
  @include adaptive-padding(bottom, $padding-xsmall);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &--button {
    cursor: pointer;
    border: none;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    overflow: visible;
    outline: none;
    background-color: transparent;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
  &:hover {
    svg [stroke] {
      stroke: $main-color;
    }
  }
  &__icon {
    width: 20px;
    @include media-breakpoint-landscape-phone() {
      max-width: 17px;
      max-height: 17px;
    }
    svg [stroke] {
      transition: stroke 300ms ease;
      stroke: $label-color;
    }
    &.icon--selected {
      svg [stroke] {
        stroke: $primary-color;
      }
    }
  }
  &__text {
    @include font-size($font-size-common);
    @include adaptive-padding(right, $padding-xsmall);
    color: $main-color;
    font-weight: 600;
    letter-spacing: 0.3px;
    white-space: nowrap;
    display: none;
    @include media-breakpoint-phone() {
      display: inherit;
    }
  }
}
