@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-description {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "logo links" "main main" "details details";

  @include media-breakpoint-tablet() {
    flex-wrap: nowrap;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo main links" ". details details";
    grid-column-gap: 50px;
  }

  &__your-investment {
    max-width: 750px;
  }

  & .fund-asset {
    background: rgba(216, 216, 216, 0.05);
    height: 50px / $divider-title;
    padding: 15px / $divider-padding;
    justify-content: space-between;
    &__container {
      &--others-count {
        cursor: pointer;
      }
    }
    &--others-count {
      min-width: auto;
      background: rgba(216, 216, 216, 0.1);
    }
    @include media-breakpoint-landscape-phone() {
      height: 50px;
      padding: 15px;
      min-width: 240px;
      &--others-count {
        min-width: auto;
      }
    }
  }

  &__investing-container {
    @include adaptive-padding(bottom, $padding-xsmall);
    display: flex;
    align-items: center;
  }

  &__avatar {
    cursor: pointer;
    width: 100%;
    padding: $padding-xsmall-mobile 0 $padding-xsmall;
    .program-avatar {
      justify-content: flex-start;
      width: $avatar-size-mobile;
      height: $avatar-size-mobile;
      margin: 0;
    }
    & .program-avatar__level {
      border-color: $background-color;
    }

    @include media-breakpoint-phone() {
      .program-avatar {
        width: $avatar-size;
        height: $avatar-size;
        margin: 0;
      }
    }
    @include media-breakpoint-tablet() {
      padding: 0;
    }
  }

  &__left {
    grid-area: logo;
  }

  &__bottom {
    grid-area: details;
  }

  &__right {
    grid-area: links;
    display: flex;
    flex-direction: column;
    padding: $padding-xsmall-mobile 0 $padding-xsmall;

    @include media-breakpoint-tablet() {
      //width: auto;
      padding: 0;
    }

    & .gv-btn--text {
      padding: 0;
      font-size: $font-size-common;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }

  &__notification-icon {
    opacity: 0.3;
  }

  &__main {
    grid-area: main;
  }

  &__author-btn {
    padding: 0;
    font-size: $font-size-common;
    letter-spacing: 0.19px;
    font-weight: bold;
  }

  &__info {
    padding-top: $padding-xxlarge-mobile;
    @include media-breakpoint-tablet() {
      padding-top: $padding-xxlarge;
    }
  }

  &__invest-button-container {
    & > button,
    .details-description__reallocate-container {
      margin-top: $padding-small-mobile;
    }
    & button:not(:last-child) {
      margin-right: $padding-small-mobile;
    }
    @include media-breakpoint-landscape-phone() {
      & > button,
      .details-description__reallocate-container {
        margin-top: $padding-small;
      }
      & button:not(:last-child) {
        margin-right: $padding-small;
      }
    }
  }

  &__reallocate-container {
    display: flex;
    align-items: center;
  }

  &__reallocate-message {
    font-size: $font-size-small-mobile;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-small;
    }
  }

  &__subheading {
    font-size: $font-size-h4-mobile;
    font-weight: bold;
    padding-bottom: $padding-small-mobile;
    letter-spacing: 0.21px;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-h4;
      padding-bottom: $padding-small;
    }
  }

  &__info-block {
    padding-top: $padding-xlarge-mobile;
    @include media-breakpoint-landscape-phone() {
      padding-top: $padding-xlarge;
    }
  }

  &__short-statistic-subheading {
    margin-bottom: $padding-xsmall-mobile/2;
    @include media-breakpoint-landscape-phone() {
      margin-bottom: $padding-xsmall/2;
    }
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
    }
  }

  &__text {
    font-size: $font-size-paragraph-mobile;
    line-height: $font-size-paragraph-mobile * 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $text-color;
    padding-bottom: $padding-small;
    word-break: break-word;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      line-height: $font-size-paragraph * 2;
    }
  }

  &__invest-btn {
    font-size: $font-size-paragraph-mobile;
    letter-spacing: 0.3px;
    font-weight: 600;
    box-sizing: border-box;
    width: $btn-width-mobile;
    height: $btn-height-mobile;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      width: $btn-width;
      height: $btn-height;
    }
  }

  &__reinvest {
    letter-spacing: 0.3px;
    font-weight: 600;

    .gv-switch-wrapper {
      display: inline-flex;
      align-items: center;
      padding-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .gv-switch__label {
      color: $text-accent-color;
      font-size: $font-size-paragraph-mobile;
      font-weight: 600;
    }
    @include media-breakpoint-landscape-phone() {
      .gv-switch-wrapper {
        padding-top: $padding-xxsmall;
      }
      .gv-switch__label {
        font-size: $font-size-paragraph;
      }
    }
  }

  &__short-statistic {
    display: flex;
    justify-content: flex-start;

    &-item {
      margin-right: $padding-small-mobile;
      &:last-child {
        margin-right: 0;
      }
      @include media-breakpoint-landscape-phone() {
        margin-right: $padding-small;
        font-size: $font-size-paragraph;
      }
    }

    &-subheading {
      color: $label-color;
      font-size: $font-size-paragraph-mobile;
      letter-spacing: 0.43px;
      font-weight: normal;
    }
  }
}

.details-description__short-statistic-hint-tooltip-content {
  z-index: 2;
  max-width: 248px;
  font-size: 12px;
  line-height: 1.6;
  color: $text-light-color;
}
