@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

$padding-info-left: $padding-upper-medium;
$padding-controls-left: $avatar-size + $padding-info-left - $padding-small;

.details-description {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "logo links" "main main" "details details";
  padding: 0 $padding-xsmall;

  @include media-breakpoint-tablet() {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo main links" ". details details";
    grid-column-gap: $padding-upper-medium;
    padding: 0;
  }

  &__your-investment {
    max-width: 750px;
  }

  & .fund-asset {
    background: rgba(216, 216, 216, 0.05);
    height: 50px / $divider-title;
    padding: 15px / $divider-padding;
    justify-content: space-between;
    &__container {
      &--others-count {
        cursor: pointer;
      }
    }
    &--others-count {
      min-width: auto;
      background: rgba(216, 216, 216, 0.1);
    }
    @include media-breakpoint-landscape-phone() {
      height: 50px;
      padding: 15px;
      min-width: 240px;
      &--others-count {
        min-width: auto;
      }
    }
  }

  &__avatar {
    cursor: pointer;
    width: 100%;
    padding: $padding-xsmall-mobile 0 $padding-xsmall;
    .program-avatar {
      justify-content: flex-start;
      width: $avatar-size-mobile;
      height: $avatar-size-mobile;
      margin: 0;
    }
    & .program-avatar__level {
      border-color: $background-color;
    }

    @include media-breakpoint-phone() {
      .program-avatar {
        width: $avatar-size;
        height: $avatar-size;
        margin: 0;
      }
    }
    @include media-breakpoint-tablet() {
      padding: 0;
    }
  }

  &__left {
    grid-area: logo;
  }

  &__bottom {
    grid-area: details;
  }

  &__right {
    grid-area: links;
    display: flex;
    flex-direction: column;
    padding: $padding-xsmall-mobile 0 $padding-xsmall;

    @include media-breakpoint-tablet() {
      padding: 0;
    }

    & .gv-btn--text {
      padding: 0;
      font-size: $font-size-common;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }

  &__notification-icon {
    opacity: 0.3;
  }

  &__main {
    grid-area: main;
  }

  &__author-btn {
    padding: 0;
    font-size: $font-size-common;
    letter-spacing: 0.19px;
    font-weight: bold;
  }

  &__info {
    padding-top: $padding-xxlarge-mobile;
    @include media-breakpoint-tablet() {
      padding-top: $padding-xxlarge;
    }
  }

  &__invest-button-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$padding-small-mobile/2);
    width: 100%;

    .gv-btn {
      @include adaptive-margin(top, $padding-small);
      @include adaptive-margin(left, $padding-small/2);
      @include adaptive-margin(right, $padding-small/2);
    }

    @include media-breakpoint-tablet() {
      margin: 0 (-$padding-small/2);
    }
  }

  &__reallocate-container {
    display: flex;
    align-items: baseline;
  }

  &__reallocate-message {
    font-size: $font-size-small-mobile;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-small;
    }
  }

  &__subheading {
    font-size: $font-size-h4-mobile;
    font-weight: bold;
    padding-bottom: $padding-small-mobile;
    letter-spacing: 0.21px;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-h4;
      padding-bottom: $padding-small;
    }
  }

  &__info-block {
    padding-top: $padding-xlarge-mobile;
    @include media-breakpoint-landscape-phone() {
      padding-top: $padding-xlarge;
    }
  }

  &__short-statistic-subheading {
    margin-bottom: $padding-xsmall-mobile/2;
    @include media-breakpoint-landscape-phone() {
      margin-bottom: $padding-xsmall/2;
    }
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
    }
  }

  &__text {
    font-size: $font-size-paragraph-mobile;
    line-height: $font-size-paragraph-mobile * 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $text-color;
    padding-bottom: $padding-small;
    word-break: break-word;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      line-height: $font-size-paragraph * 2;
    }
  }

  &__invest-btn {
    font-size: $font-size-paragraph-mobile;
    letter-spacing: 0.3px;
    font-weight: 600;
    box-sizing: border-box;
    width: $btn-width-mobile;
    height: $btn-height-mobile;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      width: $btn-width;
      height: $btn-height;
    }
  }

  &__reinvest {
    letter-spacing: 0.3px;
    font-weight: 600;

    .gv-switch-wrapper {
      display: inline-flex;
      align-items: center;
      padding-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .gv-switch__label {
      color: $text-accent-color;
      font-size: $font-size-paragraph-mobile;
      font-weight: 600;
    }
    @include media-breakpoint-landscape-phone() {
      .gv-switch-wrapper {
        padding-top: $padding-xxsmall;
      }
      .gv-switch__label {
        font-size: $font-size-paragraph;
      }
    }
  }

  &__short-statistic {
    display: flex;
    justify-content: flex-start;

    &-item {
      margin-right: $padding-small-mobile;
      &:last-child {
        margin-right: 0;
      }
      @include media-breakpoint-landscape-phone() {
        margin-right: $padding-small;
        font-size: $font-size-paragraph;
      }
    }

    &-subheading {
      color: $label-color;
      font-size: $font-size-paragraph-mobile;
      letter-spacing: 0.43px;
      font-weight: normal;
    }
  }
}

.asset-details-description {
  padding: 0 $padding-xsmall;

  @include media-breakpoint-landscape-phone() {
    padding: 0;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-tablet() {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  &__your-investment {
    max-width: 750px;
  }

  &__avatar {
    cursor: pointer;
    padding: $padding-xsmall-mobile 0 $padding-xsmall;
    .program-avatar {
      justify-content: flex-start;
      width: $avatar-size-mobile;
      height: $avatar-size-mobile;
      margin: 0;
    }
    & .program-avatar__level {
      background-color: $background-color;
    }

    @include media-breakpoint-phone() {
      .program-avatar {
        width: $avatar-size;
        height: $avatar-size;
        margin: 0;
      }
    }
    @include media-breakpoint-tablet() {
      padding: 0;
    }
  }

  &__info {
    order: 99;
    width: 100%;

    @include media-breakpoint-tablet() {
      order: 0;
      width: auto;
      margin-left: $padding-info-left;
    }
  }

  &__tag {
    @include adaptive-padding(top, $padding-xsmall, 2);
    display: flex;
    flex-wrap: wrap;
  }

  &__additionally {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-tablet() {
      margin-left: $padding-controls-left;
    }
  }

  &__settings {
    padding: $padding-xsmall-mobile 0 $padding-xsmall;

    @include media-breakpoint-tablet() {
      margin-left: auto;
      padding: 0;
    }

    & .gv-btn--text {
      padding: 0;
      font-size: $font-size-common;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }

  &__notification-icon {
    opacity: 0.3;
  }

  &__author-btn {
    padding: 0;
    font-size: $font-size-common;
    letter-spacing: 0.19px;
    font-weight: bold;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$padding-xxsmall/2);

    @include media-breakpoint-landscape-phone() {
      flex-wrap: nowrap;
    }
    @include media-breakpoint-tablet() {
      flex-wrap: nowrap;
      margin-left: $padding-controls-left;
      margin-right: 0;
      max-width: 850px;
    }
  }

  &__level-calculator {
    align-self: flex-end;
    @include adaptive-margin(right, $padding-xsmall/2);
  }

  &__col {
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    @include media-breakpoint-landscape-phone() {
      width: auto;
      max-width: 800px;

      &--small-size {
        flex-grow: 0;
        min-width: 220px;
      }
    }

    @include media-breakpoint-tablet() {
      &--small-size {
        min-width: 260px;
        max-width: 260px;
      }
    }

    &--fund {
      max-width: 230px;
    }
  }

  &__statistic-container {
    @include adaptive-margin(bottom, 15px);
    display: inline-flex;
    min-width: 50%;
    box-sizing: border-box;
    flex-grow: 1;

    &--btn {
      min-width: 100%;
      margin-bottom: 0;
    }

    .program-details-description__invest-btn {
      @include adaptive-margin(right, $padding-small/2);
    }

    @include media-breakpoint-desktop() {
      min-width: auto;

      .program-details-description__invest-btn {
        align-self: flex-start;
      }
    }
  }

  &__performance-data {
    @include adaptive-padding(top, $padding-xxsmall);
    @include adaptive-padding(bottom, $padding-upper-medium);
    padding-left: 0;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0;
    @include media-breakpoint-tablet() {
      padding-left: $padding-small;
      margin-left: $padding-controls-left;
    }
    & .statistics-item {
      margin-right: $padding-medium-mobile;
      @include media-breakpoint-landscape-phone() {
        margin-right: $padding-medium;
      }
    }
  }

  &__broker {
    width: 100px;
  }

  &__button-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$padding-small-mobile/2);
    width: 100%;

    .gv-btn {
      @include adaptive-margin(top, $padding-small);
      @include adaptive-margin(left, $padding-small/2);
      @include adaptive-margin(right, $padding-small/2);
    }

    @include media-breakpoint-tablet() {
      margin: 0 (-$padding-small/2);
    }
  }

  &__reallocate-container {
    display: flex;
    align-items: center;
    margin-top: $padding-small-mobile;

    @include media-breakpoint-landscape-phone() {
      margin-top: $padding-small;
    }
  }

  &__reallocate-message {
    font-size: $font-size-small-mobile;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-small;
    }
  }

  &__subheading {
    @include adaptive-padding(top, $padding-big);
    @include adaptive-padding(bottom, $padding-small);
    @include font-size($font-size-h4);
    font-weight: bold;
    letter-spacing: 0.21px;
  }

  &__info-block {
    padding-top: $padding-xlarge-mobile;
    @include media-breakpoint-landscape-phone() {
      padding-top: $padding-xlarge;
    }
  }

  &__short-statistic-subheading {
    margin-bottom: $padding-xsmall-mobile/2;
    @include media-breakpoint-landscape-phone() {
      margin-bottom: $padding-xsmall/2;
    }
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
    }
  }

  &__text {
    font-size: $font-size-paragraph-mobile;
    line-height: $font-size-paragraph-mobile * 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $text-color;
    padding-bottom: $padding-small;
    word-break: break-word;
    white-space: pre-wrap;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      line-height: $font-size-paragraph * 2;
    }
  }

  &__invest-btn {
    align-self: flex-end;
    font-size: $font-size-paragraph-mobile;
    letter-spacing: 0.3px;
    font-weight: 600;
    box-sizing: border-box;
    width: $btn-width-mobile;
    height: $btn-height-mobile;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      width: $btn-width;
      height: $btn-height;
    }

    &.signal-provider__btn {
      width: auto;
    }
  }

  &__reinvest {
    letter-spacing: 0.3px;
    font-weight: 600;

    .gv-switch-wrapper {
      display: inline-flex;
      align-items: center;
      padding-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .gv-switch__label {
      color: $text-accent-color;
      font-size: $font-size-paragraph-mobile;
      font-weight: 600;
    }
    @include media-breakpoint-landscape-phone() {
      .gv-switch-wrapper {
        padding-top: $padding-xxsmall;
      }
      .gv-switch__label {
        font-size: $font-size-paragraph;
      }
    }
  }

  &__short-statistic {
    display: flex;
    justify-content: flex-start;

    &-item {
      @include adaptive-margin(right, $padding-xxsmall);
      flex-grow: 1;
      flex-basis: 50%;
      box-sizing: border-box;

      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-paragraph;
      }

      & .statistics-item__label {
        white-space: nowrap;
      }
    }

    &-subheading {
      color: $label-color;
      font-size: $font-size-paragraph-mobile;
      letter-spacing: 0.43px;
      font-weight: normal;
    }
  }

  &__short-statistic-hint-tooltip-content {
    z-index: 2;
    max-width: 248px;
    font-size: 12px;
    line-height: 1.6;
    color: $text-light-color;
  }
}

.details-description__short-statistic-hint-tooltip-content {
  z-index: 2;
  max-width: 248px;
  font-size: 12px;
  line-height: 1.6;
  color: $text-light-color;
}
