@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-description {
  &__control {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $label-color;
    .icon path {
      stroke: $label-color;
    }
    .icon--ring {
      width: 27px;
      height: 27px;
    }
    &:hover {
      path {
        stroke: $text-accent-color;
      }
    }
    &-icon,
    &-text {
      padding: $padding-xsmall-mobile $padding-xsmall-mobile/2;
    }
    &-text {
      font-size: $font-size-small-mobile;
      font-weight: 300;
      opacity: 0.4;
      letter-spacing: 0.3px;
      color: $main-color;
      text-align: center;
    }
    & &-icon--active path {
      fill: $primary-color;
      stroke: $primary-color;
    }
    &:hover &-icon--active path {
      stroke: $text-accent-color;
    }
    &-icon-notification path {
      stroke: $label-color;
    }
    @include media-breakpoint-landscape-phone() {
      &-icon,
      &-text {
        padding: $padding-xsmall/2 $padding-xsmall;
        white-space: nowrap;
      }
      &-icon {
        width: $icon-size;
        height: $icon-size;
      }
      &-text {
        font-size: $font-size-small;
      }
    }
  }
}
