@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_sizes.scss";
@import "shared/styles/_breakpoint.scss";

.dashboard-portfolio-events {
  &,
  & div {
    box-sizing: border-box;
  }
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 $padding-middle;
  @include media-breakpoint-tablet() {
    min-height: 683px;
  }

  &__title {
    font-weight: 600;
    font-size: $font-size-subtitle;
    padding-top: $padding-middle;
  }

  &__list {
    padding: 0 24px;
  }

  &__scroll-container {
    flex: 1;
    position: relative;
    margin: 24px -24px;
    &:after {
      position: absolute;
      pointer-events: none;
      z-index: 3;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px;
      background: linear-gradient(
        rgba($panel-background-color, 0),
        $panel-background-color
      );
    }
  }

  & .portfolio-event:first-child {
    padding-top: 0;
  }

  &__see-all {
    width: 60px;
    margin: 0 auto 24px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1px;

    & .gv-btn.gv-btn--text {
      padding: 0;
    }
  }
}
