@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-request {
  @include horizontal-paddings($padding-small, 2);
  float: right;
  & .statistics-item{
    padding-right: 0;
  }
  &__in-request {
    display: flex;
    align-items: center;
    font-size: $font-size-h2-mobile;
    letter-spacing: 0.3px;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-h2;
      letter-spacing: 0.4px;
    }
  }
  .statistic-item {
    margin-right: 0;
  }

  &__icon {
    cursor: pointer;
    margin-left: 10px;
  }
}

.dashboard-request-popover {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 20px;
  overflow: hidden;
	box-sizing: border-box;

  &__statistic-item {
    padding: 0;
  }

  .portfolio-event-logo__photo {
    border-color: #273642;
  }

  &__request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-accent-color;

	  .dashboard-request-popover__statistic-item {
		  padding: 0 10px;

		  &:last-child {
			  padding-right: 0;
		  }
    }
	  .dashboard-request-popover__btns:last-child {
		  padding-left: 10px;
	  }

    &:not(:last-of-type) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;
    }
  }

  &__info {
    flex: 2;
  }

  &__btns {
    text-align: center;
    .gv-btn {
      padding: 0;
    }
  }

  &__title {
    font-weight: bold;
    line-height: 22px;
    font-size: $font-size-common;
    letter-spacing: 0.2px;
    white-space: nowrap;
  }

  &__profitability {
    line-height: 22px;
    font-size: $font-size-common;
    letter-spacing: 0.2px;
    white-space: nowrap;
  }

  &__label {
    font-weight: normal;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: 0.184615px;
    mix-blend-mode: normal;
    opacity: 0.3;
    white-space: nowrap;
  }
}
