@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_sizes.scss";
@import "shared/styles/_breakpoint.scss";

.dashboard-portfolio-events {
  &,
  & div {
    box-sizing: border-box;
  }
  flex: 1;
  padding: 0 $padding-middle-mobile;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-breakpoint-landscape-phone() {
    min-height: 683px;
    padding: 0 $padding-middle;
  }

  &__title {
    font-size: $font-size-subtitle-mobile;
    padding: $padding-middle-mobile 0;
    font-weight: 600;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-subtitle;
      padding-top: $padding-middle;
    }
  }

  &__scroll-container {
    &:after {
      position: absolute;
      z-index: 3;
      content: "";
      bottom: 0;
      left: 0;
      width: 267px;
      height: 120px;
      background: linear-gradient(
        rgba($panel-background-color, 0),
        $panel-background-color
      );
    }
  }

  & .portfolio-event:first-child {
    padding-top: 0;
  }

  &__see-all {
    width: 60px;
    margin: 0 auto 12px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1px;

    & .gv-btn.gv-btn--text {
      padding: 0;
    }
  }
}
