.profile-header {
  display: flex;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.2px;

  &__label {
    height: 32px;
    min-width: 32px;
    border-radius: 8px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__add {
    border: none;
    color: rgb(0, 255, 0);
    background-color: rgba(0, 255, 0, 0.3);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.notifications-widget {
  display: flex;
  align-items: center;
  margin: 0 25px;

  &__count {
    margin-left: 10px;
  }

  &--has &__count {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
  }
}
