.profile-header {
  display: flex;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.2px;

  .chip {
    margin-left: 15px;
    height: 34px;
    width: 34px;
  }
}

.notifications-widget {
  display: flex;
  align-items: center;
  margin: 0 25px;
}
