@import "../gv-styles/_colors.scss";

.gv-program-period {
  display: block;
  &--pie {
    width: 20px;
    height: 20px;
  }

  &--line {
    height: 2px;
    background-color: #2a353f;
    border-radius: 0.25rem;
    width: 100%;

    .gv-program-period__value {
      height: 4px;
      margin-top: -1px;
      background-color: $primary-color;
      border-radius: 0.25rem;
    }
  }
}
