@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";
@import "~shared/styles/_constants";

.gv-tab {
  @extend .muted;
  cursor: pointer;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1px;
  @include adaptive-padding(bottom, $padding-xxxsmall);
  @include transition(color);
  &::after {
    @include transition(width);
    content: "";
    display: block;
    padding-top: 0.2em;
    width: 0;
    border-bottom: 0.15em solid $primary-color;
  }

  white-space: nowrap;
  &__count {
    @include transition(color, background-color);
    display: inline-block;
    text-align: center;
    min-width: 8px;
    @include adaptive-margin(left, $padding-xxxsmall);
    margin-bottom: -4px;
    @include horizontal-paddings(7px);
    @include vertical-paddings(4px);
    @include adaptive-border-radius(6px);
    line-height: 1;
    background-color: rgba($secondary-color, 0.5);
  }

  a {
    @extend .muted;
    @include transition(color);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &--active {
    cursor: default;
    color: $text-light-color;
    .gv-tab__count {
      background-color: rgba($primary-color, 0.1);
      color: $primary-color;
    }
    &::after {
      width: 13px;
    }
    a {
      color: $text-light-color;
    }
  }
  &--disabled {
    pointer-events: none;
    cursor: default;
  }
}
