.dashboard {
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__chart {
    display: flex;
    flex: 3;
  }

  &__portfolio-events-aside {
    display: flex;
    flex: 1;
    margin-left: 2rem;
    min-width: 315px;
  }

  &__assets {
    margin-top: 2rem;
  }
}
