@import "styles/_colors.scss";

.field-input__addon {
  min-width: 1rem;
}

.field-input__invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.input-text--material {
  font-size: 16px;
  width: 100%;
  height: 72px;
  display: block;
  position: relative;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  cursor: auto;
}

.input-text__label {
  color: rgba(0, 0, 0, 0.87);

  &.input-text__label--error {
    color: $danger-color;
  }

  &.input-text__label--regular {
    color: $alternate-color;
  }
}

.input-text__label--material {
  position: absolute;
  top: 38px;
  left: 0;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  transform: scale(1) translate(0px, 0px);
  transform-origin: left top 0px;
  pointer-events: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
}

.input-text__input--material {
  padding: 0px;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  box-sizing: border-box;
  margin-top: 14px;

  &:focus,
  &.input-text__input--filled,
  &.input-text__input--error {
    & ~ label {
      transform: scale(0.75) translate(0px, -28px);
    }

    & ~ .input-text__hr {
      transform: scaleX(1);
    }
  }
}

.input-text__hr {
  border-top: none $alternate-color;
  border-left: none $alternate-color;
  border-right: none $alternate-color;
  border-bottom: 2px solid $alternate-color;
  bottom: 8px;
  box-sizing: content-box;
  margin: 0px;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.input-text__hr-placeholder {
  @extend .input-text__hr;
  transform: scaleX(1);
  border-top: none $border-color;
  border-left: none $border-color;
  border-right: none $border-color;
  border-bottom: 2px solid $border-color;
}

.input-text__hr--error {
  border-top: none $danger-color;
  border-left: none $danger-color;
  border-right: none $danger-color;
  border-bottom: 2px solid $danger-color;
}

.input-text__hr--regular {
  border-top: none $alternate-color;
  border-left: none $alternate-color;
  border-right: none $alternate-color;
  border-bottom: 2px solid $alternate-color;
}

.input-text__error-message {
  position: relative;
  bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: $danger-color;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.input-text__help {
  position: absolute;
  top: 38px;
  left: -22px;
  color: lighten($color: $main-color, $amount: 10%);
}
