@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.create-program-page {
  &__header,
  &__tabs {
    padding: 0 $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding: 0;
    }
  }

  .gv-tab {
    cursor: default;
  }
}
