@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

$avatar-big-size: 120px;
$padding-info-left: $padding-upper-medium;
$padding-controls-left: $avatar-size + $padding-info-left - $padding-small;

.details-description {
  &__info {
    order: 99;
    width: 100%;

    @include media-breakpoint-tablet() {
      order: 0;
      width: auto;
      margin-left: $padding-info-left;
    }
  }
}

.asset-details-description {
  &__settings-item {
    justify-content: flex-end;
  }

  &__settings {
    padding: $padding-xsmall-mobile 0 $padding-xsmall;

    @include media-breakpoint-tablet() {
      margin-left: auto;
      padding: 0;
    }
  }

  &__controls {
    @include media-breakpoint-desktop() {
      margin-left: (-$padding-xxsmall/2);
      flex-wrap: nowrap;
    }
    @include media-breakpoint-tablet() {
      margin-left: $padding-controls-left;
      margin-right: 0;
    }
  }
}
