@import "~shared/styles/_sizes";
.subscriptions-table {
  &__center-cell {
    display: flex;
    align-items: center;
    &--buttons {
      justify-content: space-between;
    }
  }
  &__buttons-cell-item {
    &--first {
      margin-right: $padding-upper-medium;
    }
    margin-right: $padding-xsmall;
  }
}
