@import "shared/styles/_colors.scss";
@import "shared/styles/_constants.scss";

.notification-settings {
  margin-top: 50px;
  h3 {
    opacity: 0.3;
    font-size: 13px;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
  }

  &__title {
    overflow-wrap: break-word;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #3bcdbd;
  }
}

.notification-entity {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  min-width: 344px;
  color: $main-color;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  padding: 11px 16px;
  border-radius: $border-radius;
  margin: 0 -16px;

  &:hover {
    background-color: $secondary-background-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__count {
    margin-left: auto;
  }
}

.program-notification {
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
