@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";

.public-select {
  height: $padding-small;
  display: flex;
  align-items: center;
  margin-right: $padding-small;

  .gv-switch-wrapper {
    margin: 0 0 0 12px;
  }

  &__label {
    @include font-size($font-size-common);
    font-weight: 600;
  }

  &__question {
    cursor: help;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    font-size: 8px;
    border: 1px solid rgba($icon-color, 0.2);
    color: rgba($icon-color, 0.2);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 12px;
  }

  &__tooltip {
    font-size: $font-size-common;
    min-width: 200px;
    max-width: 500px;
  }
}
