@import "shared/styles/_breakpoint.scss";

.dp-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dp-button {
  margin: 0.5rem;
  min-width: 7rem;
  min-height: 2rem;
  line-height: 2.1;
  @include media-breakpoint-phone() {
    margin: 0.5rem;
    min-width: 7rem;
    min-height: initial;
  }
}
