@import "styles/_breakpoint.scss";

.program-filterable-list {
  display: flex;
}

.program-filterable-list__programs {
  flex: 1;
  max-width: 1570px;
  margin: 0 auto;
  &:not(:last-child) {
    @include media-breakpoint-desktop() {
      height: calc(100vh - 72px);
      overflow: hidden;
    }

    @include media-breakpoint-phone() {
      display: none;
      height: calc(100vh - 89px);
    }
  }
}

.program-filterable-list__filters {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  background-color: rgba(252, 252, 252, 0.7);
  z-index: 1080;
  height: 100%;
  @include media-breakpoint-desktop() {
    position: fixed;
    top: 72px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
  }

  @include media-breakpoint-phone() {
    margin-top: 78px; /*fix for iphone*/
    top: 0;
  }
}
