@import "styles/_colors";
@import "styles/_sizes";

.filter {
  cursor: pointer;
  display: flex;
  align-items: center;
  @include font-size($font-size-common);
  &:hover {
    .filter__arrow {
      stroke: $primary-color;
    }
  }

  &__value {
    letter-spacing: 0.2px;
    color: $text-accent-color;
    padding: 0 $padding-xxxsmall;
    white-space: nowrap;
  }

  &__arrow {
    stroke: $icon-color;
    &__is-open {
      stroke: $primary-color;
    }
  }
}

.filter-title {
  @include font-size($font-size-paragraph);
  font-weight: 600;
  color: $main-color;
}
