@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.tile-filter {
  cursor: default;
  display: flex;

  &__value {
    display: flex;
  }
}

.tile-filter-popover {
  width: 236px;
  padding: $padding-xsmall;
  &__header {
    @include font-size($font-size-paragraph);
    font-weight: 600;
    color: $main-color;
  }
  &__search-wrapper {
    margin: 0;
  }
  &__items {
    padding-top: $padding-xsmall;
  }
}
