@import "styles/_colors";
@import "styles/_sizes";

.tile-filter-button {
  &__plus {
    @include font-size($font-size-h3);
    font-weight: 400;
    padding-right: $padding-xxxsmall;
  }

  &__add {
    &,
    & .select__text {
      @include font-size($font-size-xsmall);
    }
    @include adaptive-border-radius(19.5px);
    @include height(18px);
    @include line-height(18px);
    @include horizontal-paddings($padding-xxsmall);
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    white-space: nowrap;
    transition-property: border-color;
    border: 1px solid #6e757b;
    background-color: transparent;
    color: $main-color;

    &.tile-filter__button-add--active,
    &:hover:not(:disabled),
    &:active:not(:disabled) {
      border-color: $main-color;
      background-color: $main-color;
      &,
      & span {
        color: $panel-background-color;
      }
    }
  }
}
