@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.tile-filter {
  cursor: default;
  display: flex;

  &__value {
    display: flex;
  }
}

.tile-filter-popover {
  &__search-wrapper {
    margin: 0 0 $padding-xsmall;
  }
}
