@import "~shared/styles/_sizes";

$bottom-block-height: 300px;
$market-watch-width: 250px;
$trades-width: 250px;
$place-order-width: 250px;

.trading-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "market-watch chart order-book place-orders"
    "tables tables trades place-orders";
  grid-template-rows: calc(100% - #{$bottom-block-height}) $bottom-block-height;
  grid-template-columns: $market-watch-width 1fr $trades-width $place-order-width;
}

.market-watch-grid-elem {
  grid-area: market-watch;
}
.chart-grid-elem {
  grid-area: chart;
}
.order-book-grid-elem {
  grid-area: order-book;
}
.trades-grid-elem {
  grid-area: trades;
  overflow: hidden;
}
.tables-grid-elem {
  grid-area: tables;
}
.place-orders-grid-elem {
  grid-area: place-orders;
}
