@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_sizes.scss";

.manager {
  margin-top: $padding-large-mobile;
  @include media-breakpoint-landscape-phone() {
    margin-top: $padding-large;
  }
}
