@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";

.transaction-details {
  &__details-list-statistic-item {
    display: flex;
    align-items: center;
  }
  &__details-list-statistic-item-value {
    padding-right: $padding-xsmall;
    &--long {
      font-size: $font-size-xxxxsmall;
    }
  }
}

.transaction-asset {
  display: flex;
  flex-direction: row;
  @include background-with-avatar-level($secondary-background-color);

  &__title {
    font-size: $font-size-h4;
  }
  &__trader {
    font-size: $font-size-small;
  }
}

.external-transaction {
  &__actions {
    display: flex;
    justify-content: stretch;
  }
}

.amount-item {
  display: flex;
  align-items: center;
  &__amount {
    padding-right: $padding-xxsmall;
    &--red {
      color: $negative-color;
    }
    &--white {
      color: $text-light-color;
    }
    &--green {
      color: $positive-color;
    }
  }
}
