@import "styles/_colors.scss";

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.btn-first-page,
.btn-prev-page,
.btn-prev-more,
.btn-numbered-page,
.btn-next-more,
.btn-next-page,
.btn-last-page {
  a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: white;
    border: 1px solid $border-color;
  }

  a:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &.active a {
    z-index: 1;
    color: $alternate-color;
    background-color: $background-color;
  }
}
