@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";
@import "styles/_constants";

.programs-table__cell {
  &--link {
    margin-bottom: 3px;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    @include font-size($font-size-paragraph);
    @include link($text-accent-color, $text-color);
  }

  &--chart {
    max-width: 136px;
    width: 136px;
  }
}

.daily-period {
  display: flex;
  align-items: center;
  justify-content: center;
}
