@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

$avatar-size: 112px;
$mobile-avatar-size: 48px;

.program-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $avatar-size;
  width: $avatar-size;

  &__image {
      max-width: 100%;
      max-height: 100%;
  }

  @include media-breakpoint-phone() {
    max-width: $mobile-avatar-size;
    max-height: $mobile-avatar-size;
  }
}