@import "~shared/styles/colors";
@import "~shared/styles/breakpoint";
@import "~shared/styles/sizes";

.create-asset-section {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__subheading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-common;
    letter-spacing: 0.4px;

    margin-bottom: 16px;
    margin-top: 16px;

    &:first-child {
      margin-left: 2px;
    }
  }

  &__fill-block {
    padding-top: 16px;
    padding-bottom: $padding-medium - 24px;

    &:last-child {
      padding-bottom: 0;
    }

    & .deposit-amount-field {
      & .gv-text-field__wrapper {
        margin: 16px 0;
      }
    }

    & .gv-text-field__error {
      width: 100%;
    }

    .gv-text-field__wrapper,
    .gv-checkbox-wrapper {
      margin: 0;
    }

    .select--disabled .select__value {
      color: $text-light-color;
    }

    @include media-breakpoint-landscape-phone() {
      max-width: 500px;
    }

    @include media-breakpoint-tablet() {
      padding-left: 87px;
      padding-bottom: $padding-big - 24px;

      &--with-border {
        border-left: 2px solid $secondary-color;
        margin-left: 8px;
        padding-left: 76px;
      }
    }
  }

  &__block-number {
    display: none;

    @include media-breakpoint-tablet() {
      margin-right: 70px;
      display: inline;
    }
  }
}
