@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.download-button.gv-btn {
  @include font-size($font-size-common);
  letter-spacing: 0.1px;
  &:hover {
    .download-icon [stroke] {
      stroke: rgba(darken($primary-color, 10%), 0.9);
    }
  }
  .download-icon {
    margin-left: 5px;
    [stroke] {
      transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }
}
