@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.tag-broker-container {
  &__others {
    background-color: rgba($primary-color, 0.05);
    color: $primary-color;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    line-height: 9px;
  }
}
