@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.tag-broker-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &__others {
    background-color: rgba($primary-color, 0.05);
    color: $primary-color;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    line-height: 9px;
  }
}
