.dp-statistic {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.dp-statistic__value {
  flex: 1 1 25%;
  min-width: 25%;
  margin: 0.5rem;
}

.dp-statistic__days-left {
  max-width: 6rem;
}
