@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.ti-chart {
  display: flex;
  order: 2;
  flex-wrap: wrap;
  flex: 1;
  max-width: 200px;
  height: 80px;

  @include media-breakpoint-desktop() {
    min-width: 40%;
  }
  @include media-breakpoint-phone() {
    min-width: 100%;
  }
}

.fund {
  .recharts-rectangle {
    fill: white;
    stroke: $main-color;
  }
}

.profit {
  .recharts-rectangle {
    fill: $alternate-color;
    stroke: $main-color;
  }
}

.loss {
  .recharts-rectangle {
    fill: $danger-color;
    stroke: $main-color;
  }
}

.total-profit {
  .recharts-line-curve {
    stroke: $main-color;
  }
}
