@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-total {
  &__profits {
    align-items: flex-end;
    & div.pie-container:not(:last-child) {
      margin-bottom: $padding-xsmall;
      margin-right: $padding-xsmall;
    }
  }
  &__values {
    @include details-block-horizontal-paddings();
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
}
