$COLUMNS_COUNT: 8;
$column-width: 100px;

.order-history {
  &__header-cell {
    padding: 10px !important;
  }
  &__table {
    & th,
    & td {
      width: $column-width;
      min-width: $column-width;
      max-width: $column-width;
      box-sizing: border-box;
    }
  }
}
