$COLUMNS_COUNT: 8;
$column-width: 100px;

.order-history {
  &__header-cell {
    padding: 10px !important;
    &--futures {
      &:nth-child(2) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      &:nth-child(3) {
        width: 130px;
        min-width: 130px;
        max-width: 130px;
      }
      &:nth-child(4) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      &:nth-child(5) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      &:nth-child(6) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      &:nth-child(7) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      &:nth-child(8) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      &:nth-child(10) {
        width: 170px;
        min-width: 170px;
        max-width: 170px;
      }
    }
  }
  &__table {
    & th,
    & td {
      width: $column-width;
      min-width: $column-width;
      max-width: $column-width;
      box-sizing: border-box;
    }
  }
}
