@import "styles/_colors.scss";

.dashboard-request-popover {
  &__request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-accent-color;
  }
  & + * {
    flex: 1;
  }

  &__title {
    font-weight: bold;
    line-height: 22px;
    font-size: 13px;
    letter-spacing: 0.2px;
  }

  &__profitability {
    line-height: 22px;
    font-size: 13px;
    letter-spacing: 0.2px;
  }

  &__label {
    font-weight: normal;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: 0.184615px;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
}
