@import "styles/_colors.scss";
.register {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 50vh;
  margin: auto;
  margin-top: 5rem;
}

.register__header {
  font-size: 1.5rem;
  font-family: "NeuzeitGroBol";
  align-self: center;
  margin: 2rem;
}

.register__btn {
  margin-top: 0.5rem;
}

.register__separator {
  border-top: 1px dashed $border-color;
  margin: 2rem 0;
}
