@import "shared/styles/_breakpoint.scss";

.program-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.program-info__avatar {
  flex: 1;
  max-width: 200px;
  margin: 0 1rem;
  @include media-breakpoint-phone() {
    max-width: 100px;
  }
}

.program-info__name {
  flex: 1;
}

.program-info__title {
  font-family: "NeuzeitGroBol";
  font-size: 3rem;
  max-width: 20em;
  overflow: hidden;
  @include media-breakpoint-phone() {
    font-size: 1.5rem;
  }
}

.program-info__description {
  word-break: break-word;
  max-width: 100%;
  @include media-breakpoint-phone() {
    font-size: 0.7rem;
  }
}
