@import "styles/_colors.scss";

.dashboard-program-list-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-program-tab {
  cursor: pointer;
  color: $text-color;
  margin: 0 2rem;
  padding: 0.5rem 1rem;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
  
}

.dashboard-program-tab--active {
  color: $alternate-color!important;
  border-bottom: 3px solid $alternate-color;
}
