@import "styles/_constants";

$column-width: 100px;

.open-orders {
  &__table {
    & th,
    & td {
      width: $column-width;
      min-width: $column-width;
      max-width: $column-width;
      box-sizing: border-box;
    }

    // Fix it
    &--futures {
      & th,
      & td {
        &:nth-child(1) {
          width: 130px;
          min-width: 130px;
          max-width: 130px;
        }
        &:nth-child(9) {
          width: 150px;
          min-width: 150px;
          max-width: 150px;
        }
      }
    }
  }
}
