@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

.navigation {
  display: flex;
  flex-direction: row;

  &__item {
    display: flex;
    align-items: center;
    padding: 0.2rem 2rem;
    border-left: 1px solid $border-color;
  }

  &__icon {
    margin-right: 1rem;

    & > * {
      height: 100%;
    }
  }

  &__auth {
    display: none;
  }

  &__link {
    display: inline-flex;
    align-items: flex-start;
    font-family: NeuzeitGroBol;
    height: 24px;
    font-size: 18px;
    color: $main-color;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: $alternate-color;
    }

    .fas {
      color: #ccd5d4;
    }

    &--active {
      .fas {
        color: $alternate-color;
      }
      .traders {
        stroke: $alternate-color;
      }
      .wallet,
      .dashboard {
        fill: $alternate-color;
      }
    }
  }
}
