@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "mixins";
@import "grid";

.home {
  &__container {
    @include container();
  }

  &__grid-row {
    @include grid();
    align-items: center;

    &--mob-wider {
      margin-left: -20px;
      margin-right: -20px;

      @include media-breakpoint-tablet() {
        margin-left: 0;
        margin-right: 0;
      }

      .home__grid-item {
        padding-left: 20px;
        padding-right: 20px;

        @include media-breakpoint-tablet() {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  &__grid-item {
    @include media-breakpoint-tablet() {
      grid-column: 2/12;
    }

    &--sm {
      @include media-breakpoint-tablet() {
        grid-column: 3/11;
      }

      @include media-breakpoint-landscape-tablet() {
        grid-column: 4/10;
      }
    }
  }

  &__section {
    background-color: $landing-bg;
    color: $main-color;
    position: relative;

    &--first-screen {
      @include media-breakpoint-tablet() {
        min-height: 670px;
      }

      @include media-breakpoint-landscape-tablet() {
        height: calc(100vh - 130px);
        min-height: 630px;
      }

      @include media-breakpoint-desktop() {
        height: calc(100vh - 134px);
      }

      @include media-breakpoint-large-desktop() {
        min-height: 770px;
      }

      .home__container {
        height: 100%;

        @include media-breakpoint-landscape-tablet() {
          display: grid;
          grid-auto-flow: row;
        }
      }
    }

    &--last-screen {
      padding-top: 360px;
      background-image: url("../images/common/join-bg-mob.svg");
      background-repeat: no-repeat;
      background-size: auto 300px;
      background-position: 50% 30px;

      @include media-breakpoint-tablet() {
        padding-top: 420px;
        background-size: auto 400px;
        background-position: 50% 30px;
      }

      @include media-breakpoint-landscape-tablet() {
        background-image: url("../images/common/join-bg.svg");
        padding-top: 235px;
        padding-bottom: 235px;
        background-size: 100%;
        background-position: 50% 80px;
      }

      @include media-breakpoint-desktop() {
        padding-top: 260px;
        padding-bottom: 260px;
        background-position: 50%;
        background-size: 1600px 100%;
      }

      @include media-breakpoint-large-desktop() {
        padding-top: 320px;
        padding-bottom: 320px;
      }
    }

    &--horizontal-padding {
      padding-top: 100px;
      padding-bottom: 100px;

      @include media-breakpoint-large-desktop() {
        padding-top: 140px;
        padding-bottom: 140px;
      }
    }

    &--not-padding-bottom-mob {
      padding-top: 100px;
      padding-bottom: 0;

      @include media-breakpoint-tablet() {
        padding-bottom: 100px;
      }

      @include media-breakpoint-large-desktop() {
        padding-top: 140px;
        padding-bottom: 140px;
      }
    }

    &--bg-white {
      background-color: $main-color;
    }

    &--bg-gray {
      background-color: $landing-bg-gray;
    }

    &--bg-white,
    &--bg-gray {
      color: $row-color;

      h1,
      h2,
      h3 {
        color: $row-color;
      }
    }
  }
}
