@import "styles/_colors";
@import "styles/_breakpoint";
@import "mixins";
@import "grid";

.internal {
  background-color: $main-color;
  color: $row-color;
  line-height: 2;

  h3,
  h4 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    @include reset-link();
    @include transition(color);
    color: $primary-color;
    font-weight: 600;

    &:hover,
    &:active {
      color: lighten($primary-color, 7%);
    }

    &:focus {
      color: $primary-color;
    }
  }

  &__article {
    margin-bottom: 30px;

    @include media-breakpoint-desktop() {
      margin-bottom: 50px;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    ol {
      list-style-type: decimal;
      padding-left: 20px;
      margin-bottom: 20px;
    }
  }

  &__container {
    @include container();
  }

  &__list {
    @include reset-list();
  }

  &__list-item {
    margin-bottom: 30px;
    position: relative;
    font-size: 13px;
    padding-left: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50%;
      background: $primary-color;
      border: 7px solid #e8f8f7;
      top: 5px;
      left: -20px;

      @include media-breakpoint-tablet() {
        font-size: 16px;
        left: -43px;
      }
    }
  }

  &__table {
    border-collapse: collapse;
    min-width: 100%;
    margin-bottom: 20px;

    th,
    td {
      border: 1px solid rgba($row-color, 0.3);
      text-align: left;
      padding-left: 20px;
    }

    @include media-breakpoint-tablet() {
      min-width: 500px;
    }
  }

  &--font-small {
    h2,
    h3,
    h4 {
      font-size: 75%;
      line-height: 1;
      letter-spacing: 0;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p,
    li {
      font-size: 70%;
      line-height: 1;
      letter-spacing: 0;
    }
  }
}
