.verification {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &:before {
    margin-right: 5px;
    height: 10px;
    overflow: hidden;
    line-height: 8px;
  }

  &--positive {
    &:before {
      content: url("../../media/ok.svg");
    }
  }

  &--negative {
    &:before {
      content: url("../../media/error.svg");
    }
  }

  &--warning {
    &:before {
      content: url("../../media/clock.svg");
    }
  }
}
