@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";

.input-image {
  width: 100%;
  min-height: 200px;
  position: relative;
  box-sizing: border-box;

  &--error {
    border-color: $text-error;
  }

  &__error {
    position: absolute;
    bottom: -34px;
    color: $text-error;
    font-size: 0.7em;
    width: 100%;
    text-align: center;
  }

  border: 2px solid $separator-color;

  & .cropper-face {
    opacity: 0;
  }

  &__dropzone {
    &--active &-helper {
      display: flex;
    }
  }

  &__dropzone-content {
    position: relative;
  }

  &__dropzone-helper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    display: none;
    border: 2px dashed grey;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__clear-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    background-color: $panel-background-color;
    border-radius: 15px;
    border: 1px solid $separator-color;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
    box-sizing: border-box;
    z-index: 6;
  }

  &__text {
    font-size: 12px;
    color: $text-color;
    text-align: center;
    margin: 20px 20px 0;

    &-upload {
      color: $primary-color;
      cursor: pointer;
    }

    &--big {
      display: none;

      @include media-breakpoint-tablet() {
        display: block;
      }
    }

    &--small {
      display: block;
      color: $primary-color;
      cursor: pointer;

      @include media-breakpoint-tablet() {
        display: none;
      }
    }
  }

  & .cropper-bg {
    background-image: none;
  }

  &__image-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  &__preview-img {
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    margin-top: 20px;
  }

  & img {
    max-width: 200px;
  }

  @include media-breakpoint-tablet() {
    width: 200px;
    min-height: 200px;
  }
}
