@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

$text-size: 13px;
.profitability {
  &--positive {
    color: $positive-color;
  }

  &--negative {
    color: $negative-color;
  }

  &--chips {
    font-size: $text-size/1.5;
    font-weight: 600;
    border-radius: 19.5px;
    background-color: $separator-color;
    padding: 5px 13px;
    &.positive {
      background-color: $success;
    }
    &.negative {
      background-color: rgba($negative-color, 0.1);
    }
    @include media-breakpoint-phone() {
      font-size: $text-size;
    }
  }
}
