@import "styles/_colors.scss";
.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.popup-header__text {
  font-family: "NeuzeitGroBol";
  font-size: 1.5em;
  margin: auto;
}

.popup-header__close {
  &:hover {
    cursor: pointer;
    .popup-header__close-icon {
      fill: $primary-color;
    }
  }
  justify-self: end;
}
