@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

$pager-button-size: 40px;
$pager-button-size-mobile: $pager-button-size/$divider-text;

.pager {
  display: flex;
  &__pager-block {
    display: flex;
    align-items: baseline;
    @include media-breakpoint-landscape-phone() {
    }
  }

  &__separator,
  &__button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    opacity: 0.4;
    font-weight: 700;
    width: $pager-button-size-mobile;
    height: $pager-button-size-mobile;
    font-size: $font-size-common-mobile;
    @include media-breakpoint-landscape-phone() {
      width: $pager-button-size;
      height: $pager-button-size;
      font-size: $font-size-common;
    }
  }

  &__button {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    &--current {
      background-color: #1b2a35;
      opacity: 1;
    }
  }
}
