@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_colors.scss";

.change-password {
  &__new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;

    @include media-breakpoint-landscape-tablet() {
      flex-direction: row;
    }
  }

  &__equal {
    &::after {
      border-bottom-color: $positive-color;
      transform: scale(1);
    }
  }
}
