@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.change-password {
  &__new {
    @include adaptive-padding(bottom, $padding-big);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    @include media-breakpoint-landscape-tablet() {
      flex-direction: row;
    }
  }

  &__equal {
    &::after {
      border-bottom-color: $positive-color;
      transform: scale(1);
    }
  }

  .form-error {
    @include adaptive-padding(bottom, $padding-xsmall);
    position: absolute;
    bottom: 0;
  }
}
