@import "styles/_sizes";

.trades {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__header-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 5px);
    margin-bottom: $padding-xxxsmall;
  }
  &__items-container {
    height: 100%;
  }

  &__head-cell {
    display: flex;
    span {
      font-size: 9px;
    }
  }

  &__cell {
    font-weight: normal;
    font-size: 11px;
    font-family: "DIN Pro Regular", sans-serif;

    &:nth-child(1) {
      min-width: 70px;
      text-align: left;
    }
    &:nth-child(2) {
      min-width: 75px;
      text-align: right;
    }
    &:nth-child(3) {
      min-width: 60px;
      text-align: right;
    }
  }

  &__row-container {
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
  }
}
