@import "~shared/styles/_breakpoint";
@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.statistics-item {
  display: flex;
  flex-direction: column;

  &__top {
    @include adaptive-margin(bottom, $padding-xsmall/2);
    &--hidden {
      visibility: hidden;
    }
  }

  &__value {
    @include font-size($font-size-paragraph);
    letter-spacing: 0.6px;
    white-space: nowrap;

    &--accent {
      font-weight: 600;
    }
    &--big {
      display: flex;
      align-items: center;
      @include font-size($font-size-h2);
    }
    &--large {
      display: flex;
      align-items: center;
      @include font-size($font-size-h1);
    }
  }
}

.statistics-item-container {
  &--bottom-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  &--with-padding {
    &:not(:last-child) {
      @include adaptive-margin(right, $padding-medium);
      @include adaptive-padding(bottom, $padding-xsmall);
    }
  }
  &--half {
    margin-right: 0 !important;
    @include media-breakpoint-landscape-phone() {
      width: auto;
      box-sizing: border-box;
    }
  }
}

.pie-statistics-item {
  display: flex;
  align-items: center;
  &__pie-block {
    @include adaptive-margin(right, $padding-xsmall);
  }
}
