@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";

.days-left-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  &__text {
    font-size: 0.875rem;
    white-space: nowrap;
  }

  &__progress {
    flex: 1;
    margin: 4px 0;
    width: 100%;
  }

  &--column {
    flex-direction: column;

    .days-left-widget__text {
      order: -1;
      font-size: 1.17rem;
    }

    .days-left-widget__progress {
      margin: 0.5rem;
    }
  }

  @include breakpoint-desktop() {
    &__progress {
      flex: 1;
      margin: 1rem;
      max-width: 122px;
    }
  }
}
