@import "styles/_breakpoint.scss";

.program-search-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  &:not(:last-child) {
    padding-right: 0.5rem;
  }
  .program-search {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 530px;
    max-width: 600px;
    @include media-breakpoint-tablet() {
      display: none;
    }

    &__open {
      display: none;
      @include media-breakpoint-tablet() {
        display: inline-block;
      }
    }

    &__close {
      display: none;
    }

    &__loading-bar {
      left: 0;
      bottom: -23px;
    }
  }

  &--is-open {
    @include media-breakpoint-tablet() {
      position: absolute;
      display: flex;
      left: 0;
      width: 100%;
      height: 50px;
      background: white;
      align-items: center;
    }

    .program-search {
      @include media-breakpoint-tablet() {
        display: block;
        max-width: 100%;
      }

      @include media-breakpoint-phone() {
        min-width: calc(100% - 65px);
      }

      &__open {
        @include media-breakpoint-tablet() {
          display: none;
        }
      }

      &__close {
        @include media-breakpoint-tablet() {
          display: inline-block;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
