@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.follows-list {
  @include reset-list();
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -20px;
  margin-left: -20px;
  padding-bottom: 40px;

  @include media-breakpoint-tablet() {
    padding-left: 19.5%;
    grid-column-gap: 40px;
    padding-bottom: 140px;
  }

  @include media-breakpoint-landscape-tablet() {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  &__item {
    background-color: $main-color;
    border-radius: 20px;
    width: 210px;
    line-height: 1.6;

    @include media-breakpoint-tablet() {
      width: 215px;
    }

    @include media-breakpoint-landscape-tablet() {
      min-height: 280px;
      width: auto;

      &:nth-child(odd) {
        margin-bottom: 40px;
      }

      &:nth-child(even) {
        margin-top: 40px;
      }
    }
  }
  &__item-link {
    @include transition(box-shadow);
    @include reset-link();
    display: block;
    padding: 34px;
    height: 100%;

    &:hover {
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    }

    @include media-breakpoint-desktop() {
      padding: 40px;
    }
  }

  &__item-avatar {
    width: 66px;
    height: 66px;
    background-color: $landing-color-icon;
    border-radius: 16px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-desktop() {
      width: 80px;
      height: 80px;
      border-radius: 20px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-large-desktop() {
      width: 100px;
      height: 100px;
    }
  }

  &__item-image {
    border-radius: 15px;
    width: 100%;
    max-height: 100%;
  }

  &__item-title {
    font-weight: 600;
    font-size: 16px;
    color: $row-color;
    margin-bottom: 16px;

    @include media-breakpoint-desktop() {
      font-size: 20px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-large-desktop() {
      font-size: 22px;
    }
  }

  &__item-number {
    font-size: 32px;
    color: $primary-color;
    font-weight: 400;
    letter-spacing: 0.385127px;
    margin-bottom: 10px;

    @include media-breakpoint-desktop() {
      font-size: 38px;
    }
  }

  &__item-label {
    font-size: 13px;
    font-weight: 400;
    color: rgba($row-color, 0.79);

    @include media-breakpoint-desktop() {
      font-size: 16px;
    }
  }
}
