@import "styles/_colors.scss";

.confirm-popup {
  padding: 40px 10px 20px;
  color: $text-light-color;
  &__header {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
  }
  &__body {
    margin: 30px 0;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.433333px;
  }
  &__btns {
    text-align: center;
    :last-child {
      margin-left: 10px;
    }
  }
}
