@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.manager-history {
  @include vertical-paddings($padding-small);

  &__heading {
    padding: 0 $padding-xsmall;
  }

  &__title {
    @include font-size($font-size-h3);
    letter-spacing: 0.2px;
  }
  &__tabs {
    padding: 0 $padding-xsmall;
  }
}
