@import "styles/_breakpoint";
@import "styles/_colors";

.manager-history-row {
  &:nth-child(2n + 1) {
    background: $table-background-subcolor;
  }
  &__data {
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-breakpoint-landscape-tablet() {
      flex-wrap: nowrap;
    }
  }
  &__chart {
    max-width: 136px;
    width: 136px;
  }
}
