@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes.scss";

.tag-item {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: default;

  &__button-remove {
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #293842;
    border: 2px solid $panel-background-color;
    border-radius: 50%;
    top: -10px;
    right: -10px;

    .icon {
      height: 6px;
      width: 6px;
    }
  }

  .gv-btn:hover:not(disabled).gv-btn--secondary {
    background-color: #161b20;
  }
}

.tag-item-tooltip {
  max-width: 205px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tag-item {
    margin-top: $padding-xxsmall/2;
    margin-bottom: $padding-xxsmall/2;
  }

  &.tag-broker-container {
    .tag-item {
      margin-top: 0;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.tag-button {
  @include font-size($tag-font-size);
  border-radius: 19.5px;
  font-weight: 500;
  text-transform: uppercase;
  height: 18px;
  line-height: 18px;
  padding: 0 $padding-xxsmall-mobile;
  white-space: nowrap;

  @include media-breakpoint-landscape-phone() {
    padding: 0 $padding-xxsmall;
    max-height: 18px;
    line-height: 18px;
  }
  &--remainder {
    color: $positive-color;
    background-color: rgba($positive-color, 0.1);
  }
}

.tag-circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
