@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

$th-font-size: 12px;
$td-font-size: 13px;
$table-title-font-size: 17px;
$view-svg-size: 15px;
$padding: $padding-small;

%sortable-border-icon {
  position: absolute;
  right: -15px;
  bottom: 3px;
  content: "";
  border-top: 1px solid white;
}

.table {
  @include adaptive-padding(bottom, $padding-xsmall, 2);
  width: 100%;
  border-spacing: 0;

  & .message {
    padding: $padding;
    text-align: center;
    width: 100%;
    font-size: $font-size-common;
    box-sizing: border-box;
  }
  &__vertical-track {
    display: none;
  }
  &__footer {
    @include adaptive-padding(top, $padding-xxsmall, 2);
    display: flex;
    align-items: baseline;
    font-size: $td-font-size/1.5;
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    .pagination {
      margin: 0;
    }
    .pager {
      margin-left: auto;
    }
  }
  &__footer-text {
    @include font-size($font-size-paragraph);
    letter-spacing: 0.56px;
    color: rgba($text-light-color, 0.4);
  }
  &__toolbar {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 $padding-xsmall;
    min-height: 20px;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle-icon {
    cursor: pointer;
    padding: 0 $view-svg-size;
    line-height: 0;
    .icon {
      width: $view-svg-size/1.2;
      height: 18px;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  &__title {
    @include adaptive-padding(bottom, $padding-xsmall);
    justify-self: flex-start;
    margin-right: auto;
    line-height: 22px;
    white-space: nowrap;
  }

  &__filters {
    align-items: center;
    font-size: $table-title-font-size/2;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;

    .filter {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    .sorting-filter {
      margin-right: 10px;
    }
  }

  &__head {
    font-size: $th-font-size/1.5;
  }
  &__body {
    font-size: $td-font-size/1.5;
  }

  &__row {
    transition: background-color 300ms ease;
    &:not(.table__row--head):hover {
      background-color: #212c34;
    }

    &:hover {
      .program-avatar__level {
        border-color: #212c34;
      }

      .program-detailed__avatar .program-avatar__level {
        border-color: $secondary-color;
      }
    }

    .program-avatar__level {
      transition: border-color 300ms ease;
    }
  }

  &__cell {
    @include vertical-paddings($padding-xsmall);
    @include font-size($font-size-common);
    text-align: left;
    cursor: default;
    box-sizing: border-box;
    align-items: center;
    flex-grow: 1;
    overflow: hidden; // Or flex might break
    list-style: none;
    font-weight: normal;
    letter-spacing: 0.433333px;
    white-space: nowrap;

    &:first-child {
      padding-left: $padding-xsmall;

      .programs-table__cell,
      .funds-table__cell {
        padding: 0;
      }
    }
    &:last-child {
      padding-right: $padding-xsmall;
    }

    &#{&} {
      &--head {
        padding-right: $padding/2;
        opacity: 0.3;

        &:last-child {
          padding-right: $padding-xsmall;
          @include media-breakpoint-landscape-phone() {
            padding-right: $padding;
          }
        }
      }
      &--sortable {
        cursor: pointer;
        padding-right: $padding/2;
        opacity: 0.6;
        .table__cell--sortable-asc,
        .table__cell--sortable-desc {
          span {
            opacity: 1;
          }
          position: relative;
          &::before {
            @extend %sortable-border-icon;
            height: 4px;
          }
          &::after {
            @extend %sortable-border-icon;
          }
        }
        .table__cell--sortable-desc {
          &::before {
            width: 10px;
          }
          &::after {
            width: 5px;
          }
        }

        .table__cell--sortable-asc {
          &::before {
            width: 5px;
          }
          &::after {
            width: 10px;
          }
        }
      }
    }
  }
  @include media-breakpoint-landscape-phone() {
    &__head {
      font-size: $th-font-size;
    }
    &__filters {
      font-size: $td-font-size;

      .filter {
        padding-top: 0;
      }
    }
    &__body {
      font-size: $td-font-size;
    }
    &__toolbar {
      padding: 0 $padding;
      min-height: 26px;
    }
    &__footer {
      padding-left: $padding-small;
      padding-right: $padding-small;
      font-size: $td-font-size;
    }
    &__toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @include media-breakpoint-tablet() {
    &__filters {
      font-size: $td-font-size;

      .filter {
        margin-right: 25px;
      }
    }
  }

  @include media-breakpoint-desktop() {
    &__toolbar {
      justify-content: flex-end;
    }
    &__filters {
      .sorting-filter {
        margin-right: 60px;
      }
    }
  }
}
