@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.forgot-password {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 50vh;
  margin: auto;
  margin-top: 5rem;
  @include media-breakpoint-phone() {
    margin-top: 2rem;
  }
}

.forgot-password__header {
  font-size: 1.5rem;
  font-family: "NeuzeitGroBol";
  align-self: center;
  margin: 2rem;
}

.forgot-password__btn {
  margin-top: 0.5rem;
}
