//@import "~shared/styles/breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.header {
  @include container();
  padding-top: 35px;
  padding-bottom: 35px;

  @include media-breakpoint-tablet() {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__burger {
    @include media-breakpoint-desktop() {
      display: none;
    }
  }

  &__row {
    @include grid();
    align-items: center;
    justify-content: space-between;
    grid-auto-flow: row dense;
  }

  &__mobile-menu {
    display: none;
  }

  &__nav {
    display: none;

    @include media-breakpoint-desktop() {
      display: block;
    }
  }

  &__link {
    @include transition(opacity);
    @include reset-link();
    font-size: 12px;
    display: none;

    @include media-breakpoint-tablet() {
      display: block;
    }
  }
}
