//@import "~shared/styles/breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.header {
  @include container();
  padding-top: 35px;
  padding-bottom: 35px;

  @include media-breakpoint-tablet() {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__row {
    @include grid();
    align-items: center;

    @include media-breakpoint-tablet() {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      justify-content: space-between;
    }

    @include media-breakpoint-desktop() {
      grid-template-columns: repeat($grid-columns, 1fr);
    }
  }

  &__burger {
    @include media-breakpoint-desktop() {
      display: none;
    }
  }

  &__mobile-menu {
    display: none;
  }

  &__nav {
    display: none;

    @include media-breakpoint-desktop() {
      display: block;
      grid-column: 3/11;
      justify-self: end;
    }
  }

  &__start-btn {
    display: none;

    @include media-breakpoint-tablet() {
      display: block;
      justify-self: end;
    }

    @include media-breakpoint-desktop() {
      grid-column: 11/13;
    }
  }

  &__logo {
    grid-column: 2/4;
    justify-self: center;

    @include media-breakpoint-tablet() {
      grid-column: 2/2;
    }

    @include media-breakpoint-desktop() {
      grid-column: 1/3;
      justify-self: start;
    }
  }

  &__logo-img {
    max-height: 22px;

    @include media-breakpoint-tablet() {
      max-height: none;
    }
  }

  &__start-btn-link,
  &__logo-link {
    @include transition(opacity);
    @include reset-link();
    display: block;
  }
}
