@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.download-button {
  &__container {
    display: flex;
    align-items: center;
  }
  @include font-size($font-size-common);
  font-weight: 600;
}

.download-icon {
  margin-left: 5px;
}
