@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.wallet-add-funds-popup {
  &__title {
    font-size: $font-size-small;
    opacity: 0.3;
    letter-spacing: 0.4px;
    color: $main-color;
    margin-bottom: 12px;
  }
  &__value {
    font-size: $font-size-h4-mobile;
    letter-spacing: 0.4px;
    margin-bottom: 32px;
    text-align: center;

    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-small;
    }
  }
  &__qr {
    margin-bottom: 32px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__from-text {
    align-self: flex-start;
  }

  &__will-get {
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
  }
  &__address {
    text-align: center;
    & > .statistics-item__value {
      font-size: $font-size-paragraph-mobile;
    }
  }
  &__icon {
    margin-right: 20px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    &--currency {
      width: 40px;
      height: 40px;
    }
  }
}
