@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";
@import "styles/_constants";

.guide-block {
  width: 100%;
  padding-left: $padding-small !important;
  padding-right: $padding-small !important;
  margin-bottom: $padding-xsmall;
  &:not(:last-child) {
    @include media-breakpoint-landscape-phone() {
      margin-right: $padding-xsmall;
    }
  }

  @include media-breakpoint-tablet() {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px) !important;
  }

  @include media-breakpoint-landscape-tablet() {
    padding-left: $padding-xxlarge !important;
    padding-right: $padding-xxlarge !important;
    width: calc(100% - 347px) !important;
  }

  &__subtitle {
    @include adaptive-padding(bottom, $padding-medium);
  }

  &__content {
    @include adaptive-padding(bottom, $padding-medium);
    @include font-size($font-size-paragraph);
    line-height: 1.7;

    img {
      @include adaptive-padding(top, $padding-xsmall);
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;

      ~ img {
        margin-top: 0;
      }
    }

    h3 {
      @include adaptive-padding(bottom, $padding-xxsmall);
    }

    ol,
    ul {
      margin-top: 0;
    }

    table {
      @include adaptive-margin(top, $padding-xsmall);
      @include adaptive-margin(bottom, $padding-small);
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      @include adaptive-full-padding($padding-xxsmall);
      border: 1px solid $main-color;
    }

    td {
      text-align: left;
    }

    th {
      text-align: center;
    }

    section {
      @include adaptive-padding(bottom, $padding-small);
    }

    b {
      font-weight: 600;
    }
  }

  &__controls {
    @include font-size($font-size-common);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;

    @include media-breakpoint-landscape-phone() {
      justify-content: space-between;
      position: relative;
    }
  }

  &__link {
    @include transition(background-color);
    background-color: $table-background-subcolor;
    padding: $padding-xxsmall $padding-small;
    border-radius: 8px;
    width: 100%;
    margin-bottom: $padding-xxsmall;
    text-align: center;

    @include media-breakpoint-landscape-phone() {
      width: auto !important;
      margin-bottom: 0;
      margin-right: 116px;
    }

    &:hover {
      background-color: rgba($main-color, 0.06);
    }

    &--next {
      margin-top: $padding-xxsmall;
      margin-bottom: 0;

      @include media-breakpoint-landscape-phone() {
        margin-left: auto;
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  &__button {
    @include media-breakpoint-landscape-phone() {
      position: absolute !important;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
