@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.pi-chart {
  display: flex;
  width: 100%;
  height: 50px;

  @include media-breakpoint-phone() {
    min-width: 100%;
  }
}

.fund {
  .recharts-rectangle {
    fill: white;
  }
}

.profit {
  .recharts-rectangle {
    fill: $alternate-color;
  }
}

.loss {
  .recharts-rectangle {
    fill: $danger-color;
  }
}

.total-profit {
  .recharts-line-curve {
    stroke: $alternate-color;
  }
}
