@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.chart-period {
  box-sizing: border-box;
  @include adaptive-padding(bottom, $padding-xsmall);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 1em;

  &__period {
    color: $text-dark-color;
    font-size: $font-size-small;
    font-weight: bold;
    letter-spacing: 0.2px;
  }

  &__period-item {
    font-size: $font-size-paragraph;
    &:not(:last-of-type) {
      margin-right: $padding-xsmall;
    }
    &:not(&--active) {
      cursor: pointer;
      color: $text-color;
    }
    &--active {
      cursor: default;
      color: $text-accent-color;
    }
    &:disabled {
      opacity: 1;
    }
  }

  &__date-range {
    color: $text-color;
    font-size: $font-size-small-mobile;
    font-weight: 600;
    letter-spacing: 0;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      letter-spacing: 0.2px;
    }
  }
}
