@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.chart-period {
  @include adaptive-padding(bottom, $padding-xsmall);
  justify-content: space-between;

  &__period-item {
    font-size: $font-size-paragraph;
    &:not(&--active) {
      cursor: pointer;
      color: $text-color;
    }
    &--active {
      cursor: default;
      color: $text-accent-color;
    }
    &:disabled {
      opacity: 1;
    }
  }
}
