@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.level-tooltip {
  &__level {
    @include adaptive-padding(bottom, $padding-xxsmall);
    @include font-size(16px);
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 0.23px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
