@import "shared/styles/_colors.scss";

.date-range-filter {
  display: flex;
  font-size: 14px;

  &__type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #24323c;
    padding: 15px;
    letter-spacing: 0.4px;
  }

  &__dates {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__date-input {
    max-width: 140px;
  }

  &__title {
    color: $text-color;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 5px;
  }

  &__btns {
    text-align: start;
    margin-top: auto;
  }

  &__btn {
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.4px;
    &--type {
      &:not(:disabled) {
        color: $text-dark-color;
      }
      &:disabled {
        opacity: 1;
      }
    }
  }
}
