@import "styles/_breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.brokers-container {
  @include grid();
  position: relative;

  &__title {
    @include media-breakpoint-tablet() {
      grid-column: 2/12;
      margin-bottom: 90px;
    }

    @include media-breakpoint-landscape-tablet() {
      grid-column: 2/6;
    }
  }

  &__wrapper-controls {
    @include media-breakpoint-tablet() {
      grid-column: 2/13;
    }

    @include media-breakpoint-landscape-tablet() {
      grid-column: 2/6;
      position: relative;
    }
  }

  &__controls {
    &.tab-controls {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 30px;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      padding-bottom: 40px;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      @include media-breakpoint-tablet() {
        padding-bottom: 50px;
      }

      @include media-breakpoint-landscape-tablet() {
        display: block;
        top: 150px;
        position: sticky;
      }
    }

    .tab-controls__item {
      min-width: 160px;
    }
  }

  &__tab-info {
    @include media-breakpoint-tablet() {
      grid-column: 2/12;
    }

    @include media-breakpoint-landscape-tablet() {
      grid-column: 6/12;
      grid-row: 2/3;
      width: 100%;
    }
  }
}
