@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";

.gv-text-field {
  order: 1;
  color: $text-light-color;
  font-family: Montserrat, sans-serif;
  font-size: $font-size-h4;
  font-weight: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  border: 0;
  margin: 0;
  padding: 6px 0 7px;
  display: block;
  min-width: 0;
  flex-grow: 1;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: none;
  }
  &:disabled {
    color: $text-dark-color;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $text-light-color;
    -webkit-box-shadow: 0 0 0 30px $panel-background-color inset;
    caret-color: $text-light-color;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
