@import "node_modules/gv-react-components/dist/gv-styles/_colors.scss";

$inactive-icon-color: #ccd5d4;
$main-color: #fff;
$border-color: #313a41;
$secondary-background-color: #1f2b36;

$program-status-active-color: $text-light-color;
$program-status-investing-color: $primary-color;
$program-status-withdrawing-color: $level-color-4;
$program-status-ended-color: $text-dark-color;

$short-statistic-subheading-color: rgba(255, 255, 255, 0.3);
$short-statistic-notice-color: rgba(255, 255, 255, 0.4);
