$main-color: #fff;
$alternate-color: #03bdaf;
$danger-color: red;
$warning-color: #f9f3dd;
$border-color: #313a41;
$background-color: #1c252d;
$app-background-color: #131e26;

$inactive-icon-color: #ccd5d4;

$text-color: $main-color;
$text-sub-color: #28768d;
$text-color-light: $alternate-color;
$text-color-grey: rgba(255, 255, 255, 0.43);

$box-shadow-primary-color: rgba(22, 183, 173, 0.28);
$box-shadow-danger-color: rgba(224, 4, 99, 0.28);
$box-shadow-warning-color: rgba(249, 243, 221, 0.28);
