.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.metric__value {
  font-size: 1.7rem;
  font-family: "NeuzeitGroLig";
}

.metric__description {
  color: $text-sub-color;
  font-size: 0.9rem;
  line-height: 0.5;
}
