$padding-outer: 80px;
$padding-very-large: 90px;
$padding-large: 62px;
$padding-middle: 32px;
$padding-small: 20px;
$padding-mini: 10px;
$font-size-title: 32px;
$font-size-subtitle: 17px;
$font-size-large: 16px;
$font-size-middle: 14px;
$font-size-small: 12px;
$border-radius: 5px;
$border-radius-middle: 8px;
$btn-height: 50px;
$btn-width: 149px;
$icon-size: 25px;
$avatar-size: 120px;

$divider-padding: 3;
$divider-text: 1.5;
$divider-title: 2;

$asset-height: 40px;

$padding-outer-mobile: $padding-outer/$divider-padding;
$padding-very-large-mobile: $padding-very-large/$divider-padding;
$padding-large-mobile: $padding-large/$divider-padding;
$padding-middle-mobile: $padding-middle/$divider-padding;
$padding-small-mobile: $padding-small/$divider-padding;
$padding-mini-mobile: $padding-mini/$divider-padding;
$font-size-title-mobile: $font-size-title/$divider-title;
$font-size-subtitle-mobile: $font-size-subtitle/$divider-text;
$font-size-large-mobile: $font-size-large/$divider-text;
$font-size-middle-mobile: $font-size-middle/$divider-text;
$font-size-small-mobile: $font-size-small/$divider-text;
$border-radius-mobile: $border-radius/$divider-text;
$border-radius-middle-mobile: $border-radius-middle/$divider-text;
$btn-height-mobile: $btn-height/$divider-text;
$btn-width-mobile: $btn-width/$divider-text;
$icon-size-mobile: $icon-size/$divider-text;
$avatar-size-mobile: $avatar-size/$divider-title;
