@import "styles/_colors.scss";
@import "styles/_constants.scss";

.wallet-widget {
  display: flex;
  align-items: center;
  background-color: $background-color;
  padding: 10px 25px;
  border-radius: 22px;
  color: white;
  cursor: pointer;

  &__icon {
    margin-right: 15px;
  }
}

.ww-details {
  color: white;

  &__item:not(:last-child) {
    margin-bottom: 23px;
  }

  &__title {
    opacity: 0.4;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
  }

  &__value {
    font-weight: 600;
    letter-spacing: 0.4px;
  }
}
