@import "styles/_colors.scss";
@import "styles/_constants.scss";

.wallet-widget {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: white;
  cursor: pointer;

  &__value {
    margin-left: 15px;
  }
}

.wallet-details {
  color: white;

  &__item:not(:last-child) {
    margin-bottom: 23px;
  }

  &__title {
    opacity: 0.4;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
  }

  &__value {
    font-weight: 600;
    letter-spacing: 0.4px;
  }
}
