@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";
@import "styles/_sizes.scss";

.program-details-chart {
  padding: 0 $padding-middle-mobile;
  flex: 1;

  &__heading {
    font-size: $font-size-subtitle-mobile;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: $padding-middle-mobile 0;
  }

  &__profit {
    height: 300px;
    width: 100%;
  }

  .program-details-tooltip {
    &__statistic {
    }

    &__title {
      font-size: $font-size-middle-mobile;
      font-weight: 300;
      letter-spacing: 0.4px;
      color: $text-accent-color;
      max-width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $padding-mini-mobile/2 0;
    }

    &__value {
      font-size: $font-size-large-mobile;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: $text-accent-color;
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding: 0 $padding-middle;

    &__heading {
      font-size: $font-size-subtitle;
      padding: $padding-small 0;
    }

    .program-details-tooltip {
      &__title {
        font-size: $font-size-middle;
        padding: $padding-mini/2 0;
      }
      &__value {
        font-size: $font-size-large;
      }
    }
  }
}
