@import "styles/_colors.scss";
.program-details-chart {
  padding: 40px;
  flex: 1;
  &__heading {
    margin: 0 0 30px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
  &__stat-item {
    margin-top: 15px;
  }

  &__profit {
    height: 300px;
    width: 100%;
    margin-top: 40px;
  }

  .program-details-tooltip {
    &__statistic {
      margin: 10px 0;
    }
    &__title {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.4px;
      color: $text-accent-color;
      max-width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__value {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: $text-dark-color;
    }
  }
}
