@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

$type-size: 18px;
$transition-size: $type-size/$divider-text;

.portfolio-event-logo {
  position: relative;
  &--with-asset {
    width: $small-avatar-size;
    height: $small-avatar-size;
  }

  &__type {
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    & img {
      @include height(28px);
      @include width(28px);
    }
    &--with-asset {
      position: absolute;
      top: $transition-size;
      left: $transition-size;
      @include media-breakpoint-landscape-phone() {
        top: $type-size;
        left: $type-size;
      }
      z-index: 1;
    }
  }

  &__photo {
    display: block;
    @include adaptive-margin(right, $transition-size);
    box-sizing: border-box;
    @include height(32px);
    @include width(32px);
    border: solid 2px $panel-background-color;
    border-radius: 50%;
    background-color: #27323a;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    @include line-height(28px);
    text-align: center;
    overflow: hidden;
  }

  &__wallet {
    @include height(12px);
    @include width(12px);
  }

  &__logo {
    &.program-avatar {
      @include height(28px);
      @include width(28px);
    }
  }

  &--positive {
    & .portfolio-event-logo__type {
      background-color: $positive-background-color;
      color: $positive-color;
    }
  }

  &--negative {
    & .portfolio-event-logo__type {
      background-color: $negative-background-color;
      color: $negative-color;
    }
  }
}
