@import "styles/_colors.scss";

.program-list-sorting {
  display: flex;
  flex: 1;
  max-width: 15%;
}

.sorting__container {
  position: relative;
  width: 100%;
}

.Select-control {
  min-width: 200px;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: 0;
  overflow: hidden;
  position: relative;
}

.Select--single > .Select-control .Select-value,
.Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select.has-value.Select--single
  > .Select-control
  .Select-value
  .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single
  > .Select-control
  .Select-value
  .Select-value-label {
  color: #333;
}

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}

.Select,
.Select div,
.Select input,
.Select span {
  box-sizing: border-box;
}

.Select-menu-outer {
  background-color: #fff;
  border-top-color: #e6e6e6;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 100px 100px 0 rgba(194, 207, 212, 0.32);
}

.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  &:not(:last-of-type) {
    border-bottom: 1px solid #eaecf7;
  }
}

.Select-option.is-selected {
  background-color: #f5faff;
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}

.Select-option.is-focused {
  color: #333;
}
