@import "styles/_breakpoint.scss";

.app {
  margin: 0 auto;

  @media (min-width: 1360px) {
    max-width: 1360px;
  }

  &__header {
    padding: 20px;

    @include media-breakpoint-desktop {
      padding: 32px 0;
    }
  }

  &__main {
    padding: 0 18px;
    @media (min-width: 1360px) {
      padding: 0;
    }
  }
}
