@import "styles/_colors.scss";

$tooltip-background-color: #263642;
$tooltip-shadow-color: rgba(black, 0.3);

.gv-tooltip {
  font-size: 10px;
  line-height: 1.2rem;
  padding: 25px 20px;
  border-radius: 0.5rem;
  background-color: $tooltip-background-color;
  box-shadow: 5px 5px 25px 0 $tooltip-shadow-color;

  &__heading {
    font-size: 13px;
    letter-spacing: 0.2px;
    color: $text-dark-color;
  }

  &__body {
    margin-top: 7px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: $text-light-color;
  }

  &__date {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: $text-dark-color;
  }
}
