@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.google-auth {
  background-color: $background-color;

  &--desktop {
    width: 895px;
    max-width: 895px;
  }

  .dialog__header {
    padding: 50px 30px 0;
  }

  &__steps {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  &__step {
    box-sizing: border-box;
    flex: 1 0 280px;
    width: 280px;
    padding: 29px 28px 50px;

    &--alt-color {
      background-color: $secondary-background-color;
    }
  }

  &--mobile {
    .google-auth__step {
      padding-bottom: 30px;
      flex: 1 0 320px;
      width: 320px;
    }
  }

  &__count {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
  }

  &__title {
    letter-spacing: 0.123077px;
    margin-bottom: 50px;
  }
  &__link {
    display: inline-flex;
    margin-bottom: 25px;
  }
  &__qr {
    margin-bottom: 40px;
  }
  &__alt-text {
    font-size: 14px;
    letter-spacing: 0.4px;
    opacity: 0.5;
    margin-bottom: 27px;
  }
  &__alt-code {
    @include adaptive-padding(bottom, $padding-xxsmall);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  &__button {
    margin-top: 16px;
  }

  &__buttons {
    margin-bottom: 20px;
  }
}

.codes {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  &__item {
    font-size: 1.1rem;
    box-sizing: border-box;
    flex: 1 0 50%;
    padding: 5px;
  }
}

.two-factor-auth {
  display: flex;
  box-sizing: border-box;
}
