.forgot-password-pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.forgot-password-pending__image {
  min-width: 150px;
}

.forgot-password-pending__text {
  font-size: 2rem;
}
