@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_sizes.scss";

.app {
  margin: 0 auto;

  @media (min-width: 1360px) {
    max-width: 1360px;
  }

  &__header {
    padding: $padding-small;

    @media (min-width: 1360px) {
      padding: $padding-small 0;
    }
  }

  &__main {
    padding: 0 $padding-small $padding-large;
    @media (min-width: 1360px) {
      padding: 0 0 $padding-large;
    }
  }
}
