@import "styles/_colors";
@import "styles/_constants";
@import "styles/_sizes";

.notification-settings {
  &__subtitle {
    @include font-size($font-size-small);
    letter-spacing: 0.48px;
    font-weight: 600;
  }
}

.notification-entity {
  justify-content: space-between;
  width: 344px;
  background: $background-color;
}
