@import "~shared/styles/_colors";
@import "~shared/styles/_constants";
@import "~shared/styles/_sizes";

.profile-avatar {
  @include transition(background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: $small-avatar-size;
  width: $small-avatar-size;
  border-radius: 100%;
  overflow: hidden;
  background-color: $secondary-color;
  object-fit: cover;
  box-shadow: $box-shadow-1;

  &__image {
    width: 100%;
    height: auto;

    &--default {
      height: 40%;
    }
  }
  &--middle {
    @include width($avatar-size/1.5);
    @include height($avatar-size/1.5);
  }
  &--big {
    @include width($avatar-size);
    @include height($avatar-size);
  }
}
