@import "styles/_colors.scss";
@import "styles/_constants.scss";
@import "styles/_breakpoint.scss";

.login {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;

  &-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
  }
  &__submit-button {
    align-self: flex-start;
    margin-top: auto;
  }
}
