@import "styles/_colors.scss";

.select {
  min-width: 150px;
  &__options {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  &__value {
    letter-spacing: 0.4px;
    font-size: 12px;
    font-weight: 400;
  }

  &__icon {
    display: inline-flex;
    margin-left: 8px;
  }

  &__input {
    &--hidden {
      opacity: 0;
      height: 0;
      width: 0;
      border: 0;
      padding: 0;
    }
  }

  &__option {
    padding: 15px 30px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &--selected {
      color: $primary-color;
    }
  }

  &.gv-text-field__input {
    .select__value {
      flex: 1;
      font-size: 16px;
    }
  }

  &--disabled {
    .select__content {
      cursor: default;
    }
    .select__value {
      color: $text-dark-color;
    }
  }
}
