@import "styles/_colors.scss";
.filter-pane-wrapper {
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  z-index: 1020;
}

.filter-pane-backdrop {
  height: 100vh;
  opacity: 0.5;
  background-color: black;
}

.filter-pane {
  background: white;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 4px 0 rgba(227, 235, 237, 0.86);
}

.filter-item {
  display: flex;
  flex: 1 1 20%;
  max-width: 20%;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem;
  margin-left: 0;
  padding: 2rem 4rem;
  padding-right: 6rem;
  border-right: 2px solid $border-color;
}

.filter-item__title {
  font-size: 1.2rem;
}

.filter-item__description {
  color: $text-sub-color;
  font-size: 0.9rem;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.filter-item__component {
  width: 100%;
}
