@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.filter-pane {
  background: white;
  min-height: calc(100vh - 72px);
  @include media-breakpoint-phone() {
    position: fixed;
    top: 74px;
    left: 0;
    width: 100%;
    z-index: 1020;
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 24vw;
  max-width: 24vw;
  min-width: 300px;
  margin: 1rem 0;
  padding: 3rem 5rem;

  @include media-breakpoint-desktop() {
    min-width: 285px;
    padding: 3rem 4rem;
  }
  @include media-breakpoint-phone() {
    min-width: 100%;
  }
}

.filter-item__title {
  font-size: 1.2rem;
}

.filter-item__description {
  color: $text-sub-color;
  font-size: 0.9rem;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.filter-item__component {
  width: 100%;
}
