@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.filter-pane {
  background: white;
  min-height: calc(100vh - 72px);
  overflow: hidden;
  @include media-breakpoint-phone() {
    position: fixed;
    top: 74px;
    left: 0;
    width: 100%;
    z-index: 1020;
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}
