@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.filter-pane {
  min-height: calc(100vh - 72px);
  overflow: hidden;
  @include media-breakpoint-phone() {
    position: fixed;
    top: 74px;
    left: 0;
    width: 100%;
  }
}

.filter-pane__header-wrapper {
  padding: 0.9rem 0;
  cursor: default !important;
}

.filter-pane__header {
  font-family: NeuzeitGroBol;
}

.filter-list {
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: auto;
  @include media-breakpoint-phone() {
    width: 100%;
    box-shadow: none;
  }
}

.filter-pane-backdrop {
  opacity: 0.5;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 300px;
  z-index: 2;
}
