@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.home {
  &__container {
    @include container();
  }

  &__section {
    background-color: $landing-bg;
    color: $main-color;
    position: relative;

    &--first-screen {
      @include media-breakpoint-tablet() {
        min-height: 670px;
      }

      @include media-breakpoint-landscape-tablet() {
        height: calc(100vh - 130px);
        min-height: 630px;
      }

      @include media-breakpoint-desktop() {
        height: calc(100vh - 134px);
      }

      @include media-breakpoint-large-desktop() {
        min-height: 770px;
      }

      .home__container {
        height: 100%;

        @include media-breakpoint-landscape-tablet() {
          display: grid;
          grid-auto-flow: row;
        }
      }
    }

    &--last-screen {
      padding-top: 360px;
      background-image: url("../../images/common/join-bg-2.svg"),
        url("../../images/common/join-bg-mob-1.svg");
      background-repeat: no-repeat;
      background-size: 300px auto;
      background-position: 50% 50px, 50% 120px;

      @include media-breakpoint-tablet() {
        padding-top: 420px;
        background-size: 400px auto;
        background-position: 50% 70px, 50% 150px;
      }

      @include media-breakpoint-landscape-tablet() {
        padding-top: 235px;
        padding-bottom: 235px;
        background-image: url("../../images/common/join-bg-2.svg"),
          url("../../images/common/join-bg-1.svg");
        background-size: auto;
        background-position: 90% 50%, 50% 50%;
      }

      @include media-breakpoint-desktop() {
        padding-top: 260px;
        padding-bottom: 260px;
        background-size: auto;
        background-position: 80% 50%, 50% 50%;
      }

      @include media-breakpoint-large-desktop() {
        padding-top: 320px;
        padding-bottom: 320px;
        background-position: 70% 50%, 50% 50%;
      }
    }

    &--horizontal-padding {
      padding-top: 100px;
      padding-bottom: 100px;

      @include media-breakpoint-large-desktop() {
        padding-top: 140px;
        padding-bottom: 140px;
      }
    }

    &--bg-white {
      background-color: $main-color;
    }

    &--bg-gray {
      background-color: $landing-bg-gray;
    }

    &--bg-white,
    &--bg-gray {
      color: $row-color;

      h1,
      h2,
      h3 {
        color: $row-color;
      }
    }
  }
}
