@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.level-filter {
  width: 250px;
  &__slider {
    padding: 0 0 $padding-small;
  }
  .rc-slider-track {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      border-color: $primary-color;
    }
    &:active,
    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 5px $primary-color;
    }
  }

  .rc-slider-dot-active {
    border-color: $primary-color;
  }
}
