.fund-asset-filter {
  &__asset-name {
    padding-left: 5px;
    padding-right: 10px;
  }

  &__assets-block {
    max-height: 180px;
    overflow-y: auto;
  }

  &__assets {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
  }

  &__asset-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__asset-item-name {
    padding-left: 10px;
  }
}
