@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";

.program-settings {
  &__broker-info {
    display: flex;
    flex-direction: column;
  }

  &__broker {
    @include adaptive-margin(bottom, $padding-xsmall);
  }

  &__signaling-edit-form-title-block {
    display: flex;
    align-items: center;
    @include adaptive-padding(bottom, $padding-xsmall);
    margin: 0;
  }

  .svg-loader {
    max-width: 100%;
  }
}
