@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";

.program-settings {
  padding-left: $padding-xsmall;
  padding-right: $padding-xsmall;
  box-sizing: border-box;
  @include media-breakpoint-landscape-phone() {
    padding-left: 0;
    padding-right: 0;
  }

  &__broker-info {
    display: flex;
    flex-direction: column;
  }

  &__broker {
    @include adaptive-margin(bottom, $padding-xsmall);
  }

  &__signaling-edit-form-title-block {
    display: flex;
    align-items: center;
    @include adaptive-padding(bottom, $padding-xsmall);
    margin: 0;
  }

  &__block {
    @include adaptive-margin(bottom, $padding-large);
    box-sizing: border-box;

    @include media-breakpoint-landscape-phone() {
      padding-left: 60px;
      border-left: 2px solid $secondary-color;
    }

    &:first-child {
      @include adaptive-margin(bottom, $padding-large);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    @include adaptive-padding(bottom, $padding-xsmall);
    color: rgba($text-light-color, 0.5);
    line-height: 24px;

    &--color-accent {
      color: $primary-color;
    }

    &--padding-top {
      @include adaptive-padding(top, $padding-xsmall);
    }

    @include media-breakpoint-landscape-phone() {
      max-width: 500px;
    }
  }

  &__block-wrapper {
    @include adaptive-margin(bottom, $padding-upper-medium);
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-landscape-phone() {
      max-width: 765px;
    }
  }

  .svg-loader {
    max-width: 100%;
  }
}
