@import "styles/_breakpoint.scss";

.trader-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trader-button {
  margin: 1rem;
  min-width: 12rem;
  min-height: 3rem;
  @include media-breakpoint-phone() {
    margin: 0.5rem;
    min-width: 7rem;
    min-height: initial;
  }
}
