@import "~shared/styles/_colors.scss";

.forgot-password {
  display: flex;
  flex-direction: column;
  flex: 1 0 70%;

  form {
    display: flex;
    flex-direction: column;
    flex: 1 0 60%;
  }
  &__text {
    color: $text-color;
    width: 270px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  &__navigation {
    margin-top: auto;
  }

  &__btn-back {
    margin-right: 32px;
  }
}
