@import "styles/_colors";
@import "styles/_breakpoint.scss";

.wallet-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid $border-color;
  background: $background-color;
  border: 1px solid $border-color;
  border-bottom: 0;
  @include media-breakpoint-phone() {
    flex-direction: column;
  }
}

.wallet-transaction__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include media-breakpoint-phone() {
    margin-top: 0.5rem;
  }
}

.wallet-transaction__name {
  font-size: 1.3rem;
}

.wallet-transaction__program {
  color: #28768d;
  font-size: 0.8rem;
  line-height: 0.8;
}

.wallet-transaction__amount {
  font-size: 1.5rem;
}

.wallet-transaction__date {
  color: #28768d;
  font-size: 0.6rem;
  line-height: 0.6;
}
