@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.recovery-page {
  display: flex;
  flex-grow: 1;
}

.recovery-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__text {
    line-height: 24px;
    margin-bottom: $padding-xsmall;
    color: $text-color;
    font-size: $font-size-paragraph;
  }

  &__submit {
    margin-top: auto;
    align-self: flex-start;
  }
}
