@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.details-statistics {
  box-sizing: border-box;
  width: 100%;
  color: $text-light-color;

  margin-bottom: $padding-xsmall;
  &:not(:last-child) {
    @include media-breakpoint-landscape-phone() {
      margin-right: $padding-xsmall;
    }
  }

  @include media-breakpoint-landscape-phone() {
    max-width: $details-statistic-section-width;
  }

  &__particular-information {
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
  }

  &__vertical-info-block {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-right: $padding-xsmall-mobile;
    padding-bottom: $padding-big-mobile;
    &--half {
      width: 70px;
      @include media-breakpoint-landscape-phone() {
        padding-right: 0;
        width: auto;
        box-sizing: border-box;
      }
    }
  }

  &__period {
    width: 100%;
  }

  &__value {
    @include font-size($font-size-h4-mobile);
    &--accent {
      font-weight: 600;
    }
  }

  &__item--secondary &__value {
    @include font-size($font-size-paragraph-mobile);
  }
}
