@import "~shared/styles/_breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.follows-container {
  @include grid();
  @include horizontal-padding();

  &__info {
    margin-bottom: 60px;
    position: relative;

    @include media-breakpoint-tablet() {
      grid-column: 3/11;
      margin-bottom: 100px;
    }

    @include media-breakpoint-landscape-tablet() {
      grid-column: 2/6;
    }
  }

  &__wrapper-fixed {
    @include media-breakpoint-landscape-tablet() {
      position: sticky;
      top: 150px;
    }
  }

  &__list {
    grid-column: 1/13;

    @include media-breakpoint-landscape-tablet() {
      grid-column: 6/12;
    }
  }

  &__title {
    text-align: center;

    @include media-breakpoint-tablet() {
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 20px;

    @include media-breakpoint-tablet() {
      margin-bottom: 40px;
    }
  }

  &__item {
    @include media-breakpoint-landscape-tablet() {
      grid-column: 2/6;
    }

    @include media-breakpoint-desktop() {
      grid-column: 2/7;
    }
  }
}
