@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.manager-history {
  @include vertical-paddings($padding-small);

  &__heading {
    padding: 0 $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding: 0 $padding-small;
    }
  }

  &__title {
    @include font-size($font-size-h3);
    letter-spacing: 0.2px;
  }
  &__tabs {
    padding: 0 $padding-xsmall;

    @include media-breakpoint-landscape-phone {
      padding: 0 $padding-small;
    }
    .gv-tab {
      @include font-size($font-size-paragraph);
    }
  }
  @include media-breakpoint-landscape-phone() {
    &__tabs {
      position: absolute;
      padding-top: 5px;
    }
    .table__filters {
      justify-content: flex-end;

      .filter {
        margin-left: 20px;
      }
    }
  }
}
