@import "styles/_breakpoint.scss";

.trader-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.trader-info__avatar {
  flex: 1;
  margin: 0 1rem;
}

.trader-info__name {
  flex: 5;
}

.trader-info__buttons {
  flex: 1;
  @include media-breakpoint-phone() {
    min-width: 100%;
  }
}

.trader-info__title {
  font-family: "NeuzeitGroBol";
  font-size: 3rem;
  max-width: 20em;
  overflow: hidden;
  @include media-breakpoint-phone() {
    font-size: 2rem;
  }
}

.trader-info__description {
  word-break: break-word;
  max-width: 100%;
  @include media-breakpoint-phone() {
    font-size: 0.7rem;
  }
}
