.trader-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.trader-info__avatar {
  flex: 1;
}

.trader-info__name {
  flex: 5;
}

.trader-info__buttons {
  flex: 1;
}

.trader-info__title {
  font-family: "NeuzeitGroBol";
  font-size: 3rem;
}
