@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_constants";
@import "~shared/styles/_sizes";

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__popover {
    padding: $padding-small/2;
    & .navigation__item {
      display: flex;
      align-items: center;
      padding-bottom: $padding-xsmall;
      margin: 0;
      & .icon {
        width: $font-size-small;
        height: $font-size-small;
      }
      & .navigation__link {
        font-size: $font-size-small;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__second-level {
    padding-left: $padding-medium;
  }

  &__mobile {
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__bottom {
    margin-top: auto;
  }

  &__button {
    justify-content: flex-start;
    width: 100%;
    opacity: 0.4;
    padding: $padding-small/2 $padding-small;
  }

  &__menu {
    padding: 0;
    min-height: $wallet-item-size;
    min-width: $wallet-item-size;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    @include adaptive-margin(right, $padding-medium);

    &:hover {
      box-shadow: $box-shadow-4;
    }
    @include media-breakpoint-landscape-tablet() {
      display: none !important;
    }
  }

  &__item {
    @include transition(opacity);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: $padding-small/2 $padding-small;
    text-decoration: none;
    position: relative;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
    @include media-breakpoint-landscape-tablet() {
      padding: 0;
      margin-right: $padding-xsmall;
    }
    @include media-breakpoint-desktop() {
      margin-right: $padding-big;
    }
    @include media-breakpoint-large-desktop() {
      margin-right: 70px;
      &:first-child {
        margin-right: $padding-upper-medium;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $main-color;
    font-size: $font-size-paragraph;
    font-weight: 400;
    letter-spacing: 0.2px;
    & .filter__arrow {
      margin-left: $padding-xxsmall;
    }
  }

  &__icon {
    @include media-breakpoint-landscape-tablet() {
      margin-right: $padding-xxsmall;
    }
    @include media-breakpoint-large-desktop() {
      margin-right: $padding-xsmall;
    }
  }
}

.mobile {
  width: 100%;

  .navigation__icon {
    margin-right: 24px;
  }

  .navigation__item {
    padding: $padding-small/2 $padding-small;
    margin-right: 0;
  }

  &__top {
    padding: 10px 0;
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: $padding-xsmall;
    align-items: center;
    background-color: $panel-background-color;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 15px;
  }

  &__email {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.4px;
    font-size: $font-size-paragraph;
  }
}
