@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.wallet-pane-container {
  display: flex;
}

.wallet-pane-container__component {
  width: 100%;
  margin: auto;
  @include breakpoint-desktop() {
    max-width: 80%;
  }
}

.wallet-pane-container__wallet {
  flex: 1 1 20%;
  max-width: 20%;
  @include media-breakpoint-phone() {
    display: none;
  }
}
