@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

.program-search-bar {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 35px;
    margin-right: 0;
    padding: 0 30px 0 10px;
    box-shadow: 0 1px 4px 0 rgba(227, 235, 237, 0.67);
  }

  &__icon {
    cursor: pointer;
    color: white;
    margin: 0 1rem;
    &--clear {
      color: $main-color;
      position: absolute;
      right: 10px;
      margin: 0;
    }
  }
}
