.program-request__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
  background: white;
  border: 1px solid #e3ebed;
}

.program-request__cell {
  flex: 1 1 20%;
  min-width: 5rem;
}
