@import "~shared/styles/_colors";
@import "~shared/styles/breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.fees-section {
  padding-top: 100px;
  line-height: 1.6;

  @include media-breakpoint-large-desktop() {
    padding-top: 140px;
  }

  .internal__container {
    @include media-breakpoint-tablet() {
      @include grid();
    }
  }

  p.fees-section__text {
    margin-bottom: 40px;
  }

  &__wrapper-controls {
    text-align: center;
    @include media-breakpoint-tablet() {
      grid-column: 2/12;
    }

    @include media-breakpoint-desktop() {
      grid-column: 4/10;
    }
  }

  &__controls {
    &.tab-controls {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tab-controls__item-btn {
      @include transition(background-color, color);
      font-size: 12px;
      border-radius: 12px;
      padding: 4px 25px;
      background-color: transparent;

      @include media-breakpoint-tablet() {
        font-size: 16px;
        padding: 18px 40px;
      }
    }

    .tab-controls__item--active {
      .tab-controls__item-btn {
        background-color: $primary-color;
        color: $main-color;
      }
    }
  }

  &__tab-info {
    @include media-breakpoint-tablet() {
      grid-column: 2/12;
    }
  }

  &__title {
    text-align: center;

    @include media-breakpoint-tablet() {
      text-align: left;
    }
  }
}
