@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.select {
  display: flex;
  min-width: 150px;
  @include height(22px);

  &--small {
    .select__value {
      @include font-size($font-size-xsmall);
    }

    .select__text {
      @include font-size($font-size-common);
    }
  }

  &--middle {
    .select__value {
      @include font-size($font-size-small);
    }

    .select__text {
      @include font-size($font-size-h4);
    }
  }

  &__value {
    width: 100%;
    justify-content: space-between;
    padding: 0;
    letter-spacing: 0.4px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    color: $main-color;
    cursor: pointer;
  }

  &__text {
    display: inline-flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    display: inline-flex;
    margin-left: auto;
  }

  &__option {
    &:hover {
      opacity: 0.9;
    }

    &--selected {
      color: $primary-color;
    }
  }

  &--disabled {
    .select__value {
      cursor: default;
      color: $text-dark-color;
    }
  }
}
