@import "styles/_constants";
@import "styles/_sizes";

.row {
  &--pointer {
    cursor: pointer;
  }
  &--flex {
    display: flex;
    box-sizing: border-box;
  }
  &--wide {
    width: 100%;
  }
  &--hidden {
    display: none;
  }
  &--xsmall:not(:first-child) {
    @include adaptive-margin(top, $padding-xxxsmall);
  }
  &--small:not(:first-child) {
    @include adaptive-margin(top, $padding-xxsmall);
  }
  &--middle:not(:first-child) {
    @include adaptive-margin(top, $padding-xsmall);
  }
  &--large:not(:first-child) {
    @include adaptive-margin(top, $padding-small);
  }
  &--xlarge:not(:first-child) {
    @include adaptive-margin(top, $padding-medium);
  }
}
