@import "~shared/styles/_constants";
@import "~shared/styles/_sizes";

.row {
  display: flex;
  flex-direction: row;
  &:not(:first-child) {
    @include adaptive-margin(top, $padding-xsmall);
  }
  &--center {
    align-items: center;
  }
  &--small:not(:first-child) {
    @include adaptive-margin(top, $padding-xxsmall);
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--large:not(:first-child) {
    @include adaptive-margin(top, $padding-small);
  }
}
