@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

$avatar-xsmall-size: 24px;
$avatar-small-size: 40px;
$avatar-small-level-size: 32px;
$avatar-medium-size: 80px;
$avatar-medium-level-size: 36px;
$avatar-big-size: 120px;
$avatar-big-level-size: 36px;

$avatar-small-shift: $avatar-small-level-size/1.3;
$level-border: ($avatar-small-level-size - 24.5px)/2;

.program-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    &--with-level {
      @include adaptive-padding(right, $avatar-small-shift - $level-border);
    }
  }

  &--full {
    width: 100%;
    height: 100%;
  }

  &--xsmall {
    @include height($avatar-xsmall-size);
    @include width($avatar-xsmall-size);
    .program-avatar__level {
      @include right(-$avatar-small-shift);
      @include height($avatar-small-level-size);
      @include width($avatar-small-level-size);
    }
  }

  &--small {
    @include height($avatar-small-size);
    @include width($avatar-small-size);
    .program-avatar__level {
      @include right(-$avatar-small-shift);
      @include height($avatar-small-level-size);
      @include width($avatar-small-level-size);
    }
  }

  &--medium {
    @include height($avatar-medium-size);
    @include width($avatar-medium-size);
    .program-avatar__level {
      @include right(-($avatar-medium-level-size/2));
      @include height($avatar-medium-level-size);
      @include width($avatar-medium-level-size);
    }
  }

  &--big {
    @include height($avatar-big-size);
    @include width($avatar-big-size);
    .program-avatar__level {
      @include right(-($avatar-big-level-size/2));
      @include height($avatar-big-level-size);
      @include width($avatar-big-level-size);
    }
  }

  &__level {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__full-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    @include adaptive-border-radius(7px);
  }

  &__default-image {
    width: 100%;
    height: 100%;
    @include adaptive-border-radius(7px);
  }
}
