@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";

$avatar-small-size: 40px;
$avatar-medium-size: 80px;
$avatar-big-size: 120px;

.program-avatar {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &--small {
    height: $avatar-small-size;
    width: $avatar-small-size;
    margin-right: 24px;
    .program-avatar__level {
      right: -25px;
      height: 32px;
      width: 32px;
    }
  }

  &--medium {
    height: $avatar-medium-size;
    width: $avatar-medium-size;
    margin-right: 20px;
    .program-avatar__level {
      right: -18px;
      height: 36px;
      width: 36px;
    }
  }

  &--big {
    height: $avatar-big-size;
    width: $avatar-big-size;
    margin-right: 22px;
    .program-avatar__level {
      right: -20px;
      height: 36px;
      width: 36px;
    }
  }

  &__level {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $panel-background-color;
    border-radius: 50%;
    & .pie-container {
      height: 26px;
      width: 26px;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5em;
  }

  &__default-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
  }
}
