@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.wallet-add-funds-popup {
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__address {
    text-align: center;
  }

  &__address-value {
    @include font-size($font-size-paragraph-mobile);
  }
}
