@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.asset-fields {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.asset-field {
  position: relative;
  width: 230px;
  @include adaptive-padding(right, $padding-xsmall);
  &:not(:last-child) {
    @include adaptive-margin(bottom, $padding-medium);
  }

  &-caption {
    @include adaptive-padding(top, $padding-xsmall);
    @include font-size($font-size-small);
    color: $label-color;
    letter-spacing: 0.4px;
    width: 100%;

    &.hint {
      cursor: pointer;
    }
  }

  &-caption-tooltip-content {
    width: 248px;
    @include font-size($font-size-small);
    line-height: 1.6;
    color: $text-light-color;
  }

  &--wider {
    max-width: 100%;
    width: 100%;
  }
}

.asset-row {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  position: relative;
  justify-content: space-between;

  .select--disabled .select__value {
    color: $text-light-color;
  }
}

.asset-form-field {
  &__caption-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include width($padding-medium);
  }
  &__caption {
    @include font-size($font-size-small);
    color: $label-color;
    letter-spacing: 0.4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__hint {
    @include font-size($font-size-small);
    color: $label-color;
    letter-spacing: 0.4px;
    width: 100%;

    &.hint {
      cursor: pointer;
    }

    &-tooltip-content {
      width: 248px;
      @include font-size($font-size-small);
      line-height: 1.6;
      color: $text-light-color;
    }
  }
}
.asset-tabs {
  padding: 0 $padding-xsmall;

  @include media-breakpoint-landscape-phone() {
    padding: 0;
  }

  @include adaptive-margin(bottom, $padding-small);
}
