@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.asset-form-field {
  max-width: 250px;
  &__caption {
    height: 21px;
    justify-content: space-between;
  }

  &__hint {
    width: 100%;

    &-tooltip-content {
      width: 248px;
      @include font-size($font-size-small);
      line-height: 1.6;
      color: $text-light-color;
    }
  }
}
