@import "~shared/styles/colors";
@import "~shared/styles/breakpoint";
@import "~shared/styles/sizes";

.asset-fields {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.asset-field {
  position: relative;
  max-width: 230px;
  padding-right: $padding-xsmall;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .gv-text-field,
  .gv-text-field__wrapper {
    width: 230px;
  }

  & .gv-text-field__wrapper {
    margin-top: 0;
  }

  &.deposit-details {
    max-width: 280px;

    .gv-text-field,
    .gv-text-field__wrapper {
      width: 280px;
    }
  }

  .invest-popup__currency {
    margin-bottom: 0;
  }

  &-caption {
    padding-top: $padding-xsmall;
    font-size: $font-size-small;
    color: $label-color;
    letter-spacing: 0.4px;
    width: 100%;

    &.hint {
      cursor: pointer;
    }
  }

  &-caption-tooltip-content {
    width: 248px;
    font-size: 12px;
    line-height: 1.6;
    color: $text-light-color;
  }

  &--wider {
    max-width: 100%;
    width: 100%;

    & div.gv-text-field,
    & div.gv-text-field__wrapper {
      width: 100%;
    }
  }
}

.asset-title,
.asset-content {
  padding: 0 $padding-xsmall;

  @include media-breakpoint-landscape-phone() {
    padding: 0;
  }
  .gv-tab {
    cursor: default;
  }
}

.asset-row {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  position: relative;
  justify-content: space-between;

  & .gv-text-field__error {
    width: 120%;
  }

  .select--disabled .select__value {
    color: $text-light-color;
  }
}

.asset-form-field {
  &__caption {
    font-size: $font-size-small;
    color: $label-color;
    letter-spacing: 0.4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__hint {
    font-size: $font-size-small;
    color: $label-color;
    letter-spacing: 0.4px;
    width: 100%;

    &.hint {
      cursor: pointer;
    }
  }
}
