@import "styles/_colors.scss";

.icon {
  height: 22px;
  width: 20px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;

  svg {
    height: 100%;
    width: 100%;
  }

  svg [fill] {
    fill: white;
  }

  svg [stroke] {
    stroke: white;
  }

  &--secondary {
    svg [fill] {
      fill: #d8d8d8;
    }
    svg [stroke] {
      stroke: #d8d8d8;
    }
  }

  &--primary {
    svg [fill] {
      fill: $primary-color;
    }
    svg [stroke] {
      stroke: $primary-color;
    }
  }

  &--rotate {
    transform: rotate(180deg);
  }

  &--programs {
    //height: 15px;
  }
  &--dashboard {
    //height: 18px;
  }
  &--details {
    //height: 20px;
  }
  &--logout {
    //height: 20px;
  }
  &--settings {
    //height: 20px;
  }
  &--collapse {
    background-image: url("../../shared/media/collapse.svg");
  }
  &--ring {
    //background-image: url("../../shared/media/ring.svg");
  }
  &--ring-circle {
    background-image: url("../../shared/media/ring-circle.svg");
  }
  &--wallet {
    height: 20px;
    background-image: url("../../shared/media/wallet.svg");
  }
  &--question-circle {
    height: 17px;
    width: 17px;
    background-image: url("../../shared/media/question-circle.svg");
  }
  &--controls {
    height: 20px;
    background-image: url("../../shared/media/controls.svg");
  }
  &--search {
    height: 20px;
    background-image: url("../../shared/media/search.svg");
  }
  &--arrow {
    width: 7px;
    height: 7px;
    background-image: url("../../shared/media/arrow.svg");
  }
  &--menu {
    height: 15px;
    width: 16px;
    background-image: url("../../shared/media/menu.svg");
  }
}
