.icon {
  height: 22px;
  width: 20px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  &--programs {
    background-image: url("../../shared/media/icons/programs.svg");
  }
  &--dashboard {
    background-image: url("../../shared/media/icons/dashboard.svg");
  }
  &--collapse {
    background-image: url("../../shared/media/icons/collapse.svg");
  }
  &--ring {
    background-image: url("../../shared/media/ring.svg");
  }
  &--ring-circle {
    background-image: url("../../shared/media/ring-circle.svg");
  }
  &--wallet {
    height: 20px;
    background-image: url("../../shared/media/wallet.svg");
  }
  &--details {
    height: 20px;
    background-image: url("../../shared/media/user-avatar.svg");
  }
  &--logout {
    height: 20px;
    background-image: url("../../shared/media/logout.svg");
  }
  &--settings {
    height: 20px;
    background-image: url("../../shared/media/settings.svg");
  }
  &--controls {
    height: 20px;
    background-image: url("../../shared/media/controls.svg");
  }
}
