.icon {
  height: 22px;
  width: 20px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  &--programs {
    background-image: url("../../shared/media/icons/programs.svg");
  }
  &--dashboard {
    background-image: url("../../shared/media/icons/dashboard.svg");
  }
}
