@import "styles/_colors.scss";

.icon {
  height: 22px;
  width: 20px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;

  svg {
    height: 100%;
    width: 100%;
  }

  svg [fill] {
    fill: white;
  }

  svg [stroke] {
    stroke: white;
  }

  &--secondary {
    svg [fill] {
      fill: #d8d8d8;
    }
    svg [stroke] {
      stroke: #d8d8d8;
    }
  }

  &--primary {
    svg [fill] {
      fill: $primary-color;
    }
    svg [stroke] {
      stroke: $primary-color;
    }
  }

  &--rotate {
    transform: rotate(180deg);
  }
  &--collapse {
    background-image: url("../../shared/media/collapse.svg");
  }
  &--ring-circle {
    background-image: url("../../shared/media/ring-circle.svg");
  }
  &--wallet {
    height: 20px;
    path {
      fill: transparent;
    }
  }
  &--controls {
    height: 20px;
    background-image: url("../../shared/media/controls.svg");
  }
  &--search {
    height: 20px;
    background-image: url("../../shared/media/search.svg");
  }
  &--arrow {
    width: 7px;
    height: 7px;
    background-image: url("../../shared/media/arrow.svg");
  }
  &--menu {
    height: 15px;
    width: 16px;
    background-image: url("../../shared/media/menu.svg");
  }
}
