@import "~shared/styles/_sizes";

.social-links-block {
  &__social-link {
    display: inline-flex;

    &:hover {
      transform: translateY(-0.5px);
      box-shadow: 0 6px 6px -3px rgb(0, 0, 0);
      border-radius: 50%;
    }
  }
}
