@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.open-trades-table {
  .close-btn {
    padding: 10px;
  }

  .table-avatar {
    display: inline-flex;
    color: $main-color;
  }
}
