@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.open-trades-table {
  .close-btn {
    padding: 10px;
  }

  .table-avatar {
    display: inline-flex;
    color: $main-color;
  }
}

.popover.tooltip__popover.fees-tooltip {
  padding: 0;
}

.fees-tooltip {
  &__commission {
    width: max-content;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-paragraph;
    &:not(:last-child) {
      margin-bottom: $font-size-paragraph;
    }
  }

  &__title {
    margin-right: $padding-xsmall;
  }

  &__currency,
  &__title {
    opacity: 0.4;
  }

  &__footer {
    width: max-content;
    padding: 30px 20px;
    font-weight: bold;
  }

  &__footer &__title {
    opacity: 1;
  }
}
