@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

.navigation {
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $background-color;
    transform: translateX(-100%);

    &--open {
      transform: translateX(0);
    }
  }
}
