@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.navigation {
  display: flex;
  flex-direction: row;
  &__mobile {
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__bottom {
    margin-top: auto;
  }

  &__button {
    justify-content: flex-start;
    width: 100%;
    opacity: 0.4;
  }

  &__menu {
    padding: 0;
    height: 44px;
    width: 44px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 15px 32px;
    text-decoration: none;
    position: relative;
    opacity: 0.4;

    &--active {
      opacity: 1;
    }
  }

  &__icon {
    margin-right: 24px;
  }

  &__link {
    color: $main-color;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }

  @include media-breakpoint-landscape-tablet() {
    &__menu {
      display: none;
    }

    &__item {
      padding: 0;
      margin-right: 40px;
    }

    &__icon {
      margin-right: 10px;
    }
  }

  @include media-breakpoint-desktop() {
    &__item {
      margin-right: 60px;
    }
  }

  @include media-breakpoint-large-desktop() {
    &__item:first-child {
      margin-right: 100px;
    }
    &__item {
      margin-right: 70px;
    }
    &__icon {
      margin-right: 20px;
    }
  }
}

.mobile {
  width: 100%;

  &__top {
    padding: 10px 0;
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    background-color: $panel-background-color;
  }

  &__avatar {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    display: flex;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    background-color: $secondary-background-color;
    border-radius: 100%;
  }

  &__email {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.4px;
    font-size: 14px;
  }
}
