@import "styles/_breakpoint.scss";
.pi-buttons {
  display: flex;
  flex-wrap: nowrap;
  @include media-breakpoint-phone() {
    width: 100%;
    justify-content: space-between;
  }
}

.pi-button {
  margin: 0 1rem;
}
