@import "~shared/styles/_breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.events-container {
  @include grid();
  @include horizontal-padding();
  align-items: center;

  &__title {
    text-align: center;
  }

  &__list,
  &__title {
    @include media-breakpoint-tablet() {
      grid-column: 3/11;
    }

    @include media-breakpoint-landscape-tablet() {
      grid-column: 4/10;
    }
  }
}
