@import "styles/_colors.scss";

.password-pending {
  display: flex;
  flex-direction: column;
  flex: 1 0 70%;

  &__text {
    line-height: 24px;
    color: $dark-color;
  }

  &__resend {
    margin-top: 24px;
    margin-bottom: 30px;
  }

  &__navigation {
    margin-top: auto;
  }
}
