@import "styles/_colors.scss";

.password-pending {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;

  &__text {
    line-height: 24px;
  }

  &__resend {
    margin-top: 24px;
  }

  &__navigation {
    margin-top: auto;
  }
}
