@import "~shared/styles/_sizes";

.fund-asset-filter {
  &__asset-name {
    @include font-size($font-size-common);
    @include adaptive-padding(right, $padding-xxsmall);
  }

  &__assets-block {
    max-height: 180px;
    overflow-y: auto;
  }

  &__asset-item {
    cursor: pointer;
    @include adaptive-padding(right, $padding-xxsmall);
  }
}
