@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";

.asset-settings-block {
  @include adaptive-margin(bottom, $padding-xsmall * 2);
  box-sizing: border-box;
  display: flex;

  &--with-number {
    @include adaptive-margin(bottom, $padding-xsmall);
  }

  &--hidden {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
  &__content-block {
    width: 100%;
  }

  &__line-block {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    & h3 {
      margin-left: -$font-size-h3/2;
    }
    @include media-breakpoint-landscape-phone() {
      display: flex;
    }
  }

  &__line {
    min-height: 30px;
    height: 100%;
    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-big;
      &--bordered {
        border-left: 2px solid $secondary-color;
      }
    }
  }

  &__title {
    @include adaptive-padding(right, $padding-xsmall);
    padding-bottom: $padding-xsmall;
  }

  &__wrapper {
    @include adaptive-margin(bottom, $padding-upper-medium);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    &--broker-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }

  &__form {
    width: 100%;
  }
}
