@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.date-range-filter {
  display: flex;

  &__type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__values {
    flex-wrap: wrap;

    @include media-breakpoint-landscape-phone() {
      flex-wrap: nowrap;
    }
  }

  &__dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__date-input {
    width: 140px;
  }

  &__type-btn {
    @include font-size($font-size-paragraph);
    &:not(:disabled) {
      color: $text-dark-color;
    }
    &:disabled {
      opacity: 1;
    }
  }
}
