@import "styles/_colors.scss";

.ti-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 28%;
  max-width: 28%;
  min-width: 300px;
}

.ti-info__order {
  font-size: 1.4rem;
}

.ti-info__image {
  position: relative;
  min-width: 100px;
  text-align: center;
}

.ti-info__name {
  max-width: 14rem;
}

.ti-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ti-name__title {
  font-size: 1.6rem;
  color: $text-color;
}

.ti-name__description {
  font-size: 0.9em;
  color: $text-sub-color;
  line-height: 1.2;
  margin: 1rem 0;
}

.ti-name__eop {
  display: flex;
  align-items: center;
  color: $text-sub-color;
}

.eop__text {
  font-size: 0.9em;
  flex: 1 1 50%;
}

.eop__progress {
  flex: 1 1 50%;
  margin-right: 4rem;
}
