$primary-color: #03bdaf;
$secondary-color: #2a353f;
$negative-color: #ff4747;
$positive-color: #2ebd85;

$text-color: #8d9397;
$text-light-color: #e8eff3;
$text-dark-color: #5c636a;
$text-accent-color: #fff;

$label-color: #79828a;
$switch-handler-color: #fff;
$separator-color: #28323b;

$background-color: #131e26;
$secondary-background-color: #1f2b36;
$panel-background-color: #1c2730;
$positive-background-color: #1d383a;
$negative-background-color: #312934;

$level-color-1: #373867;
$level-color-2: #4a5090;
$level-color-3: #5e6abe;
$level-color-4: #6e81e2;
$level-color-5: #5094d1;
$level-color-6: #34a6c1;
$level-color-7: $primary-color;

$inactive-icon-color: #ccd5d4;
$main-color: #fff;
$border-color: #313a41;

$program-status-active-color: $text-light-color;
$program-status-investing-color: $primary-color;
$program-status-withdrawing-color: $level-color-4;
$program-status-ended-color: $text-dark-color;

$short-statistic-subheading-color: rgba(255, 255, 255, 0.3);
$short-statistic-notice-color: rgba(255, 255, 255, 0.4);

$dark-color: rgba(255, 255, 255, 0.5);

$icon-color: #d8d8d8;

$table-background-subcolor: #202b34; //rgba(255, 255, 255, 0.02);
$success: rgba(46, 189, 133, 0.1);

$text-error: $negative-color;

$background-pretender: #16b9ad;
$background-pretender-level: #113a41;
$background-pretender-level-hover: #153f45;

$background-chip-positive: #132d34;
$background-chip-negative: #29212b;

$popover-background: #273642;

$row-color: #212c34;

$calculator-label-color: #e6edf1;

$green-1: #184f61;
$green-2: #028b81;
$green-3: rgba(22, 183, 173, 0.28);
$green-4: rgba(3, 189, 175, 0.25);
$green-5: rgba(3, 189, 175, 0.5);
$green-6: rgba(24, 79, 97, 0.5);
$grey-1: rgba(227, 235, 237, 0.67);
$tooltip-background-color: #263642;
$tooltip-shadow-color: rgba(black, 0.3);

$landing-bg: #0b0128;
$landing-bg-gray: #f7f7f7;
$landing-bg-gray-2: #f0f0f0;
$landing-item-bg: #100c31;
$landing-color-icon: #1d1a3d;
$landing-text: #c6c6c6;
$primary-color-hover: #17c9bc;
$landing-link-hover: #db2a7c;

$popover-dark-background: #24323c;

@mixin background-with-avatar-level($color) {
  background: $color;
  .program-avatar__level {
    background: $color;
  }
}
