@import "~shared/styles/_sizes";
@import "~shared/styles/_colors";

$header-height: 70px;

$warning-color: #f5a623;
$warning-background-color: rgba($warning-color, 0.1);

$box-shadow-1: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
$box-shadow-2: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
$box-shadow-4: 0 6px 6px -3px rgba(0, 0, 0, 0.2),
  0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12) !important;

@mixin transition($property...) {
  transition-property: $property;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  will-change: $property;
}

@mixin link($color-link, $color-link-hover: $color-link) {
  @include transition(color);
  font-size: inherit;
  color: $color-link;

  &:hover {
    color: rgba(darken($color-link-hover, 10%), 0.9);
  }
}

@mixin title() {
  @include font-size($font-size-small);
  @include adaptive-padding(bottom, $font-size-small);
  opacity: 0.3;
  color: white;
  text-align: left;
}

.muted {
  @include font-size($font-size-common);
  color: $label-color;
}
