@import "./_sizes.scss";
@import "./_breakpoint.scss";

h1 {
  @include font-size($font-size-h1);
  font-weight: 600;
  color: $text-light-color;
}

h2 {
  @include font-size($font-size-h2);
  font-weight: 500;
  color: $text-light-color;
}

h3 {
  @include font-size($font-size-h3);
  font-weight: 600;
  color: $text-light-color;
}

p {
  @include font-size($font-size-paragraph);
}

.title-page {
  @include padding-top($padding-medium);
  @include padding-bottom($padding-small);

  &--wallet {
    @include padding-bottom($padding-medium);
  }
}

.title-common {
  padding-bottom: $padding-small;
}

.title-details {
  @include padding-bottom($padding-xxsmall);
}
