@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.days-left-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  &__text {
    font-size: 0.75em;
    white-space: nowrap;
  }
  
  &__progress {
    flex: 1;
    margin: 4px 0;
    width: 100%;
  }

  @include breakpoint-desktop() {
    &__progress {
      flex: 1;
      margin: 1rem;
      max-width: 122px;
    }
  }
}
