.days-left-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.days-left-widget__text {
  font-size: 0.75em;
  flex: 1;
  white-space: nowrap;
}

.days-left-widget__progress {
  flex: 1;
  margin: 4px 0;
  width: 100%;
}
