@import "~shared/styles/_sizes";

.gv-text-area {
  &,
  & textarea {
    overflow: hidden;
  }
  width: 100%;
  &__hidden {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    height: auto;
    white-space: pre-wrap;
  }

  &__gv-text-field {
    box-sizing: border-box !important;
    resize: none;
    width: 100%;
  }
}
