@import "styles/_colors";

.gv-program-period {
  display: block;
  &--pie {
    width: 20px;
    height: 20px;
  }

  &--line {
    height: 2px;
    background-color: #2a353f;
    border-radius: 0.25rem;
    width: 100%;
    position: relative;
  }
}
