@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.dashboard-statistic {
  &__event-description {
    white-space: normal !important;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__see-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-xsmall;
    font-size: $font-size-common;
  }
  &__container.details-block,
  &__container .table {
    padding-bottom: 0;
  }
  &__table-block {
    overflow-y: scroll;
  }
  &__values {
    @include details-block-horizontal-paddings();
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.dashboard-new-user-block {
  display: flex;
  margin-bottom: $padding-xsmall;
  &__field {
    height: 430px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &:not(:last-child) {
      border-right: 1px solid rgba($main-color, 0.06);
    }
  }
  &__text {
    font-weight: 600;
    width: 150px;
    color: $text-light-color;
  }
  &__button {
    margin-bottom: $padding-xxxxlarge;
  }
}
