@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-statistic {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__data {
    height: 100%;
  }
  &__see-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-xsmall;
    font-size: $font-size-common;
  }
  &__event-description {
    display: flex;
    align-items: center;
  }
  &__create-block-text {
    margin-bottom: $padding-small;
  }
  &__create-block-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding-small;
  }
  &__container.details__block,
  &__container .table {
    padding-bottom: 0;
  }
  &__table-block {
    overflow-y: scroll;
  }
  &__values {
    @include details-block-horizontal-paddings();
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
}
.dashboard-statistic-periods-item {
  &__value-container {
    display: flex;
    align-items: center;
  }
  &__value {
    padding-right: $padding-xxsmall;
  }
}
