@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-statistic {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__see-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-xsmall;
    font-size: $font-size-common;
  }
  &__event-description {
    display: flex;
    align-items: center;
    white-space: normal;
  }
  &__event-description-logo {
    @include adaptive-margin(right, $padding-xxsmall);
  }
  &__create-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__create-block-text {
    font-size: $font-size-small;
    color: $text-dark-color;
    margin-bottom: $padding-small;
  }
  &__create-block-link:not(:last-child) {
    margin-right: $padding-small;
  }
  &__create-block-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding-small;
  }
  &__container.details-block,
  &__container .table {
    padding-bottom: 0;
  }
  &__table-block {
    overflow-y: scroll;
  }
  &__values {
    @include details-block-horizontal-paddings();
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
}
.dashboard-statistic-periods-item {
  &__value-container {
    display: flex;
    align-items: center;
  }
  &__value {
    padding-right: $padding-xxsmall;
  }
}

.dashboard-new-user-block {
  display: flex;
  margin-bottom: $padding-xsmall;
  &__field {
    height: 430px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &:not(:last-child) {
      border-right: 1px solid rgba($main-color, 0.06);
    }
  }
  &__text {
    font-weight: 500;
    width: 150px;
    color: $text-light-color;
    margin-bottom: $padding-xsmall;
    &--muted {
      color: $text-dark-color;
    }
  }
  &__button {
    margin-bottom: $padding-xxxxlarge;
  }
}
