@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.mobile-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1051;

  &__wrapper {
    width: 100%;
    height: 100%;
    max-width: 382px;
    padding: 1rem;
    background-color: #fff;
  }

  &__backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &__header {
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
  }

  @include breakpoint-desktop() {
    display: none;
  }
}

.mobile-navigation {
  flex-direction: column;
  .navigation__item {
    border: none;
    min-height: 59px;
    padding-left: 0.5rem;
    border-bottom: 1px solid $border-color;
  }
  .navigation__auth {
    display: flex;
    .fas {
      font-size: 24px;
    }
  }
}
