@import "shared/styles/_colors.scss";

.password-restore {
  display: flex;
  flex-direction: column;
  flex: 1 0 70%;

  form {
    display: flex;
    flex-direction: column;
    flex: 1 0 70%;
  }

  &__text {
    color: $text-color;
    width: 290px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  &__navigation {
    margin-top: auto;
  }

  &__btn-back {
    margin-right: 32px;
  }
}
