@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";

.program-metric {
  min-width: 15%;
  text-align: center;
  flex-grow: 1;

  @include media-breakpoint-phone() {
    flex-grow: 0;
    width: 33%;
    &:nth-of-type(3n) {
      padding: 0 1rem/2;
      border-right: 0px;
    }
  }

  &:not(:last-of-type) {
    border-right: 1px solid $border-color;
  }

  .metric__value {
    @include media-breakpoint-desktop() {
      font-size: 1.5rem;
    }
  }

  .metric__description {
    font-size: 0.875rem;
  }
}
