@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &__buttons {
    display: none !important;
  }

  &__navigation {
    display: none !important;
  }

  &__profile {
    display: none;
    margin-left: 45px;
  }

  &__wallet {
    display: none !important;
    margin-right: 40px;
  }

  &__right,
  &__left,
  &__center {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__search {
    display: none;

    a {
      display: inline-flex;
    }
  }

  &__separator {
    flex-grow: 1;
    display: none;
    border-left: 2px solid #1f2b36;
    margin: 0 30px;
    align-self: stretch;
  }

  &__buttons {
    a + a {
      margin-left: 10px;
    }
  }

  @include media-breakpoint-landscape-tablet() {
    &__center {
      flex-grow: 2;
      justify-content: space-between;

      .select {
        min-width: 100px;
      }
    }
    &__menu {
      display: flex;
    }
    &__navigation {
      display: inherit !important;
    }

    &__search {
      display: flex;
    }

    &__profile {
      display: flex;
    }

    &__wallet {
      display: flex !important;
    }

    &__separator {
      display: flex;
    }

    &__buttons {
      display: inherit !important;
    }
  }
}
