@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.program-item {
  display: grid;
  grid-template-rows: [r-start] 1fr [r-tags] 1fr [r-middle] 2fr [r-end];
  grid-template-columns: [c-order] 40px [c-image] 140px [c-info] 1fr [c-stats c-time-left] 2fr [c-buttons] 300px [c-end];
  align-items: center;

  min-height: 172px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid $border-color;

  @include media-breakpoint-tablet() {
    grid-template-rows: [r-start-padding] 1rem [r-start] 2fr [r-time-left] 2fr [r-tags] auto [r-middle] auto [r-end] 1rem [r-end-padding];
    grid-template-columns: [c-start-padding] 1rem [c-start] 60px [c-info] 2fr [c-chart] 1fr [c-buttons] 2fr [c-end] 1rem [c-end-padding];
  }

  @include media-breakpoint-phone() {
    grid-template-rows: [r-start-padding] 1rem [r-start] 2fr [r-time-left] 2fr [r-tags] auto [r-buttons] auto [r-middle] auto [r-end] 1rem [r-end-padding];
    grid-template-columns: [c-start-padding] 1rem [c-start] 70px [c-info] auto [c-chart] 20% [c-end] 1rem [c-end-padding];
  }

  &__order {
    grid-area: r-start / c-order / r-end / c-image;
    justify-self: center;
    font-family: NeuzeitGroBol;
    @include media-breakpoint-tablet() {
      display: none;
    }
  }

  &__avatar {
    grid-area: r-start / c-image / r-end / c-info;
    justify-self: start;
    @include media-breakpoint-tablet() {
      grid-area: r-start / c-start / r-tags / c-info;
    }
  }

  &__info {
    grid-area: r-start / c-info / r-middle / c-time-left;
    align-self: center;
    &--has-tags {
      align-self: end;
      grid-area: r-start / c-info / r-tags / c-time-left;
    }
    @include media-breakpoint-tablet() {
      grid-area: r-start / c-info / r-time-left / c-chart;
    }
  }

  &__tags {
    grid-area: r-tags / c-info / r-middle / c-time-left;
    justify-self: start;
    align-self: center;
    margin-left: 30px;
    width: 100%;
    @include media-breakpoint-tablet() {
      grid-area: r-tags / c-start / r-middle / c-end;
      margin-left: 0;
    }
    @include media-breakpoint-phone() {
      grid-area: r-tags / c-start / r-buttons / c-end;
    }

    .tag-list {
      @include media-breakpoint-phone() {
        justify-content: space-between;
        margin-left: 0em;
        margin-right: 0em;
      }

      .tag {
        @include media-breakpoint-phone() {
          min-width: 48%;
          max-width: 48%;
          margin-left: 0;
        }
      }
    }
  }

  &__time-left {
    grid-area: r-start / c-time-left / r-middle / c-buttons;
    justify-self: end;
    padding: 0 1rem;
    max-width: 330px;
    width: 100%;

    @include media-breakpoint-tablet() {
      grid-area: r-time-left / c-info / r-tags / c-chart;
      justify-self: stretch;
      max-width: 122px;
      padding: 0;
    }

    .time-left-widget {
      @include media-breakpoint-tablet() {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: flex-start;
      }
    }
  }

  &__buttons {
    grid-area: r-start / c-buttons / r-middle / c-end;
    justify-self: center;
    @include media-breakpoint-tablet() {
      grid-area: r-start / c-buttons / r-tags / c-end;
      justify-self: stretch;
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
    }
    @include media-breakpoint-phone() {
      grid-area: r-buttons / c-start / r-middle / c-end;
    }
  }

  &__hr {
    grid-area: r-start / c-info / r-middle / c-end;
    height: 100%;
    border-bottom: 1px solid $border-color;
    @include media-breakpoint-tablet() {
      display: none;
    }
  }

  &__chart {
    grid-area: r-middle / c-info / r-end / c-stats;
    @include media-breakpoint-tablet() {
      grid-area: r-start / c-chart / r-tags / c-buttons;
      padding: 0 1rem;
    }
    @include media-breakpoint-phone() {
      grid-area: r-start / c-chart / r-tags / c-end;
      padding: 0;
    }
  }

  &__stats {
    grid-area: r-middle / c-stats / r-end / c-end;
    justify-self: stretch;
    @include media-breakpoint-tablet() {
      grid-area: r-middle / c-start / r-end / c-end;
      margin-top: 0.5rem;
    }
  }

  &__link {
    word-break: break-all;
    word-wrap: break-word;
    font-family: NeuzeitGroBol;
    font-size: 1.4rem;
    line-height: 1;
    color: #1b4f64;
  }

  &__button {
    min-width: 120px;
    @include media-breakpoint-tablet() {
      min-width: 48%;
      & + & {
        margin-left: 0;
      }
    }
  }

  &__title {
    display: flex;
  }
}
