@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.program-item {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // padding: 1rem;
  // margin-bottom: 9px;
  // background-color: white;
  // border-top: 1px solid $border-color;
  // border-bottom: 1px solid $border-color;
  // justify-content: space-between;

  // &__hr {
  //   display: none;
  // }

  // &__order {
  //   display: none;
  // }

  // &__avatar {
  //   margin-right: 0.5rem;
  // }

  // &__bookmark {
  //   font-size: 1rem;
  //   line-height: 1;
  //   margin-right: 0.5rem;
  // }

  // &__info {
  //   width: calc(70% - 2rem);
  // }

  // &__title {
  //   display: flex;
  //   align-items: flex-start;
  // }

  // &__link {
  //   font-size: 1.4rem;
  //   line-height: 1;
  //   color: #1b4f64;
  // }

  // &__time-left {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   width: 50%;
  // }

  // &__chart {
  //   width: calc(30% - 2rem);
  // }

  // &__button {
  //   width: calc(50% - 0.5rem);
  // }

  // &__buttons {
  //   margin-top: 0.5rem;
  //   width: 100%;
  //   justify-content: space-between;
  // }

  // &__stats {
  //   width: 100%;
  //   order: 5;
  // }

  @include breakpoint-tablet() {
    // &__bookmark {
    //   margin-right: 1rem;
    // }

    // &__info {
    //   width: calc(50% - 2rem);
    // }

    // &__chart {
    //   width: calc(20% - 2rem);
    //   margin-right: 1rem;
    // }

    // &__button {
    //   width: auto;
    // }

    // &__buttons {
    //   margin-top: 0;
    //   width: auto;
    //   justify-content: space-between;
    // }

    // &__stats {
    //   margin-top: 1rem;
    //   width: 100%;
    // }
  }

  display: grid;
  grid-template-rows: [r-start] 1fr [r-tags] 1fr [r-middle] 2fr [r-end];
  grid-template-columns: [c-order] 40px [c-image] 140px [c-info] 4fr [c-stats] 5fr [c-time-left] 5fr [c-buttons] 4fr [c-end];
  align-items: center;

  min-height: 172px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid $border-color;

  @include media-breakpoint-tablet() {
    grid-template-rows: [r-start] 2fr [r-time-left] 2fr [r-tags] 1fr [r-middle] 3fr [r-end];
    grid-template-columns: [c-start] 1fr [c-info] 3fr [c-chart] 1fr [c-end];
  }

  &__order {
    grid-area: r-start / c-order / r-end / c-image;
    justify-self: center;
    font-family: NeuzeitGroBol;
    @include media-breakpoint-tablet() {
      display: none;
    }
  }

  &__avatar {
    grid-area: r-start / c-image / r-end / c-info;
    justify-self: start;
    @include media-breakpoint-tablet() {
      grid-area: r-start / c-start / r-tags / c-info;
    }
  }

  &__info {
    grid-area: r-start / c-info / r-tags / c-time-left;
    align-self: end;
    &--no-tags {
      @include breakpoint-tablet() {
        grid-area: r-start / c-info / r-middle / c-time-left;
        align-self: center;
      }
    }
    @include media-breakpoint-tablet() {
      grid-area: r-start / c-info / r-time-left / c-chart;
    }
  }

  &__tags {
    grid-area: r-tags / c-info / r-middle / c-time-left;
    justify-self: start;
    align-self: start;
    @include media-breakpoint-tablet() {
      grid-area: r-tags / c-start / r-middle / c-end;
    }
  }

  &__time-left {
    grid-area: r-time-left / c-info / r-tags / c-chart;
  }

  &__buttons {
    grid-area: r-start / c-buttons / r-middle / c-end;
    @include media-breakpoint-tablet() {
      display: none;
    }
  }

  &__hr {
    grid-area: r-start / c-info / r-middle / c-end;
    height: 100%;
    border-bottom: 1px solid $border-color;
    @include media-breakpoint-tablet() {
      display: none;
    }
  }

  &__chart {
    grid-area: r-middle / c-info / r-end / c-stats;
    @include media-breakpoint-tablet() {
      grid-area: r-start / c-chart / r-tags / c-end;
    }
  }

  &__stats {
    grid-area: r-middle / c-stats / r-end / c-end;
    justify-self: stretch;
    @include media-breakpoint-tablet() {
      grid-area: r-middle / c-start / r-end / c-end;
    }
  }

  &__link {
    font-family: NeuzeitGroBol;
    font-size: 1.4rem;
    line-height: 1;
    color: #1b4f64;
  }

  &__button {
    min-width: 120px;
  }
}
