@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.program-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 9px;
  background-color: white;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  justify-content: space-between;

  &__hr {
    display: none;
  }

  &__order {
    display: none;
  }

  &__avatar {
    margin-right: 0.5rem;
  }

  &__bookmark {
    font-size: 1rem;
    line-height: 1;
    margin-right: 0.5rem;
  }

  &__info {
    width: calc(70% - 2rem);
  }

  &__title {
    display: flex;
    align-items: flex-start;
  }

  &__link {
    font-size: 1.4rem;
    line-height: 1;
    color: #1b4f64;
  }

  &__time-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  &__chart {
    width: calc(30% - 2rem);
  }

  &__button {
    width: calc(50% - 0.5rem);
  }

  &__buttons {
    margin-top: 0.5rem;
    width: 100%;
    justify-content: space-between;
  }

  &__stats {
    width: 100%;
    order: 5;
  }

  @include breakpoint-tablet() {
    &__bookmark {
      margin-right: 1rem;
    }

    &__info {
      width: calc(50% - 2rem);
    }

    &__chart {
      width: calc(20% - 2rem);
      margin-right: 1rem;
    }

    &__button {
      width: auto;
    }

    &__buttons {
      margin-top: 0;
      width: auto;
      justify-content: space-between;
    }

    &__stats {
      margin-top: 1rem;
      width: 100%;
    }
  }

  @include breakpoint-desktop() {
    position: relative;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    align-items: flex-start;

    &__hr {
      display: inline-flex;
      position: absolute;
      right: 0;
      top: 3.2rem;
      width: calc(100% - 4rem - 112px);
      margin: 1rem;
    }

    &__order {
      display: inline-block;
      align-self: center;
      text-align: center;
      width: 2rem;
      margin-left: -1rem;
      flex-shrink: 0;
    }

    &__avatar {
      margin-right: 1rem;
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: calc(100% - 112px - 192px - 3rem);
      margin-right: 1rem;
    }

    &__time-left {
      flex-direction: row;
      width: 30%;
      justify-content: flex-end;
      align-items: center;
    }

    &__chart {
      order: 2;
      position: absolute;
      left: calc(112px + 3rem);
      bottom: 1rem;
      width: calc(30% - 112px - 2rem);
    }

    &__stats {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      display: flex;
      width: calc(70% - 4rem);
      order: 3;
    }
  }
}
