@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.details-chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  min-height: 400px;

  &__container {
    @include details-block-horizontal-paddings();
    height: 490px;
  }

  &__profit {
    height: 350px;
    width: 100%;

    svg.recharts-surface {
      // fix for recharts
      overflow: visible;
    }
  }

  .details-tooltip {
    &__statistic {
      padding: 5px 0;
    }

    &__title {
      font-size: $font-size-paragraph-mobile;
      font-weight: 300;
      letter-spacing: 0.4px;
      color: $text-color;
      max-width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $padding-xxsmall-mobile/2 0;
    }

    &__value {
      font-size: $font-size-h4-mobile;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: $text-accent-color;
    }
  }
  @include media-breakpoint-landscape-phone() {
    .details-tooltip {
      &__title {
        font-size: $font-size-paragraph;
        padding: $padding-xxsmall/4 0;
      }
      &__value {
        font-size: $font-size-h4;
      }
    }
  }
}
