@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.statistics-item-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  &--vertical {
    flex-direction: column;
  }
}
