@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

$input-range-primary-color: $alternate-color;
$input-range-neutral-color: $border-color;
$input-range-neutral-light-color: $border-color;
$input-range-disabled-color: $border-color;
$input-range-slider-height: 1rem;
$input-range-slider-width: 1rem;
$input-range-slider-active-transform: none;
$input-range-label-color: $main-color;
$input-range-label-value-position-top: 0.5rem;
$input-range-label-position-bottom: -0.2rem;
$input-range-track-transition: none;
$input-range-slider-transition: none;
$input-range-slider-container-transition: none;

@import "node_modules/react-input-range/src/scss/index.scss";

.input-range {
  margin-top: 0.5rem;
}

.input-range__label--max {
  right: -2.4rem;
}

.input-range__label--min {
  left: -2.4rem;
}

.input-range__slider {
  @include media-breakpoint-phone() {
    height: 1.1rem;
    width: 1.1rem;
  }
}
