@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";

.dialog {
  position: relative;
  border-radius: 8px;
  background-color: $secondary-background-color;
  z-index: 1300;
  max-width: 360px;
  width: 100%;
  margin: 2rem auto;
  overflow: hidden;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
  }

  &__backdrop {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    min-height: 100%;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      letter-spacing: 0.5px;

      &:last-child {
        margin-bottom: 44px;
      }
    }

    &__title {
      opacity: 0.5;
    }

    &__value {
      opacity: 1;
    }
  }

  &__info {
    margin-top: 35px;
    opacity: 0.5;
    font-size: 11px;
    line-height: 1.64;
    letter-spacing: 0.2px;
  }

  &__top,
  &__bottom {
    padding: 30px;
  }

  &__bottom {
    background-color: rgba(255, 255, 255, 0.02);
  }

  &__close {
    position: absolute;
    padding: 1rem;
    z-index: 2;

    .icon {
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &:hover {
      .icon {
        opacity: 0.4;
      }
    }

    &--inside {
      right: 10px;
      top: 15px;
    }

    &--outside {
      position: fixed;
      display: none;
      top: 10%;
      right: 10%;
    }

    @include media-breakpoint-tablet() {
      &--inside {
        display: none;
      }

      &--outside {
        display: inherit;
      }
    }
  }

  &__header {
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 11px;
    }
    p {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 0.4px;
      color: #e8eff3;
    }
  }

  &-field {
    margin-top: 30px;
    font-weight: 300;

    &__description {
      font-size: 13px;
      opacity: 0.5;
      margin-bottom: 12px;
      letter-spacing: 0.4px;
    }

    &__value {
      font-size: 24px;
      letter-spacing: 0.8px;
    }
  }

  .gv-text-field__wrapper {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  &__buttons {
    display: flex;
    margin-top: 35px;

    .gv-btn {
      flex: 1 1 100%;
    }

    .gv-btn + .gv-btn {
      margin-left: 16px;
    }
  }

  .form-error {
    margin-bottom: 20px;
    font-size: 13px;
  }
}
