@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";
@import "~shared/styles/_breakpoint";

$fund-asset-bubble-size: 5px;

.fund-asset-list {
  &__bubble {
    width: $fund-asset-bubble-size;
    height: $fund-asset-bubble-size;
    border-radius: 50%;
  }
}
