@import "styles/_breakpoint.scss";

.dashboard-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dashboard-description__buttons {
  @include media-breakpoint-phone() {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gv-btn {
    margin-left: 1rem;
    @include media-breakpoint-phone() {
      margin: 0.2rem;
    }
  }
}
