@import "styles/_breakpoint";
@import "styles/_sizes";
@import "styles/_colors";

.popover-content {
  box-sizing: border-box;
  max-height: 50vh;
  overflow: auto;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &--left-align {
      align-items: flex-start;
    }
  }

  &__list-item {
    box-sizing: border-box;
    width: 100%;
    @include horizontal-paddings($padding-small);
    @include vertical-paddings($padding-xxsmall);
  }
}
