@import "~shared/styles/_colors";
@import "~shared/styles/_constants";
.popover {
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: $popover-background;
  @include adaptive-border-radius($border-radius);
  overflow: hidden;

  box-shadow: $box-shadow-4;

  max-width: calc(100vw - 20px);
  z-index: 1301;
  transition: opacity 150ms ease-in-out;
}
