@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.confirm-popup {
  padding: $padding-medium 10px 20px;
  color: $text-light-color;
  &__header {
    font-weight: bold;
    line-height: normal;
    font-size: $font-size-h2;
    text-align: center;
  }
  &__body {
    margin: 30px 0;
    font-size: $font-size-common;
    text-align: center;
    letter-spacing: 0.433333px;
  }
  &__btns {
    text-align: center;
    :last-child {
      margin-left: 10px;
    }
  }
}
