@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.confirm-popup {
  padding: 50px 30px;
  color: $text-light-color;
  text-align: center;
  &__body {
    padding: 20px 0 30px;
  }
  &__btns {
    :last-child {
      margin-left: 10px;
    }
  }
}
