@import "~shared/styles/_sizes.scss";

.dashboard {
  &__public-page-block {
    @include details-block-horizontal-paddings;
    display: flex;
    align-items: center;
  }
  &__public-page-select {
    padding-right: $padding-xsmall;
  }
  &__statistic-block {
    width: 100%;
    display: flex;
    & > div {
      width: 50%;
    }
  }
}
