@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_breakpoint";

.dashboard {
  &__public-page-block {
    @include details-block-horizontal-paddings;
    display: flex;
    align-items: center;
  }
  &__public-page-select {
    padding-right: $padding-xsmall;
  }
  &__statistic-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & > div {
      margin-right: 0;
      width: 100%;
    }
    &--landscape-tablet {
      & > div {
        @include media-breakpoint-landscape-tablet() {
          width: calc(50% - #{$padding-xsmall}/ 2);
        }
      }
    }
    &--tablet {
      & > div {
        @include media-breakpoint-tablet() {
          width: calc(50% - #{$padding-xsmall}/ 2);
        }
      }
    }
  }
}
