@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-chart {
  padding: 0 $padding-small-mobile;
  padding-bottom: $padding-small-mobile;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;

  & .chart-period{
    margin-top: 0;
  }

  &__value {
    padding-top: $padding-xsmall-mobile;
    @include media-breakpoint-landscape-phone(){
      padding-top: $padding-xsmall;
    }
  }

  &__heading {
    font-size: $font-size-h3-mobile;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: $padding-small-mobile 0;
  }

  &__profit {
    height: 350px;
    width: 100%;
  }

  .details-tooltip {
    &__statistic {
      padding: 5px 0;
    }

    &__title {
      font-size: $font-size-paragraph-mobile;
      font-weight: 300;
      letter-spacing: 0.4px;
      color: $text-color;
      max-width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $padding-xxsmall-mobile/2 0;
    }

    &__value {
      font-size: $font-size-h4-mobile;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: $text-accent-color;
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding: 0 $padding-small;
    padding-bottom: $padding-small;

    &__heading {
      font-size: $font-size-h3;
      padding: $padding-small 0;
    }

    .details-tooltip {
      &__title {
        font-size: $font-size-paragraph;
        padding: $padding-xxsmall/4 0;
      }
      &__value {
        font-size: $font-size-h4;
      }
    }
  }
}
