@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";

$soring-background-color: rgba(242, 246, 247, 0.53);
$soring-color: #7d9399;
$sorting-padding: 6px 15px;
$sorting-padding-mobile: 6px;

.program-list-sorting {
  display: flex;
  flex: 1;
  max-width: 275px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: NeuzeitGroBol;
  color: $soring-color;
  background-color: $soring-background-color;
  border: solid 1px #e3ebed;
  border-radius: 10rem;
  box-shadow: 0 1px 4px 0 #e3ebed;
  margin: 0.5rem;

  .Select-control {
    min-width: 110px;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    outline: 0;
    overflow: hidden;
    position: relative;
  }

  .Select--single > .Select-control .Select-value,
  .Select-placeholder {
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: right;
    vertical-align: middle;
    width: 25px;
  }

  .Select,
  .Select div,
  .Select input,
  .Select span {
    box-sizing: border-box;
  }

  .Select-menu-outer {
    background-color: #fff;
    border-top-color: #e6e6e6;
    box-sizing: border-box;
    margin-top: 1px;
    max-height: 200px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 100px 100px 0 rgba(194, 207, 212, 0.32);
  }

  .Select-menu {
    max-height: 198px;
    overflow-y: auto;
    box-shadow: 0 1px 4px 0 #e3ebed;
  }

  .Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666;
    cursor: posinter;
    display: block;
    padding: 8px 10px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eaecf7;
    }
  }

  .Select-option.is-selected {
    background-color: rgba(22, 183, 173, 0.08);
    color: #333;
  }

  .Select-option.is-focused {
    color: #333;
  }
}

.sorting__container {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  padding: $sorting-padding;
  background-color: white;
  @include media-breakpoint-small-phone() {
    padding: $sorting-padding-mobile;
  }
}

.sorting__label {
  display: inline-block;
  white-space: nowrap;
  border-right: 1px solid $border-color;
  padding: $sorting-padding;
  @include media-breakpoint-small-phone() {
    padding: $sorting-padding-mobile;
  }
}

.sorting__order {
  cursor: pointer;
  color: $alternate-color;
  background-color: white;
  display: inline-block;
  border-left: 1px solid $border-color;
  padding: $sorting-padding;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  @include media-breakpoint-small-phone() {
    padding: $sorting-padding-mobile;
  }
}

.sorting__value {
  color: $alternate-color;
}
