@import "styles/_colors.scss";

.wallet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-info__amount {
  color: $main-color;
  font-size: 3rem;
  line-height: 1;
}

.wallet-info__currency {
  text-transform: uppercase;
  font-size: 1rem;
}
