@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.wallet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-info__amount {
  color: $main-color;
  font-size: 3rem;
  line-height: 1;

  @include media-breakpoint-desktop() {
    font-size: 2rem;
  }
}

.wallet-info__currency {
  text-transform: uppercase;
  font-size: 1rem;
}
