@import "../../styles/breakpoint";

.app {
  margin: 0 auto;

  @include media-breakpoint-desktop {
    max-width: 1200px;
  }

  @include media-breakpoint-desktop-large {
    max-width: 1360px;
  }

  &__header {
    padding: 32px;

    @include media-breakpoint-desktop {
      padding: 32px 0;
    }
  }
}
