@import "styles/_breakpoint.scss";

.app {
  margin: 0 auto;
  @include media-breakpoint-desktop {
    max-width: 1200px;
  }

  &__header {
    padding: 32px;

    @include media-breakpoint-desktop {
      padding: 32px 0;
    }
  }

  &__main {
    padding: 32px;
  }
}
