@import "styles/_sizes";
@import "styles/_colors";
@import "styles/_shadow.scss";

.horizontal-list-shadow-container {
  display: flex;
  position: relative;
  overflow-y: hidden;

  &--left {
    &:before {
      @include leftShadow();
    }

    &.horizontal-list-shadow-container--dark-shadow {
      &:before {
        @include leftDarkShadow();
      }
    }
  }

  &--right {
    &:after {
      @include rightShadow();
    }

    &.horizontal-list-shadow-container--dark-shadow {
      &:after {
        @include rightDarkShadow();
      }
    }
  }
}
