@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_constants.scss";

$withdraw-button-height: 50px;
$withdraw-button-width: 150px;
$withdraw-button-height-mobile: $withdraw-button-height/$divider-text;
$withdraw-button-width-mobile: $withdraw-button-width/$divider-text;

.subscription-details {
  @include adaptive-margin(top, $padding-medium);
  @include adaptive-margin(bottom, $padding-small);
  display: inline-block;
  margin-left: -$padding-xsmall;
  margin-right: -$padding-xsmall;
  width: calc(100% + 20px * 2);

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__edit-btn {
    @include font-size($font-size-common);
    @include transition(color);
    color: $main-color;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      outline: none;
      border: none;
      color: $primary-color;
    }
  }

  @include media-breakpoint-landscape-phone() {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @include media-breakpoint-tablet() {
    width: auto;
    min-width: 460px;
    max-width: 490px;
  }

  &__short-statistic {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &-item {
      flex-grow: 1;
      flex-basis: 60%;
      box-sizing: border-box;

      &:nth-child(2n) {
        flex-basis: 40%;
      }

      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-paragraph;
      }
    }
  }

  &__value-accent {
    color: $primary-color;
    border-bottom: 1px dashed $primary-color;
  }
}
