@import "styles/_colors.scss";

.program-details-investment {
  padding: 40px 32px;
  width: 697px;
  box-sizing: border-box;
  margin-left: 200px;

  &__heading {
    font-size: 17px;
    letter-spacing: 0.21px;
    margin: 0 0 31px;
  }

  &__short-statistic {
    margin: 24px 0 36px;
    display: flex;
    justify-content: space-between;
    width: 50%;

    &-item {
      white-space: nowrap;
      letter-spacing: 0.44px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      margin-right: 57px;
      font-weight: 600;
    }

    &-subheading {
      color: $label-color;
      font-size: 13px;
      margin-bottom: 13px;
      font-weight: normal;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__withdraw {
    width: 150px;
    height: 50px;
    margin-right: 5.5%;
    letter-spacing: 0.3px;
    font-size: 13px;
    font-weight: 600;
  }

  &__withdraw-notice {
    color: $short-statistic-notice-color;
    line-height: 18px;
    font-size: 11px;
    letter-spacing: 0.15px;
    margin-left: 5%;
  }
}
