@import "styles/_sizes";
@import "styles/_colors";

.fee-commission {
  white-space: nowrap;
  letter-spacing: 0.4px;
  width: 100%;
  justify-content: space-between;
  &--green-value {
    & .fee-commission__value {
      color: $positive-color;
    }
  }
}
