/*@import "styles/_colors.scss";

.ti-statistic {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  max-height: 160px;
  min-width: 300px;
}

.tis-item {
  //width: 7rem;
  height: 4.5rem;
  padding: 0.5rem;
  text-align: center;
  &:nth-of-type(odd) {
    border-bottom: 2px solid $border-color;
  }
}

.tis-item__value {
  font-size: 1.7rem;
  font-family: "NeuzeitGroLig";
}

.tis-item__label {
  color: $text-sub-color;
  font-size: 0.9rem;
  line-height: 0.5;
}
*/
