@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.details-investment-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: $padding-xxsmall;
  @include media-breakpoint-landscape-phone() {
    margin-top: $padding-xsmall;
  }

  &:nth-child(2) {
    @include media-breakpoint-landscape-tablet() {
      margin-left: $padding-medium;
      padding-left: $padding-medium;
      border-left: 2px solid $separator-color;
    }
    @include media-breakpoint-desktop() {
      margin-left: $padding-large;
      padding-left: $padding-large;
    }
  }

  &--investment {
    flex: 2;
    min-width: 100%;
    @include media-breakpoint-landscape-tablet() {
      min-width: initial;
      max-width: 70%;
    }
  }
}

.details-investment-heading {
  @include font-size($font-size-small);
  text-transform: uppercase;
  letter-spacing: 0.15px;
  color: $label-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-investment-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details-investment-container {
  display: flex;
  flex-wrap: wrap;
  @include horizontal-paddings($padding-small);
}
