@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.dp-program-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 190px;
  padding: 1rem 2rem;
  border-bottom: 1px solid $border-color;
  @include media-breakpoint-phone() {
    padding: 0.5rem;
  }
}
