@import "~shared/styles/_colors.scss";

.tag-filter {
  width: 200px;
  margin: 0 25px;

  &__btns {
    text-align: end;
  }

  &__button {
    border: 1px solid #6e757b;
    background-color: transparent;
    font-weight: 600;
    line-height: 1;
    color: $main-color;

    &.gv-btn--text {
      &:hover:not(:disabled),
      &:active:not(:disabled) {
        border-color: $main-color;
        background-color: $main-color;
        color: $panel-background-color;
      }
    }

    &--active {
      border-color: $main-color;
      background-color: $main-color;
      color: $panel-background-color;
    }

    &-plus {
      font-size: 17px;
      font-weight: 400;
      padding-right: 3px;
    }
  }

  &__btn {
    padding: 1em;
  }

  .rc-slider {
    margin: 1.5rem 0;
  }

  .rc-slider-track {
    background-color: $primary-color;
  }

  .rc-slider-handle {
    border-color: $primary-color;
  }

  .rc-slider-handle:hover {
    border-color: $primary-color;
  }
  .rc-slider-handle:active,
  .rc-slider-handle:focus {
    border-color: $primary-color;
    box-shadow: 0 0 5px $primary-color;
  }

  .rc-slider-dot-active {
    border-color: $primary-color;
  }
}
