@import "~shared/styles/_constants.scss";
@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_colors.scss";

.currency-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__icon {
    object-fit: cover;
    box-shadow: $box-shadow-1;
    border-radius: 100%;
    & img {
      width: 100%;
      height: auto;
    }
    &--medium {
      margin-right: $padding-xsmall;
      width: $wallet-item-size;
      height: $wallet-item-size;
    }
    &--small {
      margin-right: $padding-xsmall/$divider-title;
      width: $wallet-item-size/$divider-title;
      height: $wallet-item-size/$divider-title;
    }
  }
  &__name {
    font-size: $font-size-paragraph;
    white-space: nowrap;
    letter-spacing: 0.6px;
    font-weight: 300;
    color: $text-light-color;
  }
}
