@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";
@import "~shared/styles/_constants";

$button-size: 28px;
$inner-button-size: 8px;

.close-circle-button {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $button-size;
  height: $button-size;
  background-color: #293842;
  border-radius: 50%;
  @include transition("background-color");
  box-shadow: $box-shadow-4;
  &:hover:not(:disabled) {
    background-color: #161b20;
  }

  .icon {
    height: $inner-button-size;
    width: $inner-button-size;
  }
}
