@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

$padding: 33px;
$main-font-size: 13px;
$small-font-size: 12px;
$large-font-size: 15px;
$radius: 8px;

.alert-message-list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: $padding/2;
  /*@include media-breakpoint-phone() {
    bottom: 0;
    right: 0;
  }*/
  &__clear-all {
    background: $primary-color;
    color: $panel-background-color;
    font-size: $small-font-size;
    border-radius: $radius*2;
    padding: $padding/4;
    font-weight: 200;
    box-shadow: 0 5px 15px 0 $positive-background-color;
    cursor: pointer;
    //margin-bottom: 0.5rem;
    .gv-btn {
      font-size: 0.9rem;
      line-height: 1;
      padding: 0 0.9rem;
    }
  }

  &__alert-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 300px;
    color: $panel-background-color;
    font-weight: 400;
    font-size: $small-font-size;
    padding: $padding/2;
    margin-bottom: $padding/2;
    border-radius: $radius;
    @include media-breakpoint-landscape-phone() {
      font-size: $main-font-size;
      padding: $padding/2;
    }
    &--success {
      background-color: $positive-color;
      border-color: $positive-color;
      box-shadow: 0 5px 15px 0 $positive-background-color;
    }

    &--danger {
      color: #eb3b5a;
      background-color: hsl(349, 11%, 20%);
      border-color: $negative-color;
      box-shadow: 0 5px 15px 0 $panel-background-color;
    }

    &--warning {
      color: $panel-background-color;
      background-color: #ecdf75;
      border-color: #ecdf75;
      box-shadow: 0 5px 15px 0 $secondary-color;
    }
  }
  &__close{
    padding-left: $padding/4;
    cursor: pointer;
  }
  &__close-button{
    transform: rotate(45deg);
    font-weight: 900;
    font-size: $large-font-size*1.5;
    line-height: $large-font-size/1.5;
  }
}
