@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.chart-currency-selector {
  &__container {
    & .tile-filter-item {
      padding-bottom: 0;
    }
    & .tag-button {
      margin-right: 0;
    }
    & button.select__value {
      @include font-size($tag-font-size);
      border-bottom: 0;
    }
    & .select {
      height: auto;
      display: block;
    }
  }

  &__item {
    & .select__text {
      @include font-size($tag-font-size);
    }
  }
}
