@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_sizes.scss";

.program-details {
  &__section {
    margin-bottom: $padding-large-mobile;
    @include media-breakpoint-landscape-phone() {
      margin-top: $padding-large;
    }
  }
}

.popover-levels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #25434d;
  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $padding-small;
  }
  &__title,
  &__subtitle,
  &__text {
    padding: $padding-small/2 0;
  }
  &__title,
  &__subtitle,
  &__text,
  &__balance,
  &__text {
    word-wrap: break-word;
    max-width: 165px;
  }
  &__title {
    font-size: $font-size-large;
    color: $primary-color;
    font-weight: bold;
  }
  &__subtitle {
    font-size: $font-size-large;
    opacity: 0.4;
  }
  &__balance {
    font-weight: bold;
  }
  &__text {
    font-size: $font-size-middle;
    opacity: 0.4;
    line-height: 1.54;
    letter-spacing: 0.3px;
  }
  &__about {
    padding: $padding-small/2 0;
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.3px;
  }
}
