@import "styles/_colors.scss";
@import "styles/_constants.scss";
@import "styles/_breakpoint.scss";

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 100px;
  background: url(/src/shared/media/bgnd.svg) no-repeat bottom;
  background-size: 100%;

  &__left {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  &__right {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $border-radius;
    background-color: $background-color;
    box-sizing: border-box;
    height: 80%;
    width: 29.75%;
    min-width: 476px;
  }

  &__content {
    box-sizing: border-box;
    padding: 21% 16.8% 12.2% 16.8%;
    height: 87.5%;
  }

  &__footer {
    height: 12.5%;
  }

  &__logo {
    display: flex;
    width: 127px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    font-weight: 300;
    font-size: 44px;
    margin-top: 50%;
    max-width: 330px;
    letter-spacing: 0.3px;
  }

  .gv-text-field {
    margin-bottom: 16px;
  }

  .gv-text-field__wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .gv-text-field__error {
    bottom: 0;
  }

  & .gv-btn.gv-btn--text {
    padding: 0;
  }
}
