@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.wallet-transactions {
  &__row:nth-child(2n + 1) {
    background-color: $table-background-subcolor;
  }

  &__icon-currency {
    @include adaptive-margin(right, $padding-xsmall);
  }

  &__cell {
    @include adaptive-padding(right, $padding-xsmall, 2);
    color: $text-light-color;

    &--date {
      min-width: 150px;
    }
    &--information {
      min-width: 300px;
      white-space: normal;
    }
    &--amount {
      min-width: 140px;
    }
    &--amount {
      min-width: 140px;
    }
    &--type {
      text-align: right;
    }
    &--wallet {
      min-width: 250px;
    }
  }

  & .table__cell:last-child {
    text-align: right;
  }

  &__icon {
    @include adaptive-margin(right, $padding-xsmall);
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }

  &__back-arrow {
    @include horizontal-paddings($padding-xxsmall);
    display: inline-block;
    border: 1px solid transparent;
    height: 16.5px;
    font-family: "Times New Roman";
  }

  &__col {
    display: inline-block;
    line-height: 4px;
  }

  & .filter {
    &__label {
      color: $short-statistic-notice-color;
    }

    &__value {
      color: $text-light-color;
    }
  }

  & .icon.icon--actions-circle {
    cursor: pointer;
  }
}
.wallet-transaction-actions {
  &__disabled-actions {
    opacity: 0.4;
    &.icon.icon--actions-circle {
      cursor: auto;
    }
  }
}

.empty-transactions {
  padding: $padding-xsmall-mobile $padding-small-mobile;
  @include media-breakpoint-landscape-phone() {
    padding: $padding-xsmall $padding-small;
  }
  &__subtitle {
    font-weight: 600;
    font-size: $font-size-h3-mobile;
    padding: $padding-xsmall-mobile 0;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-h3;
      padding: $padding-xsmall 0;
    }
  }
  &__disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-big-mobile 0;
    @include media-breakpoint-landscape-phone() {
      padding: $padding-big 0;
    }
  }
  &__text {
    font-size: $font-size-paragraph-mobile;
    font-weight: 500;
    opacity: 0.4;
    padding: $padding-xsmall-mobile 0;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
      padding: $padding-xsmall 0;
    }
  }
}
