@import "styles/_colors.scss";

.header {
  background: white;
  border-bottom: 1px solid $border-color;
  height: 70px;
}

.header__link {
  color: $text-color;
  &:hover {
    color: $text-color-light;
  }
}

.header__loading-bar {
  position: absolute;
  height: 3px;
  background: $main-color;
  background: linear-gradient(to right, $main-color, $alternate-color);
}

.nav-link__profile {
  color: $text-color !important;
  &:hover {
    color: $text-color-light !important;
  }
}
