@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__buttons {
    .gv-btn {
      margin-right: 10px;
    }
  }
}
