@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 1050;
  @include media-breakpoint-phone() {
    position: fixed;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 4px 0 rgba(227, 235, 237, 0.86);
  @include media-breakpoint-phone() {
    padding: 0.5rem 1rem;
  }
}

.header__sorting {
  display: flex;
}

.header__filtering {
  display: flex;
  align-items: center;
}

.header__link {
  color: $text-color;
  &:hover {
    color: $text-color-light;
  }
}

.header__loading-bar {
  position: absolute;
  height: 3px;
  background: $main-color;
  background: linear-gradient(to right, $main-color, $alternate-color);
}

.nav-link__profile {
  color: $text-color !important;
  &:hover {
    color: $text-color-light !important;
  }
}

.h-sorting {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  @include media-breakpoint-phone() {
    display: none;
  }
}

.h-filtering {
  display: flex;
  span {
    display: flex;
  }

  &:hover,
  .h-filtering--open {
    cursor: pointer;
    .filter--border,
    .filter--outer {
      fill: $alternate-color;
      stroke: $alternate-color;
    }
    .filter--inner {
      fill: white;
      stroke: white;
    }
    .filter--shadow {
      fill-opacity: 1;
    }
  }
}
