@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.mobile-nav {
  display: none;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 4px 0 rgba(227, 235, 237, 0.86);
  @include media-breakpoint-phone() {
    display: flex;
  }
}

.mobile-nav__item {
  margin: 0.2rem 1rem;
  font-size: 0.75rem;
  color: $main-color;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &.active {
    color: $alternate-color;
  }
}
