@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.mobile-nav {
  position: fixed;
  display: none;
  height: 100vh;
  width: 100%;
  max-width: 382px;
  padding: 1rem;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1051;

  &__open {
    display: block;
  }
}

.mobile-navigation {
  flex-direction: column;
  .navigation__item {
    border: none;
    min-height: 59px;
    border-bottom: 1px solid #eef3f5;
  }
}
