@import "styles/_breakpoint.scss";

.wp-transaction-list {
  margin-top: 2rem;
  @include media-breakpoint-desktop() {
    margin-top: 0;
  }
}

.wp-transaction-list__header {
  font-family: "NeuzeitGroBol";
  font-size: 1.3rem;
  line-height: 1.2;
  @include media-breakpoint-desktop() {
    font-size: 1rem;
  }
}

.wp-transaction-list__items {
  max-height: calc(100vh - 470px);
  overflow: hidden;
}

.wp-transaction-list__all-transactions {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
}
