@import "~shared/styles/_colors";
@import "~shared/styles/_constants";
@import "~shared/styles/_sizes";

.profile-widget {
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
      .profile-widget__avatar {
        background-color: lighten($secondary-color, 5%);
      }
    }
  }

  &__avatar {
    margin-right: $padding-xxsmall;
  }
}

.profile-menu {
  &__header {
    font-size: $font-size-common;
    padding: $padding-xxsmall 0;
  }

  &__item {
    min-width: 200px;

    .icon {
      opacity: 0.2;
      background-position: center;
      height: 13px;
      width: 13px;
    }

    &:hover {
      .icon {
        opacity: 0.5;
      }
    }
  }

  &__item-label {
    font-size: $font-size-common;
    color: $text-light-color;
    white-space: nowrap;
  }

  &__separator {
    padding: $padding-xxsmall 0;
  }
}
