@import "styles/_colors";
@import "styles/_constants";
@import "styles/_sizes";

.profile-widget {
  &__content {
  }
}

.profile-menu {
  &__header {
    font-size: $font-size-common;
    padding: $padding-xxsmall 0;
  }

  &__item {
  }

  &__item-icon {
  }

  &__item-label {
  }

  &__separator {
    padding: $padding-xxsmall 0;
  }
}
