@import "~shared/styles/_colors.scss";

.favorite-icon {
  cursor: pointer;
  path {
    stroke: $label-color;
  }
  &:hover {
    opacity: 1;
    path {
      stroke: $text-accent-color;
    }
  }
  &__selected {
    opacity: 1;
    path {
      fill: $primary-color;
      stroke: none;
    }
  }
}
