@import "styles/_colors.scss";

.forgot-password {
  &__title {
    width: 164px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  &__text {
    color: $text-color-grey;
    width: 270px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  &__navigation {
    margin-top: 175px;
  }

  &__btn-back {
    margin-right: 32px;
  }
}
