@import "~shared/styles/_colors.scss";
@import "~shared/styles/_constants.scss";
.popover {
  opacity: 0;
  position: absolute;
  background-color: $popover-background;
  border-radius: $border-radius;
  overflow: hidden;

  box-shadow: $box-shadow-4;

  max-width: calc(100vw - 20px);
  z-index: 1301;
  transition: opacity 150ms ease-in-out;
}
