@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";

$middle-padding: 33px;
$large-padding: 42px;

.portfolio-events-all-table {
  &__row:nth-child(2n + 1) {
    background-color: $table-background-subcolor;
  }

  & .table__row {
    padding: 0 32px;
  }

  &__cell {
    color: $text-light-color;

    &--date {
      width: 33%;
      min-width: 180px;
    }
    &--type {
      width: 40%;
      min-width: 230px;
    }
    &--amount {
      width: 27%;
      min-width: 110px;
    }
  }

  & .filter {
    &__label {
      color: $short-statistic-notice-color;
    }

    &__value {
      color: $text-light-color;
    }
  }
}
