@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_constants.scss";

$font-size: 13px;
$line-height: 1.69;

.notifications {
  width: 100%;

  &__group {
    .notification__content {
      margin-bottom: 30px;
      border-bottom: 1px solid $border-color;
    }

    &:last-child {
      .notification:last-child {
        .notification__content {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }

  &__count,
  &__link {
    margin: 0 auto;
  }

  &__title {
    letter-spacing: 1px;
    margin: 0 0 30px 58px;
    color: $text-dark-color;
    font-weight: 600;
    font-size: 11px;
  }

  &__link {
    &:hover {
      box-shadow: $box-shadow-4;
    }
  }

  &__ring {
    height: 32px;
    width: 32px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 20px 20px 0 20px;
    @include media-breakpoint-landscape-phone {
      padding: 32px 25px 0 25px;
    }
  }

  &__content {
    padding: 0 20px 20px 20px;
    @include media-breakpoint-landscape-phone {
      padding: 0 25px 32px 25px;
    }
  }
}

.notification {
  $avatar-size: 32px;
  display: flex;
  flex-direction: row;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__description {
    margin-bottom: 20px;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: 0.2px;
  }
  &__date {
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: 30px;
    color: $text-dark-color;
    letter-spacing: 0.4px;
  }

  &--is-unread {
    .notification__date {
      &:after {
        content: "\25CF";
        color: $negative-color;
        margin-left: 10px;
      }
    }
  }

  &:before {
    content: url("~shared/media/star.svg");
    background-color: $positive-background-color;
    line-height: 10px;
    flex-shrink: 0;
    margin-top: ($font-size * $line-height - $font-size) / 2;
    margin-right: 25px;
    height: $avatar-size;
    width: $avatar-size;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &[class*="--type-profile"] {
    &:before {
      content: url("~shared/media/red-user.svg");
      background-color: $negative-background-color;
    }
  }
  &[class*="--type-platform"] {
    &:before {
      content: url("~shared/media/news.svg");
      background-color: rgba($main-color, 0.2);
    }
  }
}
