@import "styles/_breakpoint.scss";

.app__main {
  display: flex;
  @include media-breakpoint-phone() {
    margin-top: 80px;
  }
}

.app__sidebar {
  flex: 1 0 65px;
  max-width: 65px;
  @include media-breakpoint-phone() {
    display: none;
  }
}

.app__body {
  flex: 1 1 100%;
  @include media-breakpoint-phone() {
    max-width: 100%;
  }
}
