@import "styles/_breakpoint.scss";

html {
  @include media-breakpoint-phone() {
    font-size: 0.875rem;
  }
}

.app__main {
  display: flex;
}

.app__sidebar {
  flex: 1 1 65px;
  max-width: 65px;
  @include media-breakpoint-phone() {
    display: none;
  }
}

.app__body {
  flex: 1 1 100%;
  @include media-breakpoint-phone() {
    max-width: 100%;
  }
}
