@import "styles/_colors.scss";

.profile {
  &__container {
    width: 100%;
    overflow: scroll;
  }
  &__left {
    position: relative;
  }

  &__center {
    width: 100px;
  }

  &__stick {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    &::after {
      content: "";
      display: flex;
      width: 1px;
      background-color: $secondary-background-color;
      height: 100%;
    }
  }

  h4 {
    display: inline-flex;
    flex-shrink: 0;
  }

  .chip {
    margin-left: 20px;
    flex-shrink: 0;
  }

  .gv-text-field {
    min-width: 310px;

    &__wrapper {
      margin-left: 0;
      margin-right: 16px;
    }

    &__input {
      color: $main-color !important;
    }
  }

  &--is-disabled {
    .gv-text-field::before {
      border: none;
    }
  }
}
