@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.global-search {
  &-input {
    &__wrapper {
      width: 100%;
    }
  }
  &-hidden {
    display: none;
  }
}

.global-search-input {
  padding: 0 $padding-xsmall;

  @include media-breakpoint-landscape-phone() {
    padding: 0;
  }

  & .gv-text-field__wrapper,
  & .gv-text-field {
    margin: 0;
  }
}

.global-search-result {
  margin-top: $padding-xsmall-mobile;
  @include media-breakpoint-landscape-phone() {
    margin-top: $padding-xsmall;
  }

  & .table__toolbar {
    padding: 0;
  }

  &__tabs {
    padding: 0 $padding-xsmall;
    height: 25px;
    overflow: hidden;

    @include media-breakpoint-landscape-phone() {
      padding: 0 $padding-small;
      height: auto;
      overflow: auto;
    }

    .gv-tabs {
      display: flex;
      overflow-x: scroll;
      -ms-overflow-style: none;

      @include media-breakpoint-landscape-phone() {
        overflow-x: auto;
      }

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    .gv-tab {
      white-space: nowrap;
    }
  }

  &__heading {
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }

  &__loading {
    @include vertical-paddings($padding-small);
    @include font-size($font-size-h4);
    letter-spacing: 0.2px;
    opacity: 0.4;
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }
}
