@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.global-search {
  &-input {
    &__wrapper {
      width: 100%;
    }
  }
  &-hidden {
    display: none;
  }
}

.global-search-input {
  & .gv-text-field__wrapper,
  & .gv-text-field {
    margin: 0;
  }
}

.global-search-result {
  margin-top: $padding-xsmall-mobile;
  @include media-breakpoint-landscape-phone() {
    margin-top: $padding-xsmall;
  }

  & .table__toolbar {
    padding: 0;
  }

  &__tabs {
    @include horizontal-paddings($padding-small);
  }

  &__heading {
    @include horizontal-paddings($padding-small);
    letter-spacing: 0.2px;
  }

  &__loading {
    padding: $padding-small-mobile;
    font-size: $font-size-h4-mobile;
    letter-spacing: 0.2px;
    opacity: 0.4;
    @include media-breakpoint-landscape-phone() {
      padding: $padding-small;
      font-size: $font-size-h4;
    }
  }
}
