@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.logo-field {
  position: relative;
  margin-bottom: $padding-medium;
  max-width: 230px;

  &-caption {
    padding-top: $padding-xsmall;
    font-size: $font-size-small;
    color: $label-color;
    letter-spacing: 0.4px;
    width: 100%;

    &.hint {
      cursor: pointer;
    }
  }

  &-caption-tooltip-content {
    width: 248px;
    font-size: 12px;
    line-height: 1.6;
    color: $text-light-color;
  }

  &--wider {
    max-width: 100%;
    width: 100%;
  }

  &__title {
    margin-bottom: 8px;
    font-size: $font-size-common;
    letter-spacing: 0.3px;
    font-weight: 600;
  }

  &__notice {
    font-size: 11px;
    color: $label-color;
    letter-spacing: 0.2px;
    width: 210px;
    line-height: 1.4;
  }
}
