@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.logo-field {
  position: relative;
  margin-bottom: $padding-medium;
  max-width: 230px;

  &--wider {
    max-width: 100%;
    width: 100%;
  }

  &__title {
    margin-bottom: 8px;
    font-size: $font-size-common;
    letter-spacing: 0.3px;
    font-weight: 600;
  }

  &__notice {
    width: 210px;
    line-height: 1.4;
  }
}
