@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";
@import "styles/_constants";

$pager-button-size: 40px;
$pager-button-size-mobile: $pager-button-size/$divider-text;

.pager {
  &__separator,
  &__button {
    @include muted();
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 800;
    @include width($pager-button-size);
    @include height($pager-button-size);
    @include font-size($font-size-common);
  }

  &__button {
    @include transition(color, background-color);
    align-items: center;
    @include adaptive-border-radius(8px);
    cursor: pointer;
    &:hover {
      color: $text-light-color;
      background-color: #1b2a35;
    }
    &--current {
      background-color: #1b2a35;
      color: $text-light-color;
    }
  }
}
