@import "~shared/styles/_constants";
@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

@mixin default-block-offsets($padding) {
  &.default-block--vertical-offsets {
    @include vertical-paddings($padding);
  }
  &.default-block--horizontal-offsets {
    @include horizontal-paddings($padding);
  }
}

.default-block {
  box-sizing: border-box;

  &--hoverable {
    &:hover {
      background-color: lighten($panel-background-color, 1);
      @include transition(background-color);
    }
  }

  &--wide {
    width: 100%;
  }

  &--small {
    &.default-block--rounded-border {
      @include adaptive-border-radius($border-radius);
    }
    padding: $padding-xxsmall;
  }

  &--middle {
    &.default-block--rounded-border {
      @include adaptive-border-radius($border-radius-middle);
    }
    @include default-block-offsets($padding-xsmall);
  }

  &--large {
    &.default-block--rounded-border {
      @include adaptive-border-radius($border-radius-middle);
    }
    @include default-block-offsets($padding-small);
  }

  &--xlarge {
    &.default-block--rounded-border {
      @include adaptive-border-radius($border-radius-middle);
    }
    @include default-block-offsets($padding-medium);
  }

  &--solid {
    background-color: $panel-background-color;
  }

  &--bordered {
    border: 1px solid rgba($main-color, 0.06);
  }

  &--table {
    & .table__cell:first-child {
      @include details-block-left-padding();
    }

    & .table__toolbar {
      @include details-block-horizontal-paddings();
    }
  }
}
