@import "styles/_colors.scss";

.ti-chart {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 15%;
  max-width: 15%;
  height: 80px;
}

.fund {
  .recharts-rectangle {
    fill: $alternate-color;
    stroke: $main-color;
  }
}

.profit {
  .recharts-rectangle {
    fill: white;
    stroke: $main-color;
  }
}

.loss {
  .recharts-rectangle {
    fill: $main-color;
    stroke: $main-color;
  }
}

.total-profit {
  .recharts-line-curve {
    stroke: $main-color;
  }
}
