@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.create-program-broker {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include media-breakpoint-landscape-phone() {
    flex-direction: row;
  }

  &-container {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 59%;
    margin-right: 1%;
    min-width: 280px;
    padding: 0 $padding-xsmall;

    @include media-breakpoint-tablet() {
      margin-right: 4%;
      min-width: 324px;
      padding: 0;
    }

    @include media-breakpoint-desktop() {
      min-width: 352px;
      margin-right: 6%;
    }
  }

  &__description {
    width: 100%;

    @include media-breakpoint-tablet() {
      max-width: 300px;
    }

    &-heading {
      padding-bottom: 0;
    }
  }

  &__info-title {
    margin-bottom: 14px;
    font-size: $font-size-common;
    color: $short-statistic-subheading-color;
    letter-spacing: 0.4px;
  }

  &__info-text {
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.3px;
    color: $text-light-color;
  }

  &__row {
    @include adaptive-padding(top, $padding-small);
  }

  &__row--small {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
  }

  &__navigation {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;

    & .gv-btn {
      box-sizing: border-box;
      height: 40px;
      width: 110px;
      padding: 0;
    }
  }
}
