@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.trader-withdraw__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  @include media-breakpoint-phone() {
    display: none;
  }
}

.trader-withdraw__info-cell {
  flex: 1 1 32%;
  max-width: 32%;
  text-align: center;
}

.trader-withdraw__trader {
  display: flex;
  align-items: center;
}

.trader-withdraw__name {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.trader-withdraw__days-left {
  max-width: 5rem;
  margin: auto;
  .days-left-widget {
    flex-direction: column;
  }
}

.trader-withdraw__calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  @include media-breakpoint-phone() {
    margin: 0;
  }
}

.trader-withdraw__calculator-header {
  @include media-breakpoint-phone() {
    font-size: 0.9rem;
  }
}

.trader-withdraw__calculator-cell {
  flex: 1 1 30%;
  max-width: 30%;
  text-align: center;
  border: 1px solid $border-color;
  padding: 1rem;
  margin: 1rem;
}

.input-token {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
}

.input-token__amount {
  color: $text-sub-color;
  border: 0;
  max-width: 10rem;
  text-align: center;
  font-size: 2rem;
  outline: none;
}

.input-token__description {
  color: $text-sub-color;
  font-size: 0.9rem;
  line-height: 0.5;
}
