.trader-charts {
  margin-top: 2rem;
}

.trader-charts__charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 430px;
  padding: 2rem;
}

.trader-chart__bar {
  flex: 2;
  max-width: 60%;
}

.trader-chart__pie {
  flex: 1;
}
