@import "styles/_colors";
@import "styles/_breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.broker-info {
  &__subtitle {
    margin-bottom: 20px;

    @include media-breakpoint-landscape-tablet() {
      font-size: 24px;
    }

    @include media-breakpoint-large-desktop() {
      font-size: 30px;
    }
  }

  &__description {
    margin-bottom: 20px;
    opacity: 0.8;

    @include media-breakpoint-tablet() {
      font-size: 16px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-landscape-tablet() {
      margin-bottom: 30px;
    }

    @include media-breakpoint-desktop() {
      margin-bottom: 20px;
    }

    @include media-breakpoint-large-desktop() {
      margin-bottom: 40px;
    }
  }

  &__list-advantages {
    @include reset-list();
    display: none;

    @include media-breakpoint-tablet() {
      display: grid;
      grid-column-gap: 40px;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      margin-top: 40px;
    }
  }

  &__advantage {
    background-color: $main-color;
    border-radius: 20px;
    padding: 40px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    @include media-breakpoint-tablet() {
      min-height: 200px;

      &:nth-child(odd) {
        margin-bottom: 40px;
      }

      &:nth-child(even) {
        margin-top: 40px;
      }
    }

    @include media-breakpoint-large-desktop() {
      font-size: 18px;
    }

    &--bg {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 0;
    }
  }

  &__advantage-text {
    width: 75%;

    @include media-breakpoint-tablet() {
      width: 100%;
    }

    @include media-breakpoint-landscape-tablet() {
      width: 75%;
    }
  }

  &__advantage-number {
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    line-height: 1;
    margin-bottom: 20px;

    @include media-breakpoint-large-desktop() {
      font-size: 38px;
    }
  }

  &--dark {
    .broker-info__advantage {
      background-color: $row-color;
    }
  }
}
