@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_sizes.scss";

.wallet-add-funds-popup {
  &__title {
    font-size: $font-size-small;
    opacity: 0.3;
    letter-spacing: 0.4px;
    color: $main-color;
    margin-bottom: 12px;
  }
  &__value {
    font-size: $font-size-large-mobile;
    letter-spacing: 0.4px;
    margin-bottom: 32px;

    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-small;
    }
  }
  &__qr {
    margin-bottom: 32px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__will-get {
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
  }
}
