@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

$padding: 32px;
$text-size: 13px;
$th-text-size: 12px;
$title-text-size: 15px;
$detailed-text: 11px;
$chart-width: 160px;
$program-width: 312px;
$program-height: 372px;
$multiplier: 1.5;
$border-radius: 5px;
$description-block-width: 250px;

@mixin table-title() {
  opacity: 0.3;
  font-size: $th-text-size/1.5;
  color: white;
  text-align: left;
  padding-bottom: $th-text-size/1.5;
  @include media-breakpoint-landscape-phone() {
    font-size: $th-text-size;
    padding-bottom: $th-text-size;
  }
}

@mixin table-link($color-link, $color-link-hover: $color-link) {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: inherit;
  color: $color-link;

  &:hover {
    color: rgba(darken($color-link-hover, 10%), 0.9);
  }
}

.programs-cards {
  @include adaptive-padding(top, $padding-xsmall);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: $padding-xsmall;
  padding-right: $padding-xsmall;

  .icon {
    width: auto;
  }
  &__card {
    margin-bottom: $padding/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $program-height/1.2;
    padding: $padding 20px;
    border-radius: 8px;
    background-color: #212c34;
    flex-grow: 1;
    & .program-avatar__level {
      border-color: #212c34;
    }
    &--title {
      @include table-title;
    }
  }
  &__card-loader {
    margin-bottom: $padding/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $program-height/1.2;
    flex-grow: 1;
  }
  &__names {
    width: 100%;
    padding: 0 $padding/4;
  }
  &__actions {
    text-align: right;
    svg {
      width: 30px;
      height: 30px;
    }
    cursor: pointer;
  }
  &__title {
    padding: 3px 0;
    font-size: $title-text-size/1.5;
    word-break: break-all;
    & a {
      color: $text-accent-color;
    }
  }
  &__name {
    font-size: $text-size/1.5;
    color: $primary-color;
    .gv-btn {
      white-space: normal;
      padding: 0;
    }
  }
  &__chart {
    width: $chart-width/1.5;
  }
  &__chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__balance {
    font-size: $text-size/1.5;
  }
  &__profit {
    margin-bottom: 8px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__table {
    display: flex;
    justify-content: space-between;
  }
  &__table-column {
    display: flex;
    flex-direction: column;
  }
  .program-avatar {
    width: 40px;
    height: 40px;
  }
  @include media-breakpoint-phone() {
    .program-avatar {
      width: 80px;
      height: 80px;
    }
    &__card,
    &__card-loader {
      height: $program-height;
      margin-right: 0;
    }
    &__title {
      font-size: $title-text-size;
    }
    &__name {
      font-size: $text-size;
    }
    &__balance {
      font-size: $text-size;
    }
    &__profit {
      font-size: $text-size;
    }
    &__chart {
      width: $chart-width;
      flex-grow: 1;
      margin-right: $padding;
    }
    &__balance {
      font-size: $text-size;
    }
    &__table {
      & table {
        td {
          font-size: $text-size;
        }
      }
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding-left: $padding-small;
    padding-right: $padding-small - $padding/2;
    &__card,
    &__card-loader {
      min-width: $program-width;
      width: calc(50% - #{$padding}/ 2);
      margin-right: $padding/2;
    }
  }
  @include media-breakpoint-tablet() {
    &__card,
    &__card-loader {
      flex-grow: 0;
    }
  }
  @media (min-width: 1075px) {
    &__card,
    &__card-loader {
      width: calc(33.33% - #{$padding}/ 2);
    }
  }
  @include media-breakpoint-landscape-tablet() {
    &__table {
      &--title {
        width: 45%;

        &:first-child {
          width: 30%;
        }

        &:nth-child(2) {
          width: 25%;
        }
      }
    }
  }
  @media (min-width: 1360px) {
    &__card,
    &__card-loader {
      width: $program-width;
    }
  }
}

.programs-table__cell {
  @include vertical-paddings($padding-xxsmall);
  @include horizontal-paddings($padding-xsmall);
  &--avatar-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .program-avatar {
      min-width: 40px;
    }
  }
  &--title {
    @include font-size($font-size-paragraph);
    word-break: break-all;
    width: 170px;
  }
  &--top {
    padding: $padding/10 $padding/10 $padding/5;
  }
  &--link {
    @include table-link($text-accent-color, $text-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
  &--bottom {
    .program-tag {
      margin-right: 8px;
    }
  }

  &--name {
    padding-right: 0;
  }

  &--chart {
    width: 170px;
    padding-right: 0;
  }

  &--favorite {
    &.table__cell:last-child {
      padding-right: 22px;
    }
    .favorite-icon {
      width: 20px;
      height: 19px;

      @include media-breakpoint-landscape-phone() {
        width: 28px;
        height: 27px;
      }
    }
  }
}

.program-detailed {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    &--inner {
      width: calc(100% - 45px);
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    background: $secondary-color;
    padding: $padding/1.5;
    border-radius: $border-radius 0 0 $border-radius;
    min-width: 218px;
  }

  &__collapse {
    background-color: $secondary-color;
    border-radius: 0 $border-radius $border-radius 0;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__collapse-icon {
    width: 15px;
  }

  &__avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $padding/1.5;
    &--name {
      margin-left: $padding/2;
    }
    & .program-avatar__level {
      border-color: $secondary-color;
    }
  }

  &__title {
    font-size: $detailed-text;
    letter-spacing: 0.2px;
    margin-bottom: $padding/2.5/1.5;
    word-break: break-word;
  }

  &__title-link {
    @include table-link($text-accent-color, $text-color);
  }

  &__manager {
    font-size: $detailed-text;
    letter-spacing: 0.2px;
    color: $primary-color;
    word-break: break-all;
  }

  &__manager-link {
    @include table-link($primary-color);
  }

  &__strategy {
    font-size: $text-size/1.5;
    line-height: 1.85;
    letter-spacing: 0.4px;
    color: #fff;
    margin-bottom: $padding/2/1.5;
    font-weight: 600;
  }

  &__scroll {
    position: relative;
    margin: 0 0-$padding/1.5;
    flex: 1;
  }

  &__description {
    padding: 0 $padding/1.5;
    font-size: $text-size/1.5;
    line-height: 1.85;
    letter-spacing: 0.4px;
    color: #fff;
    max-height: 300px;
    word-break: break-all;
    white-space: pre-wrap;
  }

  &__chart {
    height: 50%;
    min-height: 250px;
  }

  &__statistic {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    padding: $padding/1.5;
    width: 100%;
    background-color: #212c34;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
  }

  &__details-link {
    @include table-link($text-accent-color, $text-color);
  }

  &__statistic-data,
  &__bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__favorites-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: $padding/4;

    .icon {
      margin: 0 10px;
    }
  }

  &__statistic-data {
    margin-bottom: $padding;
    &--label {
      opacity: 0.3;
      font-size: $text-size/1.5;
      padding: $padding/3 4px;
    }
    &--value {
      font-size: $text-size/1.5;
      padding: 0 4px;
      &--positive {
        color: $positive-color;
      }
    }
  }

  @include media-breakpoint-landscape-phone() {
    &__scroll {
      margin: 0 0-$padding;
    }
    &__info {
      padding: $padding;
    }
    &__avatar {
      margin-bottom: $padding;
    }
    &__strategy {
      margin-bottom: $padding/2;
    }

    &__strategy {
      font-size: $text-size;
    }

    &__description {
      font-size: $text-size;
      padding: 0 $padding;
    }
    &__avatar__img {
      height: 80px;
      width: 80px;
    }
    &__statistic {
      padding: $padding;
    }
    &__statistic-data {
      &--label {
        font-size: $text-size;
      }
      &--value {
        font-size: $text-size;
      }
    }
    &__statistic-data {
      margin-bottom: $padding * 2;
    }
    &__favorites-block {
      margin-bottom: $padding/3;
    }
  }
}

.popover-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
