@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

$padding: 32px;
$text-size: 13px;
$th-text-size: 12px;
$title-text-size: 15px;
$chart-width: 160px;
$program-width: 312px;
$program-height: 372px;
$multiplier: 1.5;
$border-radius: 5px;
$description-block-width: 250px;

@mixin table-title() {
  opacity: 0.3;
  font-size: $th-text-size/1.5;
  color: white;
  text-align: left;
  padding-bottom: $th-text-size/1.5;
  @include media-breakpoint-landscape-phone() {
    font-size: $th-text-size;
    padding-bottom: $th-text-size;
  }
}

.programs-table-container {
  padding-top: $padding;
}

.programs-cards {
  box-sizing: border-box;
  padding-bottom: $padding/2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .icon {
    width: auto;
  }
  &__card {
    margin-bottom: $padding/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $program-height/1.2;
    padding: $padding 20px;
    border-radius: 8px;
    background-color: #212c34;
    flex-grow: 1;
    & .program-avatar__level {
      border-color: #212c34 !important;
    }
    &--title {
      @include table-title;
    }
  }
  &__names {
    width: 100%;
    padding: 0 $padding/4;
  }
  &__actions {
    text-align: right;
    svg {
      width: 30px;
      height: 30px;
    }
    cursor: pointer;
  }
  &__title {
    padding: 3px 0;
    font-size: $title-text-size/1.5;
    word-break: break-all;
    & a {
      color: $text-accent-color;
    }
  }
  &__name {
    font-size: $text-size/1.5;
    color: $primary-color;
    .gv-btn {
      white-space: normal;
      padding: 0;
    }
  }
  &__chart {
    width: $chart-width/1.5;
  }
  &__chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__balance {
    font-size: $text-size/1.5;
  }
  &__profit {
    margin-bottom: 8px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__table {
    display: flex;
    justify-content: space-between;
  }
  &__table-column {
    display: flex;
    flex-direction: column;
  }
  .program-avatar {
    width: 40px;
    height: 40px;
  }
  @include media-breakpoint-phone() {
    .program-avatar {
      width: 80px;
      height: 80px;
    }
    &__card {
      height: $program-height;
      margin-right: 0;
    }
    &__title {
      font-size: $title-text-size;
    }
    &__name {
      font-size: $text-size;
    }
    &__balance {
      font-size: $text-size;
    }
    &__profit {
      font-size: $text-size;
    }
    &__chart {
      width: $chart-width;
      flex-grow: 1;
      margin-right: $padding;
    }
    &__balance {
      font-size: $text-size;
    }
    &__table {
      & table {
        td {
          font-size: $text-size;
        }
      }
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding: $padding;
    padding-right: $padding - $padding/2;
    &__card {
      min-width: $program-width;
      width: calc(50% - #{$padding}/ 2);
      margin-right: $padding/2;
    }
  }
  @include media-breakpoint-tablet() {
    &__card {
      flex-grow: 0;
    }
  }
  @media (min-width: 1075px) {
    &__card {
      width: calc(33.33% - #{$padding}/ 2);
    }
  }
  @include media-breakpoint-landscape-tablet() {
    &__table {
      &--title {
        width: 45%;

        &:first-child {
          width: 30%;
        }

        &:nth-child(2) {
          width: 25%;
        }
      }
    }
  }
  @media (min-width: 1360px) {
    &__card {
      width: $program-width;
    }
  }
}

.programs-table__cell {
  padding: $padding-xsmall/2 $padding-xsmall;
  &--avatar-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .program-avatar {
      min-width: 40px;
    }
  }
  &--title {
    word-break: break-all;
    min-width: 100px;
    max-width: 1programs-cards70px;
    padding: 0;
    div {
      padding: $padding/10;
    }
    .gv-btn {
      padding: 0;
    }
  }
  &--bottom {
    opacity: 0.3;
  }
  &--chart {
    min-width: 100px;
    max-width: 200px;
  }
}

.program-detailed {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    &--inner {
      width: 100%;
    }
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    background: $secondary-color;
    padding: $padding/1.5;
    border-radius: $border-radius 0 0 $border-radius;
    min-width: 218px;
  }

  &__collapse {
    background-color: $secondary-color;
    border-radius: 0 $border-radius $border-radius 0;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__collapse-icon {
    width: 15px;
  }

  &__avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $padding/1.5;
    &--name {
      margin-left: $padding/2;
    }
    & .program-avatar__level {
      border-color: $secondary-color !important;
    }
  }

  &__title {
    font-size: $title-text-size/1.5;
    letter-spacing: 0.2px;
    margin-bottom: $padding/2.5/1.5;
    .gv-btn {
      padding: 0;
    }
  }

  &__manager {
    font-size: $text-size/1.5;
    letter-spacing: 0.2px;
    color: $primary-color;
    word-break: break-all;
    .gv-btn {
      padding: 0;
    }
  }

  &__strategy {
    font-size: $text-size/1.5;
    line-height: 1.85;
    letter-spacing: 0.4px;
    color: #fff;
    margin-bottom: $padding/2/1.5;
    font-weight: 600;
  }

  &__description {
    font-size: $text-size/1.5;
    line-height: 1.85;
    letter-spacing: 0.4px;
    color: #fff;
    max-height: 300px;
    word-break: break-all;
    white-space: pre-wrap;
  }

  &__chart {
    height: 50%;
    min-height: 250px;
  }

  &__statistic {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    padding: $padding/1.5;
    width: 100%;
    background-color: #212c34;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__statistic-data,
  &__bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__favorites-block,
  &__favorites-block span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: $padding/4;
    span {
      svg {
        margin: 0 10px;
      }
    }
  }

  &__statistic-data {
    margin-bottom: $padding;
    &--label {
      opacity: 0.3;
      font-size: $text-size/1.5;
      padding: $padding/3 4px;
    }
    &--value {
      font-size: $text-size/1.5;
      padding: 0 4px;
      &--positive {
        color: $positive-color;
      }
    }
  }

  @include media-breakpoint-landscape-phone() {
    &__info {
      padding: $padding;
    }
    &__avatar {
      margin-bottom: $padding;
    }
    &__strategy {
      margin-bottom: $padding/2;
    }
    &__title {
      font-size: $title-text-size;
    }

    &__manager {
      font-size: $text-size;
    }

    &__strategy {
      font-size: $text-size;
    }

    &__description {
      font-size: $text-size;
      //width: $description-block-width;
    }
    &__avatar__img {
      height: 80px;
      width: 80px;
    }
    &__statistic {
      padding: $padding;
    }
    &__statistic-data {
      &--label {
        font-size: $text-size;
      }
      &--value {
        font-size: $text-size;
      }
    }
    &__statistic-data {
      margin-bottom: $padding * 2;
    }
    &__favorites-block {
      margin-bottom: $padding/3;
    }
  }
}

.popover-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
