@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.pi-info {
  display: flex;
  order: 1;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 400px;
  max-width: 400px;
  min-width: 300px;

  @include media-breakpoint-desktop() {
    max-width: 380px;
  }
}

.pi-info__order {
  font-size: 1.4rem;
  @include media-breakpoint-phone() {
    font-size: 1rem;
  }
}

.pi-info__image {
  position: relative;
  width: 100px;
  margin: 0 0.5rem;
  text-align: center;
  @include media-breakpoint-phone() {
    margin: 0.5rem;
    width: 62px;
  }
}

.pi-info__name {
  max-width: 14rem;
}

.pi-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pi-name__title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;
}

.pi-name__link {
  font-size: 1.6rem;
  line-height: 1.1;
  color: $text-color;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pi-name__description {
  font-size: 0.9em;
  color: $text-sub-color;
  line-height: 1.2;
  height: 4rem;
  width: 225px;
  overflow: hidden;
  word-wrap: break-word;
  @include media-breakpoint-phone() {
    height: initial;
  }
}

.pi-name__eop {
  display: flex;
  align-items: center;
  color: $text-sub-color;
  max-width: 12rem;
}
