@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.profile {
  &__form-error {
    @include adaptive-padding(bottom, $padding-xsmall);
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    & div {
      @include adaptive-padding(right, $padding-small);
    }
  }

  &__edit-link {
    display: flex;
    margin-bottom: 45px;
  }

  &__file {
    margin-bottom: 15px;
  }
  &__container {
    width: 100%;
    overflow: auto;

    &--padding-top {
      @include adaptive-padding(top, $padding-medium);
    }
  }
  &__left {
    position: relative;
  }

  &__center {
    width: 100px;
  }

  &__row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__content &__right {
    padding-bottom: 30px;
  }

  &__stick {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    &::after {
      content: "";
      display: flex;
      width: 1px;
      background-color: $secondary-background-color;
      height: 100%;
    }
  }

  &__subtitle {
    display: inline-flex;
    flex-shrink: 0;
    padding: 20px 0;
  }
}
