.gv-tabs {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &--title {
    .gv-tab--active {
      cursor: default;
      &::after {
        border-bottom: 0;
      }
    }
  }
}
