@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

$header-height: 44px + $padding-xsmall * 2;

.trade-layout {
  &__wrapper {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__header {
    box-sizing: border-box;
    height: $header-height;
    @include adaptive-full-padding($padding-xsmall);
  }
  &__main {
    box-sizing: border-box;
    height: calc(100% - #{$header-height});
  }
}
