@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.password-restore {
  display: flex;
  flex-direction: column;

  &__block {
    max-width: 400px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: $text-color;
    width: 290px;
    margin-bottom: $padding-xxsmall;
  }

  &__navigation {
    margin-top: auto;
  }
}
