@import "styles/_sizes";
@import "styles/_breakpoint";
@import "styles/_constants";

$desktop-center-width: 60%;
$desktop-side-block-width: calc((100% - #{$desktop-center-width}) / 2);

$tablet-center-width: 70%;
$tablet-side-block-width: calc(100% - #{$tablet-center-width});

.social-page {
  &__main-container {
    justify-content: space-between;
  }

  &__feed-container {
    width: 100%;
    @include media-breakpoint-landscape-tablet() {
      width: $tablet-center-width;
    }
    @include media-breakpoint-desktop() {
      width: $desktop-center-width;
    }
  }

  &__side-block {
    position: relative;
    @include media-breakpoint-landscape-tablet() {
      width: $tablet-side-block-width;
    }
    @include media-breakpoint-desktop() {
      width: $desktop-side-block-width;
    }
  }

  &__sticky {
    position: sticky;
    top: $padding-xsmall;
  }

  &__search-button {
    cursor: pointer;
  }

  &__tabs-container {
    overflow: hidden;
    @include transition();
    width: 100%;
    &--search {
      width: 0;
    }
  }

  &__search-container {
    height: 34px;
    width: 40px;
    @include transition();
    &--search {
      width: 100%;
    }
  }
}
