@import "styles/_colors.scss";

.reset-password {
  &__title {
    width: 164px;
    margin-bottom: 50px;
  }

  &__text {
    color: $text-color-grey;
    width: 290px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
