@import "~shared/styles/_colors";
@import "~shared/styles/breakpoint";
@import "../../styles/mixins";
@import "../../styles/grid";

.tab-controls {
  @include reset-list();

  &__item {
    @include transition(opacity, filter);
    filter: grayscale(100%);
    opacity: 0.5;
    line-height: 1.6;
    display: flex;
    align-items: center;

    @include media-breakpoint-landscape-tablet() {
      margin-bottom: 40px;
    }

    @include media-breakpoint-desktop() {
      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
    }

    &--active {
      opacity: 1;
      filter: grayscale(0%);
    }
  }

  &__item-btn {
    @include reset-button();
    width: 100%;
  }

  &__item-img {
    max-height: 100%;
    width: 100%;
    display: block;

    @include media-breakpoint-landscape-tablet() {
      max-width: 170px;
    }

    //@include media-breakpoint-desktop() {
    //  max-width: 200px;
    //}
  }
}
