@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";
@import "styles/_sizes.scss";

.fund-details-description {
  & .asset {
    background: rgba(216, 216, 216, 0.05);
    height: 50px/$divider-title;
    //min-width: 240px/$divider-text;
    padding: 15px/$divider-padding;
    justify-content: space-between;
    &--others-count {
      min-width: auto;
      background: rgba(216, 216, 216, 0.1);
    }
    @include media-breakpoint-landscape-phone() {
      height: 50px;
      padding: 15px;
      min-width: 240px;
      &--others-count {
        min-width: auto;
      }
    }

  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__avatar {
    cursor: pointer;
    .program-avatar {
      justify-content: flex-start;
      width: $avatar-size-mobile;
      height: $avatar-size-mobile;
      margin: 0;
    }
  }

  &__right {
    & .gv-btn--text {
      padding: 0;
      font-size: 13px;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }

  &__notification-icon {
    opacity: 0.3;
  }

  &__main {
    width: 100%;
    padding: 0 $padding-large-mobile;
  }

  &__heading {
    font-size: $font-size-title-mobile;
    font-weight: 600;
    color: $text-light-color;
    padding-bottom: $padding-very-large-mobile;
    padding-top: $padding-middle-mobile;
  }

  &__author-btn {
    padding: 0;
    font-size: 13px;
    letter-spacing: 0.19px;
  }

  &__info {
  }

  &__invest-button-container {
    padding: $padding-middle-mobile 0;
  }

  &__subheading {
    font-size: $font-size-large-mobile;
    font-weight: bold;
    padding-bottom: $padding-middle-mobile;
    letter-spacing: 0.21px;
  }

  &__info-block {
    padding-bottom: $padding-small-mobile;
  }

  &__short-statistic-subheading {
    margin-bottom: $padding-small-mobile/2;
  }

  &__text {
    font-size: $font-size-middle-mobile;
    line-height: $font-size-middle-mobile*2;
    letter-spacing: 0.2px;
    text-align: left;
    color: $text-color;
  }

  &__invest-btn {
    font-size: $font-size-middle-mobile;
    letter-spacing: 0.3px;
    font-weight: 600;
    box-sizing: border-box;
    width: $btn-width-mobile;
    height: $btn-height-mobile;
  }

  &__reinvest {
    letter-spacing: 0.3px;
    font-weight: 600;
  }

  &__short-statistic {
    display: flex;
    justify-content: flex-start;

    &-item {
      margin-right: $padding-middle-mobile;
      letter-spacing: 0.44px;
      font-size: $font-size-middle-mobile;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      &:last-child {
        margin-right: 0;
      }
    }

    &-subheading {
      color: $label-color;
      font-size: $font-size-middle-mobile;
      letter-spacing: 0.43px;
      font-weight: normal;
    }
  }

  &__control {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $label-color;
    .icon path {
      stroke: $label-color;
    }
    &:hover {
      path {
        stroke: $text-accent-color;
      }
    }
    &-icon, &-text {
      padding: $padding-small-mobile $padding-small-mobile/2;
    }
    &-icon {
      //width: $icon-size-mobile;
      //height: $icon-size-mobile;
    }
    &-text {
      font-size: $font-size-small-mobile;
      font-weight: 300;
      opacity: 0.4;
      letter-spacing: 0.3px;
      color: $main-color;
      text-align: center;
    }
  }
  @include media-breakpoint-landscape-phone() {
    &__avatar {
      .program-avatar {
        width: $avatar-size;
        height: $avatar-size;
        margin: 0;
      }
    }
    &__main {
      padding: 0 $padding-large;
    }
    &__heading {
      font-size: $font-size-title;
      padding-bottom: $padding-very-large;
      padding-top: $padding-middle;
    }
    &__subheading {
      font-size: $font-size-large;
      padding-bottom: $padding-middle;
    }
    &__info-block {
      padding-bottom: $padding-middle;
    }
    &__text {
      font-size: $font-size-middle;
      line-height: $font-size-middle*2;
    }
    &__invest-button-container {
      padding: $padding-middle 0;
    }
    &__short-statistic-subheading {
      margin-bottom: $padding-small/2;
    }
    &__invest-btn {
      font-size: $font-size-middle;
      width: $btn-width;
      height: $btn-height;
    }
    &__short-statistic {
      &-item {
        margin-right: $padding-middle;
        font-size: $font-size-middle;
      }
      &-subheading {
        font-size: $font-size-middle;
      }
    }
    &__control {
      &-icon, &-text {
        padding: $padding-small/2 $padding-small;
        white-space: nowrap;
      }
      &-icon {
        width: $icon-size;
        height: $icon-size;
      }
      &-text {
        font-size: $font-size-small;
      }
    }
  }
}
