.notification-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;

  .gv-switch-wrapper {
    display: inline-flex;
    align-items: center;
    margin: 0 20px 0 0;
  }

  &__label {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
  }
}
