@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.dashboard-recommendations-card {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  &__button {
    width: 100%;
  }
  &__avatar {
    padding-left: $padding-small/2;
  }
  &__title {
    display: block;
    font-size: $font-size-paragraph;
    color: $text-accent-color;
    letter-spacing: 0.23px;
    line-height: 22px;
  }
  &__title-wrapper {
    padding-right: $padding-small;
    box-sizing: border-box;
  }
  &__type {
    font-size: $font-size-small;
    margin-bottom: 10px;
    opacity: 0.3;
    color: $text-accent-color;
    letter-spacing: 0.4px;
    text-transform: lowercase;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &__chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__profit-percent {
    margin-bottom: 8px;
  }
  &__profit {
    font-size: $font-size-common;
    letter-spacing: 0.28px;
  }
  &__button {
    width: 100%;
  }
  &__chart {
    width: 125px;
    height: 60px;
    margin-right: $padding-xsmall;
  }
}
