@import "styles/_colors.scss";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: 0 0.25rem 0.75rem rgba($main-color, 0.05);
  border-right: 1px solid rgba($main-color, 0.2);
}

.sidebar--sticky {
  position: relative;
  top: 57px;
  height: calc(100vh - 57px);
  padding-top: 1rem;
  overflow-x: hidden;
}

.sidebar__item {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  .nav-link {
    color: $text-color;
    &.active {
      color: $text-color-light;
    }
  }
}
