@import "styles/_colors.scss";

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: white;
  border-right: 1px solid $border-color;
  height: calc(100vh - 60px);
}

.sidebar__item {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin: 0.5rem 0;
  &:first-child {
    margin-top: auto;
  }
  &:last-child {
    justify-self: end;
    margin-top: auto;
    margin-bottom: 0;
  }
  .nav-link {
    color: $text-color;
    box-sizing: content-box;
    border-left: 4px solid transparent;
    &.active {
      border-left: 4px solid;
      color: $text-color-light;
    }
  }
}
