@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: white;
  border-right: 1px solid $border-color;
  height: calc(100vh - 70px);
}

.sidebar__item {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin: 0.5rem 0;
  &:first-child {
    margin-top: auto;
  }
  &:last-child {
    justify-self: end;
    margin-top: auto;
    margin-bottom: 0;
  }
  .nav-link {
    color: $inactive-icon-color;
    box-sizing: content-box;
    padding: 1.3rem 1rem;
    border-left: 4px solid transparent;

    @include media-breakpoint-phone() {
      color: $text-color;
    }

    &:hover {
      .dashboard,
      .wallet {
        fill: $text-color-light;
      }
      .settings,
      .traders {
        stroke: $text-color-light;
      }
    }
    &.active {
      border-left: 4px solid;
      color: $text-color-light;
      .dashboard,
      .wallet {
        fill: $text-color-light;
      }
      .settings,
      .traders {
        stroke: $text-color-light;
      }
    }
  }
}
