.dashboard-programs {
  &__cell {
    &--avatar-title {
      display: flex;
      align-items: center;
    }
    &--title {
      width: 22%;
      .gv-btn {
        padding: 5px;
      }
    }
    &--share {
      width: 10%;
    }
    &--currency {
      width: 10%;
    }
    &--period {
      width: 10%;
    }
    &--value {
      width: 10%;
    }
    &--profit {
      width: 10%;
    }
    &--chart {
      width: 15%;
      max-width: 200px;
    }
    &--status {
      width: 13%;
    }
  }
}
