@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.statistics-item {
  display: flex;
  flex-direction: column;
  padding-right: $padding-xsmall-mobile;
  padding-bottom: $padding-big-mobile;

  &--half {
    width: 70px;
    @include media-breakpoint-landscape-phone() {
      padding-right: 0;
      width: auto;
      box-sizing: border-box;
    }
  }

  &__label {
    color: $label-color;
    font-size: $font-size-common-mobile;
    letter-spacing: 0.4px;
    margin-bottom: $padding-xsmall-mobile;
    font-weight: normal;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-common;
      margin-bottom: $padding-xsmall/2;
    }
  }

  &__value {
    font-size: $font-size-paragraph-mobile;
    letter-spacing: 0.6px;
    white-space: nowrap;
    &--accent {
      font-weight: 600;
    }
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-paragraph;
    }
    &--big {
      display: flex;
      align-items: center;
      font-size: $font-size-h2-mobile;
      letter-spacing: 0.3px;
      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-h2;
        letter-spacing: 0.4px;
      }
    }
    &--large {
      display: flex;
      align-items: center;
      font-size: $font-size-h1-mobile;
      letter-spacing: 0.3px;
      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-h1;
        letter-spacing: 0.4px;
      }
    }
  }

  &--small{
    & > .details-statistics-item__label{
      font-size: $font-size-small-mobile;
      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-small;
      }
    }

    & > .details-statistics-item__value{
      font-size: $font-size-common-mobile;
      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-common;
      }
    }
  }

  &__equivalent {
    font-size: $font-size-common-mobile;
    letter-spacing: 0.3px;
    color: $label-color;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-common;
      letter-spacing: 0.3px;
      color: $label-color;
    }
  }
}
