@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.dialog {
  position: relative;
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  background-color: $secondary-background-color;
  z-index: 1300;
  max-height: calc(100vh - 100px);
  overflow: auto;

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
      font-size: 14px;
      font-weight: 300;
      opacity: 0.5;
      margin-bottom: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 44px;
      }
    }
  }

  &__info {
    margin-top: 35px;
    font-size: 11px;
    opacity: 0.5;
    line-height: 1.64rem;
  }

  &__top,
  &__bottom {
    padding: 30px;
  }

  &__bottom {
    background-color: rgba(255, 255, 255, 0.02);
  }

  &__close {
    position: absolute;
    outline: none;
    background: transparent;
    border: none;
    color: white;

    &--inside {
      right: 10px;
      top: 15px;
    }

    &--outside {
      display: none;
      top: 10%;
      right: 10%;
    }

    @include media-breakpoint-tablet() {
      &--inside {
        display: none;
      }

      &--outside {
        display: inherit;
      }
    }
  }

  &__header {
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 11px;
    }
    p {
      font-size: 13px;
      font-weight: 300;
    }
  }

  &-field {
    margin-top: 30px;
    font-weight: 300;

    &__description {
      font-size: 13px;
      opacity: 0.5;
      margin-bottom: 12px;
    }

    &__value {
      font-size: 24px;
    }
  }

  .gv-text-field__wrapper {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  &__buttons {
    display: flex;

    .gv-btn {
      flex: 1 1 100%;
    }

    .gv-btn + .gv-btn {
      margin-left: 16px;
    }
  }

  .form-error {
    margin-bottom: 20px;
    font-size: 13px;
  }
}
