@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.broker-select {
  align-items: flex-start;

  &__list {
    justify-content: flex-start;
    align-content: flex-start;
  }

  &__description {
    @include line-height($font-size-paragraph * 1.9);
    &#{&} div {
      white-space: normal;
    }

    @include media-breakpoint-landscape-phone() {
      max-width: 300px;
    }
  }
}
