@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.broker-select {
  margin-top: $padding-upper-medium;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include media-breakpoint-landscape-phone() {
    flex-direction: row;
  }

  &-container {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-width: 280px;

    @include media-breakpoint-landscape-phone {
      margin-right: 1%;
      padding: 0;
    }

    @include media-breakpoint-tablet() {
      margin-right: 4%;
      min-width: 324px;
      width: 59%;
    }

    @include media-breakpoint-desktop() {
      min-width: 352px;
      margin-right: 6%;
    }
  }

  &__description {
    @include line-height($font-size-paragraph * 1.9);
    &#{&} div {
      white-space: normal;
    }
    width: 100%;

    @include media-breakpoint-landscape-phone() {
      max-width: 300px;
    }
  }

  &__navigation {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
}
