.order-book {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__table-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    &--reverse {
      justify-content: flex-end;
    }
  }
  &__tables-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  &__table {
    border-spacing: 0;
  }
  &__table-row {
    cursor: pointer;
    &--hovered {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
