@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-chart-loader {
  &__header {
    width: 100%;
    position: relative;

    .svg-loader {
      max-width: 80%;
      height: auto;

      @include media-breakpoint-landscape-phone() {
        max-width: none;
      }
    }
  }

  &__row {
    @include horizontal-paddings($padding-small, 2);
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .svg-loader {
      max-width: 80%;
      height: auto;

      @include media-breakpoint-landscape-phone() {
        max-width: none;
      }
    }

    &--stats {
      width: auto;

      .svg-loader {
        max-width: 100%;
        height: 100%;
      }

      @include media-breakpoint-tablet() {
        padding-right: 0;
      }
    }
  }

  &__stat {
    padding-bottom: $padding-xsmall;
    padding-top: 10px;
    line-height: 0;
    width: 176px;

    @include media-breakpoint-landscape-phone() {
      width: auto;
      padding-top: 0;
    }

    @include media-breakpoint-tablet() {
      padding-right: 30px;
    }

    @include media-breakpoint-landscape-tablet() {
      width: auto;
    }
  }

  &__chart {
    overflow: hidden;
    margin-top: 20px;
    height: 380px;

    .svg-loader {
      min-width: 800px;
      min-height: 380px;
    }

    @include media-breakpoint-landscape-phone() {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .svg-loader {
        min-width: 800px;
      }
    }

    @include media-breakpoint-landscape-tablet() {
      .svg-loader {
        min-width: 1000px;
        width: 100%;
      }
    }
  }

  &__request {
    .svg-loader {
      max-width: 80%;
    }

    @include media-breakpoint-landscape-phone() {
      padding-bottom: $padding-xsmall;

      .svg-loader {
        max-width: none;
      }
    }
  }

  &__assets {
    @include horizontal-paddings($padding-small, 2);
    padding-bottom: 10px;
  }

  &__chart-period {
    @include adaptive-padding(bottom, $padding-small);
    line-height: 0;
    width: 50%;
    padding-right: 10px;
    margin-top: 30px;

    .svg-loader {
      max-width: 100%;
    }

    &:last-child {
      padding-right: 0;
      text-align: right;
      padding-left: 10px;
    }

    @include media-breakpoint-tablet() {
      margin-bottom: 25px;
    }

    @include media-breakpoint-landscape-tablet() {
      margin-bottom: 0;

      .svg-loader {
        width: auto;
      }
    }
  }

  &__description {
    @include horizontal-paddings($padding-small, 2);
    @include adaptive-padding(bottom, $padding-xsmall);
    width: 50%;

    .svg-loader {
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-landscape-phone() {
      width: 100%;

      .svg-loader {
        width: auto;
      }
    }
  }
}
