@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-trading {
  &__values {
    @include details-block-horizontal-paddings();
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__disable-button {
    color: $label-color;
  }
  &__button {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: $padding-xsmall;
    }

    & .gv-btn {
      font-size: $font-size-paragraph-mobile;
      font-weight: 600;
      padding: 0;
      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-paragraph;
      }
    }
  }
}
