@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.login {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 100vh;
  margin: auto;
  margin-top: 5rem;
  @include media-breakpoint-phone() {
    margin-top: 2rem;
  }
}

.login__header {
  font-size: 1.5rem;
  font-family: "NeuzeitGroBol";
  align-self: center;
  margin: 2rem 0;
}

.login__forgot-passowrd {
  align-self: flex-end;
  color: $text-color;
  margin-bottom: 0.5rem;
  &:hover {
    text-decoration: none;
  }
}

.login__recovery-link {
  text-align: left;
  padding: 0;
}

.login__btn {
  margin-top: 0.5rem;
}

.login__separator {
  border-top: 1px dashed $border-color;
  margin: 2rem 0;
}
