@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

.wallet-balance {
  color: $text-color;
  padding: 0 18px;

  &__heading {
    font-size: 32px;
    margin: 0 0 30px;
  }

  &__statistic {
    display: block;
  }

  &__statistic-item {
    display: inline-flex;
    flex-direction: column;
    margin-right: 40px;

    &:first-child {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__statistic-heading {
    font-size: 13px;
    letter-spacing: 0.1px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__total-balance-value {
    font-size: 26px;
    letter-spacing: 0.3px;
    font-weight: 400;
    margin-bottom: 6px;
  }

  &__statistic-value {
    font-size: 22px;
    letter-spacing: 0.3px;
    font-weight: 400;
    margin-bottom: 6px;
  }

  &__statistic-equivalent {
    font-size: 13px;
    letter-spacing: 0.3px;
    color: $label-color;
  }

  &__footer {
    display: block;
    margin-top: 40px;
  }

  &__add-funds {
    box-sizing: border-box;
    height: 45px;
    width: 135px;
    letter-spacing: 0.3px;
    font-size: 13px;
    margin-bottom: 30px;
    margin-right: 20px;
  }

  &__withdraw {
    box-sizing: border-box;
    height: 45px;
    width: 135px;
    letter-spacing: 0.3px;
    font-size: 13px;
  }

  @include media-breakpoint-landscape-phone() {
    display: block;

    &__heading {
      margin-bottom: 50px;
    }

    &__statistic-item {
      display: inline-flex;
      justify-content: start;
      align-items: start;
      margin-bottom: 0;
      margin-right: 70px;

      &:first-child {
        width: auto;
        margin-bottom: 0;
      }
    }

    &__statistic-heading {
      margin-bottom: 16px;
    }

    &__total-balance-value {
      font-size: 32px;
      letter-spacing: 0.4px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    &__statistic-value {
      font-size: 26px;
      letter-spacing: 0.4px;
      font-weight: 600;
      margin-bottom: 12px;
      margin-top: 6px;
    }

    &__footer {
      display: block;
      margin-top: 66px;
    }

    &__add-funds {
      margin-right: 30px;
      margin-bottom: 0;
      font-weight: 600;
    }

    &__withdraw {
      font-weight: 600;
    }
  }

  @include media-breakpoint-tablet() {
    padding: 0 32px;
  }
}
