@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.reset-password {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  margin-top: 5rem;
  @include media-breakpoint-phone() {
    margin-top: 2rem;
  }
}

.reset-password__header {
  font-size: 1.5rem;
  font-family: "NeuzeitGroBol";
  align-self: center;
  margin: 2rem;
}

.reset-password__btn {
  margin-top: 0.5rem;
}

.reset-password__btn-back {
  margin-right: 10px;
}

.reset-password__navigation {
  margin-top: 40px;
}
