@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

.deposit-details {
  &__deposit-amount {
    &-title {
      color: $label-color;
      margin-bottom: 14px;
    }

    &-value {
      @include font-size($font-size-h2);
      letter-spacing: 0.4px;
    }
  }

  &__available-amount {
    @include font-size($font-size-common);
    white-space: nowrap;
    margin-top: 4px;
    letter-spacing: 0.4px;

    &-value {
      color: $text-accent-color;
      margin-right: 8px;
      margin-left: 4px;
      font-weight: 600;
      &--error {
        color: #eb3b5a;
      }
    }

    & .icon--refresh {
      position: relative;
      top: 6px;
      cursor: pointer;
    }
  }
}
