@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.form-text-field {
  &__text {
    width: 100%;
    line-height: 24px;

    @include media-breakpoint-landscape-phone() {
      max-width: 500px;
    }
    &--color-accent {
      color: $primary-color;
    }
  }
}
