@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.form-text-field {
  &__container {
    width: 100%;
  }
  &__text {
    @include adaptive-padding(bottom, $padding-xsmall);
    line-height: 24px;

    @include media-breakpoint-landscape-phone() {
      max-width: 500px;
    }

    &--padding-top {
      @include adaptive-padding(top, $padding-xsmall);
    }
    &--color-accent {
      color: $primary-color;
    }
  }
}
