@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-history {
  &__heading {
    @include horizontal-paddings($padding-small);
    letter-spacing: 0.2px;
  }

  &__subheading {
    font-size: $font-size-paragraph-mobile;
    padding-bottom: $padding-xsmall-mobile;
    padding-left: $padding-small-mobile;
    letter-spacing: 0.2px;
    font-weight: 600;
    @include media-breakpoint-landscape-phone() {
      padding-bottom: $padding-xsmall;
      padding-left: $padding-small;
      font-size: $font-size-paragraph;
    }
  }

  &__tabs {
    padding: 0 $padding-small-mobile;
    @include media-breakpoint-landscape-phone() {
      padding: 0 $padding-small;
    }
  }
}
