@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.details-history {
  &__header {
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }

  &__heading {
    padding-bottom: 0;
  }

  &__subheading {
    @include font-size($font-size-paragraph);
    letter-spacing: 0.2px;
    font-weight: 600;
  }
}
