@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

.program-search-programs {
  //display: flex;
}

.program-search-program {
  display: flex;
  color: $main-color;
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
  &__avatar {
    min-width: 70px;
    width: 70px;
    height: 70px;
    @include media-breakpoint-tablet() {
      min-width: 48px;
      width: 48px;
      height: 48px;
    }

    .program-avatar__label {
      font-size: 0.8rem;
      height: 18px;
      width: 18px;
    }
  }

  &__info {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-left: 1rem;
  }

  &__name {
    word-break: break-all;
    word-wrap: break-word;
    font-family: NeuzeitGroBol;
    font-size: 1.4rem;
    line-height: 1;
    @include media-breakpoint-tablet() {
      font-size: 1.2rem;
    }
  }

  &__statistic {
    display: flex;
    justify-content: space-between;

    .metric {
      align-items: flex-start;
      font-size: 0.8rem;

      &__value {
        justify-content: flex-start;
        @include media-breakpoint-tablet() {
          min-width: 2em;
        }
      }
    }
  }
}
