@import "~shared/styles/_sizes";

.convert-field {
  &__arrow {
    @include horizontal-paddings($padding-xxsmall);
    display: inline-block;
    border: 1px solid transparent;
    height: 16.5px;
    font-family: "Times New Roman", sans-serif;
  }
}
