@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.wallet-transactions {
  &__cell {
    cursor: pointer;

    &--date {
      min-width: 150px;
    }
    &--information {
      min-width: 300px;
      white-space: normal;
    }
    &--amount {
      min-width: 140px;
      display: flex;
      justify-content: flex-end;
    }
  }

  & .table__cell:last-child {
    text-align: right;
  }
}
