@import "styles/_colors.scss";

.notifications {
  &__group:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  &__title {
    letter-spacing: 1px;
    margin: 30px 0;
    color: $text-dark-color;
    font-size: 11px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.notification {
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: 0.2px;
  }
  &__date {
    font-size: 13px;
    margin-bottom: 30px;
    color: $text-dark-color;
    letter-spacing: 0.4px;
  }
}
