%border-icon {
  position: absolute;
  right: 0;
  bottom: 5px;
  content: "";
  border-top: 1px solid white;
}

.sorting-header {
  cursor: pointer;
  opacity: 0.3;
  &:hover {
    opacity: 0.5;
  }
  &--asc,
  &--desc {
    opacity: 1;
    position: relative;
    padding-right: 15px;
    &:hover {
      opacity: 1;
    }

    &::before {
      @extend %border-icon;
      height: 5px;
    }
    &::after {
      @extend %border-icon;
    }
  }

  &--desc {
    &::before {
      width: 10px;
    }
    &::after {
      width: 5px;
    }
  }

  &--asc {
    &::before {
      width: 5px;
    }
    &::after {
      width: 10px;
    }
  }
}
