@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";

$tag-vertical-margin: $padding-xxsmall/2;
$tag-button-vertical-margin: $padding-xxxsmall/2;

.tag-filter {
  @include vertical-paddings($tag-button-vertical-margin);

  .filter__value {
    padding-left: 0;
  }
}
