@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.wallet-transactions {
  margin-top: 80px;

  &__row:nth-child(2n + 1) {
    background-color: $table-background-subcolor;
  }

  & .table__title {
    font-size: 16px;
    letter-spacing: 0.1px;
    color: $text-light-color;
  }

  & .table__toolbar {
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  & .table__filters {
    margin-left: 0;
  }

  & .table__row {
    padding: 0 32px;
  }

  & .table__row .table__cell:last-child {
    padding-right: 36px;
  }

  &__cell {
    color: $text-light-color;

    &--date {
      width: 25%;
      min-width: 200px;
    }
    &--information {
      width: 51%;
      min-width: 300px;
    }
    &--status {
      width: 13%;
      min-width: 110px;
    }
    &--amount {
      width: 13%;
      min-width: 140px;
    }
  }

  & .filter {
    &__label {
      color: $short-statistic-notice-color;
    }

    &__value {
      color: $text-light-color;
    }
  }

  & .icon.icon--actions-circle {
    cursor: pointer;
  }

  @include media-breakpoint-tablet() {
    & .table__filters {
      margin-left: 20px;
      margin-top: 0;
    }

    & .table__toolbar {
      padding: 40px 32px 32px;
      flex-direction: row;
    }
  }
}
.wallet-transaction-actions{
  &__disabled-actions{
    opacity: 0.4;
    &.icon.icon--actions-circle {
      cursor: auto;
    }
  }
}
