@import "styles/_colors.scss";

.wallet-transactions {
  .table__title {
    font-size: 16px;
    letter-spacing: 0.1px;
    color: $text-light-color;
  }

  .table__toolbar {
    padding: 40px 32px;
  }

  .table__row {
    padding: 0 32px;
  }

  &__cell {
    color: $text-light-color;

    &--date {
      width: 33%;
      min-width: 168px;
    }
    &--type {
      width: 40%;
      min-width: 230px;
    }
    &--amount {
      width: 27%;
      min-width: 110px;
    }
  }

  & .filter {
    &__label {
      color: $short-statistic-notice-color;
    }

    &__value {
      color: $text-light-color;
    }

    &__arrow {
      stroke: $short-statistic-subheading-color;
    }
  }
}

.wallet-transactions-container {
  margin-top: 80px;
}
