@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.wallet-transactions {
  margin-top: 80px;

  &__row:nth-child(2n + 1) {
    background-color: $table-background-subcolor;
  }

  & .table__title {
    font-size: 16px;
    letter-spacing: 0.1px;
    color: $text-light-color;
  }

  & .table__toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  & .table__filters {
    margin-top: 16px;
    margin-left: 0;
  }

  & .table__row {
    padding: 0 32px;
  }

  &__cell {
    color: $text-light-color;

    &--date {
      width: 33%;
      min-width: 180px;
    }
    &--type {
      width: 40%;
      min-width: 230px;
    }
    &--amount {
      width: 27%;
      min-width: 110px;
    }
  }

  & .filter {
    &__label {
      color: $short-statistic-notice-color;
    }

    &__value {
      color: $text-light-color;
    }
  }

  & .icon.icon--actions-circle {
    cursor: pointer;
  }

  @include media-breakpoint-tablet() {
    & .table__filters {
      margin-left: 20px;
      margin-top: 0;
    }

    & .table__toolbar {
      padding: 40px 32px 32px;
      flex-direction: row;
    }
  }
}
