@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_breakpoint.scss";

.broker-card {
  @include adaptive-margin(right, $padding-upper-medium/2);
  @include adaptive-margin(bottom, $padding-upper-medium/2);
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid $panel-background-color;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;

  &--active {
    background-color: $panel-background-color;
  }

  &--inactive {
    overflow: hidden;
    cursor: not-allowed;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.008);
    }

    .broker-card__logo {
      opacity: 0.2;
    }
  }

  &__adornment-text {
    font-size: 11px;
    color: $text-color;
    letter-spacing: 0.14px;
    font-weight: 600;
    opacity: 0.3;
    position: absolute;
    bottom: $padding-xsmall;
    display: flex;
    justify-content: space-between;
    padding-left: $padding-small/2;
    padding-right: $padding-small/2;
    width: 100%;
    box-sizing: border-box;
  }

  &__logo {
    width: 70%;
    height: auto;
  }

  &__selected-mark {
    display: inline-flex;
    justify-content: center;
    line-height: 34px;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: $primary-color;
    color: $text-light-color;
    content: "&#10004;";
    top: -8px;
    right: -8px;
  }

  &__tags {
    position: absolute;
    top: $padding-upper-medium/2;
    padding-left: $padding-small/2;
    padding-right: $padding-small/2;
    width: 100%;
  }

  @include media-breakpoint-landscape-phone() {
    border-radius: 10px;
    width: 137px;
    height: 137px;
  }

  @include media-breakpoint-desktop() {
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }
}
