@import "styles/_colors.scss";

.chip {
  height: 32px;
  min-width: 32px;
  border-radius: 8px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 13px;
  background-color: $secondary-background-color;

  &--negative {
    color: $negative-color;
    background-color: rgba($negative-color, 0.1);
  }

  &--positive {
    color: $primary-color;
    background-color: rgba($primary-color, 0.1);
  }

  &--pointer {
    cursor: pointer;
  }

  &--round {
    border-radius: 100%;
  }
}
