@import "~shared/styles/_sizes";

.social-page-traders {
  height: 500px;
  overflow: scroll;
  padding-right: $padding-xxsmall;

  &__item {
    width: 100%;
  }

  &__avatar-name {
    @include font-size($font-size-common);
    cursor: pointer;
  }
}
