@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.referral-program {
  &__share-buttons {
    @include adaptive-padding(top, $padding-xxsmall);
    display: flex;
    .at-share-btn {
      margin-right: 10px !important;
    }
    &--email {
      line-height: 32px;
      height: 32px;
      width: 32px;
      background-color: rgb(132, 132, 132);
      border-radius: 26px;
      transition: 150ms ease-in-out;
      &:hover {
        transform: translate(0, -5px);
      }
    }
  }
  &__table {
    margin-bottom: $padding-xsmall;
    &:not(:last-child) {
      @include media-breakpoint-landscape-phone() {
        margin-right: $padding-xsmall;
      }
    }
  }
  &__tables {
    justify-content: stretch;
    flex-direction: column;
    @include media-breakpoint-landscape-phone() {
      flex-direction: row;
    }
    & > div {
      flex: 1;
    }
  }
  &__link-block,
  &__share-block {
    @include font-size($font-size-paragraph);
  }
  &__link {
    @include horizontal-paddings($padding-xxsmall);
    color: $primary-color;
  }
  &__rewards-table {
    & td,
    & th {
      @include horizontal-paddings($padding-xxsmall);
      @include vertical-paddings($padding-xxsmall);
      text-align: center;
    }
  }
}
