@import "styles/_breakpoint.scss";

.tournament-form {
  max-width: 1200px;
  &__submit {
    max-width: 14rem;
  }
}

.tournament-form__conditions-header {
  font-size: 1.7rem;
}

.tournament-form__program-settings {
  min-width: 650px;
  max-width: 650px;
  @include media-breakpoint-phone() {
    min-width: initial;
    max-width: 100%;
  }
}
