@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

$middle-padding: 33px;
$large-padding: 42px;

.portfolio-events-all-table {
  &__description {
    display: flex;
    align-items: center;
    & > div {
      @include adaptive-padding(right, $padding-xxsmall);
    }
  }

  & .table__row {
    padding: 0 32px;
  }

  &__head-cell {
    &--date {
      width: 33%;
      min-width: 180px;
    }
  }

  &__cell {
    color: $text-light-color;

    &--date {
      width: 33%;
      min-width: 180px;
    }
    &--type {
      width: 40%;
      min-width: 230px;
    }
    &--amount {
      width: 27%;
      min-width: 110px;
    }
  }

  & .filter {
    &__label {
      color: $short-statistic-notice-color;
    }

    &__value {
      color: $text-light-color;
    }
  }
}

.portfolio-event-details {
  margin-right: $padding-small / 2;

  &__button.gv-btn {
    @include font-size($font-size-common);
    border-radius: 20px;
    font-weight: 500;
    line-height: 16px;
    padding: $padding-xxsmall/3 $padding-xxsmall;
    white-space: nowrap;
    transition-property: background-color, color;
    background-color: $border-color;
    color: $text-color;

    &.portfolio-event-details__button--active,
    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: $positive-background-color;
      color: $positive-color;
    }
  }

  &__popover {
    padding: $padding-xsmall;
    @include font-size($font-size-common);
  }
}
