@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

$middle-padding: 33px;
$large-padding: 42px;

.portfolio-events-all-table {
  &__description {
    display: flex;
    align-items: center;
    & > div {
      @include adaptive-padding(right, $padding-xxsmall);
    }
  }

  & .table__row {
    padding: 0 32px;
  }

  &__head-cell {
    &--date {
      width: 33%;
      min-width: 180px;
    }
  }

  &__cell {
    color: $text-light-color;

    &--date {
      width: 33%;
      min-width: 180px;
    }
    &--type {
      width: 40%;
    }
    &--amount {
      width: 27%;
      min-width: 110px;
    }
  }

  & .filter {
    &__label {
      color: $short-statistic-notice-color;
    }

    &__value {
      color: $text-light-color;
    }
  }
}

.portfolio-event-details {
  margin-right: $padding-small / 2;
}
