@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoint.scss";
@import "shared/styles/_sizes.scss";

.create-fund-page {
  padding-top: $padding-outer-mobile;
  @include media-breakpoint-landscape-phone() {
    padding-top: $padding-outer;
  }
  &__title {
    font-size: $font-size-title-mobile;
    font-weight: 700;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-title;
    }
  }
}

.create-fund {
  &__navigation-dialog {
    padding: 32px;

    &-text {
      font-size: 14px;
      color: $text-light-color;
    }

    &-button {
      margin-top: 20px;
      padding: 8px 24px;
    }
  }
}
