@import "~shared/styles/_sizes";

.notification-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $padding-xsmall;

  &__switch-wrapper {
    margin-right: $padding-xxsmall;
  }

  &__label {
    font-size: $font-size-paragraph;
    line-height: 2;
    letter-spacing: 0.2px;
  }
}
