@import "styles/_colors";
@import "styles/_sizes";
@import "styles/_breakpoint";

.error-message {
  color: $negative-color;
  @include font-size($font-size-small);
  font-weight: 600;
  &--over {
    position: absolute;
  }
}
