@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";
@import "~shared/styles/_breakpoint";

.error-message {
  color: $negative-color;
  @include font-size($font-size-small);
  font-weight: 500;
  &--over {
    position: absolute;
  }
}
