@import "styles/_colors";
@import "styles/_sizes";

.calculator-slider {
  width: 100%;

  @include media-breakpoint-landscape-phone() {
    max-width: 255px;
  }

  &__heading {
    margin-bottom: $padding-xxsmall;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--editable-value {
      margin-bottom: $padding-xxsmall/2;
    }
  }

  &__title {
    @include font-size($font-size-small);
    cursor: default;
    white-space: nowrap;
    color: $calculator-label-color;
  }

  &__value {
    @include font-size(15px);
    cursor: default;
    white-space: nowrap;
    color: $main-color;
    font-weight: 600;
  }

  &__editable-value-wrapper {
    max-width: 120px;
    margin: 0;
  }

  &__editable-value {
    margin-top: 0;
    @include font-size(15px);
    padding-bottom: $padding-xxsmall / 2;
  }
}
