@import "styles/_colors.scss";

.program-details-history {
  padding: 40px 0 32px;

  &__header {
    padding: 0 32px;
  }

  & h2 {
    margin: 0 0 20px;
    letter-spacing: 0.2px;
    font-size: 17px;
  }

  & .gv-tabs {
    margin-left: -12px;
  }

  & .gv-tab {
    font-size: 13px;
    letter-spacing: 0.1px;
    font-weight: 600;

    &:not(.gv-tab--active) {
      letter-spacing: 0.2px;
      color: $short-statistic-notice-color;
      opacity: 1;
    }
  }
}
