@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.time-left-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  &__text {
    font-size: 0.875rem;
    white-space: nowrap;
    min-width: 95px;
    @include media-breakpoint-desktop() {
      text-align: right;
    }
  }

  &__progress {
    flex: 1;
    margin: 4px 0;
    width: 100%;
  }

  @include media-breakpoint-desktop() {
    &__progress {
      flex: 1;
      margin: 1rem;
      max-width: 200px;
    }
  }
}
