@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

$outer-padding: 80px;
$large-padding: 62px;
$middle-padding: 32px;
$small-padding: 20px;
$title-size: 32px;
$subtitle-size: 17.5px;
$large-font-size: 16px;
$middle-font-size: 14px;
$small-font-size: 12px;
$border-radius: 5px;
$mobile-padding-divider: 3;
$mobile-text-divider: 1.5;
$mobile-title-divider: 2;
* {
  box-sizing: border-box;
}

.dialog {
  max-width: 1100px;
  margin: $middle-padding/2;
}

.about-levels-container {
  background: $panel-background-color;
  //min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: $outer-padding/$mobile-padding-divider;
  padding-right: $outer-padding/$mobile-padding-divider;
  &__header {
  }
  &__title {
    padding: $middle-padding/$mobile-padding-divider 0;
    font-size: $title-size/$mobile-title-divider;
    font-weight: bold;
  }
  &__description {
    font-size: $large-font-size/$mobile-title-divider;
    opacity: 0.4;
  }
  &__title,
  &__text {
    padding-top: $outer-padding/$mobile-padding-divider;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left-block {
    line-height: 2;
    letter-spacing: 0.2px;
    //max-width: 577px;
  }
  &__paragraph {
    font-size: $middle-font-size/$mobile-text-divider;
    padding-bottom: $middle-padding/$mobile-padding-divider;
    & b {
      font-weight: 600;
    }
    &--mute {
      padding-top: $middle-padding/$mobile-padding-divider;
      padding-bottom: $outer-padding/$mobile-padding-divider;
      opacity: 0.4;
    }
  }
  &__subtitle {
    padding: $small-padding/$mobile-padding-divider 0;
    font-size: $large-font-size/$mobile-title-divider;
    font-weight: 600;
  }
  &__table {
    padding-bottom: $large-padding/$mobile-padding-divider;
    font-size: $middle-font-size/$mobile-text-divider;
    table {
      border-spacing: 0;
      width: 100%;
      th {
        font-weight: 200;
        opacity: 0.4;
        text-align: left;
      }
      tbody {
        tr {
          background: rgba(232, 239, 243, 0.04);
        }
        tr:nth-child(even) {
          background: none;
        }
      }
      .total-profit {
        text-align: right;
      }
    }
  }
  &__right-block {
    padding: $middle-padding/$mobile-title-divider;
    background: rgba(232, 239, 243, 0.04);
    width: 100%;
    //min-width: 292px;
    border-radius: $border-radius 0 0 $border-radius;
    //margin-left: $small-padding;
  }
  &__limit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: $small-padding/$mobile-padding-divider 0;
  }
  &__currency {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: $small-padding 0;
  }
  &__select {
    padding: 0 $small-padding;
  }
  &__mute-title {
    opacity: 0.4;
    font-size: $small-font-size/$mobile-text-divider;
    letter-spacing: 0.4px;
    white-space: nowrap;
  }
  &__values {
    padding: 0 $small-padding;
  }
  &__value {
    font-size: $middle-font-size/$mobile-text-divider;
    font-weight: bold;
    //line-height: 30px;
    letter-spacing: 0.2px;
  }
  &__icon {
    font-size: $small-font-size;
    font-weight: bold;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: #28768d;
    display: flex;
    justify-content: center;
    align-items: center;
    &.one {
      background-color: $level-color-1;
    }
    &.two {
      background-color: $level-color-2;
    }
    &.three {
      background-color: $level-color-3;
    }
    &.four {
      background-color: $level-color-4;
    }
    &.five {
      background-color: $level-color-5;
    }
    &.six {
      background-color: $level-color-6;
    }
    &.seven {
      background-color: $level-color-7;
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding-left: $outer-padding;
    padding-right: 0;
    &__text {
      flex-direction: row;
    }
    &__title {
      padding: $middle-padding 0;
      font-size: $title-size;
    }
    &__title,
    &__text {
      padding-top: $outer-padding;
    }
    &__description {
      font-size: $large-font-size;
    }
    &__paragraph {
      font-size: $middle-font-size;
      padding-bottom: $middle-padding;
    }
    &__subtitle {
      padding: $small-padding 0;
      font-size: $large-font-size;
    }
    &__table {
      padding-bottom: $large-padding;
      font-size: $middle-font-size;
    }
    &__right-block {
      margin-left: $middle-padding;
      padding: $middle-padding;
    }
    &__limit {
      padding: $small-padding 0;
    }
    &__mute-title {
      font-size: $small-font-size;
    }
    &__value {
      font-size: $middle-font-size;
    }
  }
}
