@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.programs-rating {
  &__head {
    padding: 0 $padding-xsmall;

    @include media-breakpoint-tablet() {
      padding: 0 $padding-small;
    }
  }

  &__tab-container {
    display: inline-block;
  }

  &__back {
    display: inline-block;
    font-weight: 600;
    line-height: 4px;
    padding-top: 7px;
    margin-right: 3px;
  }

  &__back-arrow {
    display: inline-block;
    border: 1px solid transparent;
    margin-right: 3px;
    height: 16.5px;
    font-family: "Times New Roman";
  }

  &__tabs {
    @include adaptive-padding(bottom, $padding-xsmall);
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    @include media-breakpoint-tablet() {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }

    .gv-tab {
      white-space: nowrap;
    }
  }

  .table__row--pretender {
    background: linear-gradient(
      90deg,
      rgba($background-pretender, 0.13) 1.83%,
      rgba($background-pretender, 0.03) 100%
    );
    background-attachment: fixed;

    .table__cell:first-child {
      border-left: 1px solid $primary-color;
    }

    .program-avatar__level {
      border-color: $background-pretender-level;
    }

    &:not(.table__row--head):hover {
      .program-avatar__level {
        border-color: $background-pretender-level-hover;
      }
    }

    &:hover {
      .program-detailed--pretender .program-avatar__level {
        border-color: $background-pretender-level-hover;
      }
    }
  }

  .program-detailed--pretender {
    .program-detailed__info {
      border-left: 1px solid $primary-color;
    }
  }

  &__tab-name {
    display: inline-block;
    line-height: 1;
  }

  &__tab-arrow {
    display: inline-block;
    padding: 0 5px;
    font-size: $font-size-common;
    line-height: 1;
    align-self: center;
  }
}

.programs-rating-stats {
  @include adaptive-padding(top, $padding-small);
  padding-left: $padding-xsmall;
  padding-right: $padding-xsmall;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include media-breakpoint-tablet() {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }
}
