@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.programs-rating {
	&__head {
		padding-left: $padding-small/2;
		padding-right: $padding-small/2;
	}
	&__tabs {
		@include adaptive-padding(bottom, $padding-xsmall);
		padding-left: $padding-small/2;
		padding-right: $padding-small/2;

		.gv-tab {
			white-space: nowrap;
		}

		.gv-tab--active {
			.programs-rating__tab-count {
				background-color: rgba($primary-color, 0.1);
				color: $primary-color;
			}
		}
	}

	.table__row--pretender {
		background: linear-gradient(90deg, rgba($background-pretender, 0.13) 1.83%, rgba($background-pretender, 0.03) 100%);

		.table__cell:first-child {
			border-left: 1px solid $primary-color;
		}

		.program-avatar__level {
			border-color: $background-pretender-level;
		}

		&:not(.table__row--head):hover {
			.program-avatar__level {
				border-color: $background-pretender-level-hover;
			}
		}

		&:hover {
			.program-detailed--pretender .program-avatar__level {
				border-color: $background-pretender-level-hover;
			}
		}
	}

	.program-detailed--pretender {
		.program-detailed__info {
			border-left: 1px solid $primary-color;
		}
	}

	&__tab-name {
		display: inline-block;
		line-height: 1;
	}

	&__tab-arrow {
		display: inline-block;
		padding: 0 5px;
		font-size: $font-size-common;
		line-height: 1;
		align-self: center;
	}

	&__tab-count {
		display: inline-block;
		margin-left: 10px;
		border-radius: 8px;
		padding: 4px 7px;
		line-height: 1;
		background-color: rgba($text-accent-color, 0.05);
	}

	@include media-breakpoint-landscape-phone() {
		&__tabs {
			padding-left: $padding-small;
			padding-right: $padding-small;
		}
		&__title {
			padding-left: $padding-small;
			padding-right: $padding-small;
		}
	}
}

.programs-rating-stats {
	@include adaptive-padding(top,$padding-small);
	padding-left: $padding-small/2;
	padding-right: $padding-small/2;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	@include media-breakpoint-landscape-phone() {
		padding-left: $padding-small;
		padding-right: $padding-small;
	}
}
