@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

$background-pretender: #064542;
$background-pretender-hover: #0b4b45;

.programs-rating {
	&__tabs {
		@include adaptive-padding(bottom, $padding-xsmall);
		padding-left: $padding-small/2;
		padding-right: $padding-small/2;

		.gv-tab {
			white-space: nowrap;
		}
	}

	.table__row--pretender {
		background-color: $background-pretender;


		.program-avatar__level {
			border-color: $background-pretender;
		}

		&:not(.table__row--head):hover {
			background-color: $background-pretender-hover;

			.program-avatar__level {
				border-color: $background-pretender-hover;
			}
		}

		&:hover {
			.program-detailed--pretender .program-avatar__level {
				border-color: $background-pretender-hover;
			}
		}
	}

	.program-detailed--pretender {
		.program-detailed__info,
		.program-detailed__collapse {
			background-color: $background-pretender;
		}

		.program-avatar__level {
			border-color: $background-pretender;
		}
	}

	@include media-breakpoint-landscape-phone() {
		&__tabs {
			padding-left: $padding-small;
			padding-right: $padding-small;
		}
	}
}

.programs-rating-stats {
	@include vertical-paddings($padding-medium, $padding-small);
	padding-left: $padding-small/2;
	padding-right: $padding-small/2;
	display: flex;

	.statistics-item {
		@include adaptive-margin(right, $padding-small);
	}

	@include media-breakpoint-landscape-phone() {
		padding-left: $padding-small;
		padding-right: $padding-small;
	}
}
