@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_constants.scss";

.funds-weekly-header {
  @include height(350px);
  width: 100%;
  background: url("media/background.svg") no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
