@import "styles/_breakpoint";
@import "styles/_sizes";

@mixin app-horizontal-paddings() {
  padding-left: $padding-small-mobile;
  padding-right: $padding-small-mobile;

  @include media-breakpoint-landscape-phone() {
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;
  }

  @media (min-width: 1400px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.app {
  margin: 0 auto;

  &__wrapper {
    position: relative;
    min-height: 100vh;
  }

  @media (min-width: 1400px) {
    max-width: 1360px;
  }

  &__header {
    @include app-horizontal-paddings();
    padding-top: $padding-xsmall-mobile;
    padding-bottom: $padding-xsmall-mobile;
    @include adaptive-margin(bottom, $padding-xsmall);

    @include media-breakpoint-landscape-phone() {
      padding-top: $padding-xsmall;
      padding-bottom: $padding-xsmall;
    }
  }

  &__main {
    @include app-horizontal-paddings();
    padding-bottom: $padding-big-mobile;

    @include media-breakpoint-landscape-phone() {
      padding-bottom: $padding-big;
    }
  }
}
