.wallet-transfer {
  &__field {
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
  }

  &-popup {
    &__two-factor-input {
      margin-bottom: 20px;
    }

    & .statistics-item {
      padding-bottom: 0;
    }

    & .dialog-list {
      margin-top: 20px;
    }

    &__right-text {
      align-self: flex-start;
    }

    &__icon {
      margin-right: 15px;
      vertical-align: middle;
      width: 24px;
      height: 24px;
    }
  }
}
