@import "~shared/styles/_colors";
@import "~shared/styles/_sizes";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_constants";

.dialog-wrapper {
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  position: relative;
  background-color: $secondary-background-color;
  z-index: 1300;
  margin: $padding-small auto;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 100%;
  @include media-breakpoint-landscape-phone() {
    min-width: $modal-width;
    border-radius: 8px;
  }

  &__info {
    @include adaptive-margin(top, $padding-upper-medium);
    opacity: 0.5;
    @include font-size($font-size-xsmall);
    line-height: 1.64;
    letter-spacing: 0.2px;
    text-align: center;
  }

  &__wrapper {
    @include adaptive-margin(bottom, 16px);
  }

  &__close {
    position: absolute;
    @include adaptive-full-padding($padding-xxsmall);
    z-index: 2;

    .icon {
      @include transition(opacity);
    }

    &:hover {
      .icon {
        opacity: 0.4;
      }
    }

    &--inside {
      right: 10px;
      top: 15px;
    }

    &--outside {
      position: fixed;
      display: none;
      top: 10%;
      right: 10%;
    }

    @include media-breakpoint-tablet() {
      &--outside {
        display: inherit;
      }

      &--wider {
        display: none;
      }
    }

    @media (min-width: 1600px) {
      &--wider {
        display: inherit;
      }
    }
  }

  &__header {
    @include adaptive-margin(top, $padding-xsmall);
    &:not(:last-child) {
      @include adaptive-padding(bottom, $padding-small);
    }
  }

  &__subtitle {
    @include font-size($font-size-common);
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #e8eff3;
  }

  &__field {
    &:last-child {
      & .statistics-item {
        padding-bottom: 0;
      }
    }
    &:not(:last-child) {
      @include adaptive-margin(bottom, $padding-xsmall);
    }

    font-weight: 300;
  }

  &__buttons {
    display: flex;
    @include adaptive-margin(top, $padding-small);
    justify-content: space-between;
  }

  &__text {
    @include adaptive-padding(top, $padding-xsmall);

    &:first-child {
      padding-top: 0;
    }

    p {
      padding-bottom: 0;
    }
  }

  &__error {
    @include adaptive-margin(bottom, $padding-xsmall);
    @include font-size($font-size-common);
  }
}

.dialog-list {
  list-style-type: none;
  padding: 0;
  &:not(:first-child) {
    @include adaptive-margin(top, $padding-small);
  }

  &__item {
    @include font-size($font-size-paragraph);
    font-weight: 300;
    margin-bottom: $padding-xsmall;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0.5px;

    &:last-child {
      @include adaptive-margin(bottom, $padding-medium);
    }
  }

  &__title {
    opacity: 0.5;
  }

  &__value {
    opacity: 1;
  }
}
