@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.wallet-balance {
  padding: 0 $padding-xsmall;

  &__header-icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    vertical-align: middle;
    display: inline-block;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__statistic {
    @include adaptive-padding(top, $padding-xxsmall);
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__statistic-item {
    @include adaptive-margin(bottom, $padding-medium);
    @include adaptive-margin(right, $padding-small);
    display: flex;
    align-items: flex-end;

    .statistics-item {
      padding: 0;
    }

    &:first-child {
      @include adaptive-padding(right, $padding-small);
      border-right: 1px solid rgba($text-dark-color, 0.3);
      align-items: flex-start;
    }
  }

  &__total-balance-value {
    font-size: $font-size-h2;
    letter-spacing: 0.3px;
    font-weight: 400;
    margin-top: 0;
  }

  &__statistic-item-value {
    margin-top: 8px;
  }

  &__footer {
    @include adaptive-margin(top, $padding-small);
    display: block;
  }

  &__add-funds {
    box-sizing: border-box;
    height: 42px;
    width: 129px;
    letter-spacing: 0.3px;
    font-size: $font-size-common;
    margin-bottom: 30px;
    margin-right: 12px;
  }

  &__withdraw {
    box-sizing: border-box;
    height: 42px;
    width: 129px;
    letter-spacing: 0.3px;
    font-size: $font-size-common;
  }

  &__button-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
  }

  &__loader-row {
    display: flex;
    flex-wrap: wrap;

    .svg-loader {
      width: 100%;
      height: auto;
    }
  }

  &__loader-stat {
    @include adaptive-margin(right, $padding-small);
    padding-bottom: $padding-xsmall;
    width: 130px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__loader-button {
    @include adaptive-margin(top, $padding-small);
    margin-right: 12px;
    width: 130px;
    margin-bottom: 26px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__buttons {
    .gv-btn {
      @include adaptive-margin(left, $padding-small);
      margin-bottom: $padding-medium-mobile;
      margin-right: 0;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include media-breakpoint-landscape-phone() {
    &__statistic {
      &:first-child {
        width: auto;
        margin-bottom: 0;
      }
    }

    &__total-balance-value {
      font-size: 32px;
      letter-spacing: 0.4px;
      font-weight: 600;
    }

    &__footer {
      display: block;
    }

    &__add-funds {
      margin-right: 30px;
      margin-bottom: 0;
      font-weight: 600;
      width: 150px;
      height: 50px;
    }

    &__loader-button {
      @include adaptive-margin(top, $padding-small);
      margin-right: 30px;
      width: auto;
      margin-bottom: 0;
    }

    &__loader-stat {
      width: auto;
    }

    &__withdraw {
      font-weight: 600;
      width: 150px;
      height: 50px;
    }

    &__buttons {
      .gv-btn {
        margin-bottom: 45px;
      }
    }
  }

  @include media-breakpoint-tablet() {
    &__loader-stat {
      padding-top: 10px;
    }
  }
}
