@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_sizes.scss";

.wallet-balance {
  padding: 0 $padding-xsmall;

  &__header {
    @include adaptive-padding(right, $padding-medium);

    span {
      font-weight: 300;
    }
  }

  &__header-icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    vertical-align: middle;
    display: inline-block;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: $padding-xsmall;
  }

  &__statistic {
    @include adaptive-padding(top, $padding-xxsmall);
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__statistic-item {
    @include adaptive-margin(bottom, $padding-medium);
    margin-right: $padding-small;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    min-width: 140px;

    .pie-container {
      @include adaptive-margin(right, 25px);
    }

    .statistics-item {
      padding: 0;
    }

    &:first-child {
      @include adaptive-padding(right, $padding-small);
      border-right: 1px solid rgba($text-dark-color, 0.3);
      align-items: flex-start;
    }
  }

  &__total-balance-value {
    font-size: $font-size-h2;
    letter-spacing: 0.3px;
    font-weight: 400;
    margin-top: 0;
  }

  &__statistic-item-value {
    margin-top: 8px;
  }

  &__footer {
    @include adaptive-margin(top, $padding-small);
    display: block;
  }

  &__button-icon {
    display: inline-block;
    margin-right: 10px;
    height: 8px;

    &--sign {
      height: auto;
    }
  }

  &__loader-row {
    @include adaptive-padding(top, $padding-xxsmall);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $padding-xsmall;

    .svg-loader {
      width: 100%;
      height: auto;
    }
  }

  &__loader-stat {
    @include adaptive-margin(bottom, $padding-medium);
    margin-right: $padding-small;
    width: 130px;
    line-height: 0;
  }

  &__loader-button {
    @include adaptive-margin(top, $padding-small);
    margin-right: 12px;
    width: 130px;
    margin-bottom: 26px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__buttons {
    .gv-btn {
      margin-right: $padding-small;
      margin-bottom: $padding-medium-mobile;
      font-weight: 600;
      font-size: $font-size-common;
      min-height: 45px;
    }
  }

  @include media-breakpoint-landscape-phone() {
    padding: 0;

    &__wrapper,
    &__loader-row {
      padding-bottom: 0;
    }

    &__statistic {
      &:first-child {
        width: auto;
        margin-bottom: 0;
      }
    }

    &__statistic-item {
      margin-right: $padding-medium;
    }

    &__total-balance-value {
      font-size: 32px;
      letter-spacing: 0.4px;
      font-weight: 600;
    }

    &__footer {
      display: block;
    }

    &__loader-button {
      @include adaptive-margin(top, $padding-small);
      margin-right: 30px;
      width: auto;
      margin-bottom: 0;
    }

    &__loader-stat {
      width: auto;
    }

    &__buttons {
      .gv-btn {
        margin-bottom: 45px;
        min-height: 50px;
      }
    }

    &__button-icon {
      height: 12px;

      &--sign {
        font-size: 18px;
        height: auto;
      }
    }
  }
}
