@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";
@import "styles/_sizes.scss";

.fund-details-chart {
  padding: 0 $padding-middle-mobile;
  flex: 1;
  width: 300px;

  &__heading {
    font-size: $font-size-subtitle-mobile;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: $padding-middle-mobile 0;
  }

  &__profit {
    height: 300px;
    width: 100%;
  }

  .fund-details-tooltip {
    &__statistic {
      padding: 5px 0;
    }

    &__title {
      font-size: $font-size-middle-mobile;
      letter-spacing: 0.4px;
      font-weight: 300;
      color: $text-color;
      max-width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__value {
      font-size: $font-size-small-mobile;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: $text-accent-color;
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding: 0 $padding-middle;

    &__heading {
      font-size: $font-size-subtitle;
      padding: $padding-middle 0;
    }

    .fund-details-tooltip {
      &__title {
        font-size: $font-size-middle;
      }
      &__value {
        font-size: $font-size-small;
      }
    }
  }
}
