@import "styles/_colors";
@import "../../styles/mixins";
@import "../../styles/grid";

$logo-text-size: 15px;
$combo-logo-width: 135px;
$combo-logo-img-height: 27px;
$text-logo-letter-spacing: 0.7px;
$text-logo-font-size: 14.9px;
$text-logo-line-height: 15.1px;
$text-logo-width: 73px;
$text-logo-margin: 15px;
$logo-divider: 1.57;

.lp-header {
  @include transition(background-color);
  background-color: $landing-bg;
  color: $main-color;
  width: 100%;
  z-index: 3;

  @include media-breakpoint-desktop() {
    background-color: rgba($landing-bg, 0.5);
  }

  &__combo-logo {
    display: flex;
    align-items: center;
    width: $combo-logo-width/$logo-divider;
    @include media-breakpoint-tablet() {
      width: $combo-logo-width;
    }
  }

  & h1.lp-header__text-logo {
    letter-spacing: $text-logo-letter-spacing/$logo-divider;
    width: $text-logo-width/$logo-divider;
    text-transform: uppercase;
    font-weight: 800;
    font-size: $text-logo-font-size/$logo-divider;
    line-height: $text-logo-line-height/$logo-divider;
    white-space: pre-wrap;
    margin: 0 0 0 $text-logo-margin/$logo-divider;
    @include media-breakpoint-tablet() {
      letter-spacing: $text-logo-letter-spacing;
      font-size: $text-logo-font-size;
      line-height: $text-logo-line-height;
      width: $text-logo-width;
      margin: 0 0 0 $text-logo-margin;
    }
  }

  &__container {
    @include container();
    padding-top: 15px;
    padding-bottom: 15px;

    @include media-breakpoint-tablet() {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__row {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $grid-gap-mobile;

    @include media-breakpoint-tablet() {
      grid-column-gap: $grid-gap;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      justify-content: space-between;
    }

    @include media-breakpoint-desktop() {
      grid-template-columns: repeat($grid-columns, 1fr);
    }
  }

  &__burger {
    @include media-breakpoint-desktop() {
      display: none;
    }
  }

  &__mobile-menu {
    display: none;
  }

  &__nav {
    display: none;

    @include media-breakpoint-desktop() {
      display: block;
      grid-column: 3/11;
      justify-self: end;
    }
  }

  &__start-btn {
    display: none;

    @include media-breakpoint-tablet() {
      display: block;
      justify-self: end;
    }

    @include media-breakpoint-desktop() {
      grid-column: 11/13;
    }
  }

  &__logo {
    grid-column: 2/4;
    justify-self: center;

    @include media-breakpoint-tablet() {
      grid-column: 2/2;
    }

    @include media-breakpoint-desktop() {
      grid-column: 1/3;
      justify-self: start;
    }
  }

  .main-logo {
    max-height: 22px;

    @include media-breakpoint-tablet() {
      max-height: none;
    }
  }

  &__start-btn-link,
  &__logo-link {
    position: relative;
    @include transition(opacity);
    @include reset-link();
    display: block;
  }

  &--reverse {
    .nav-list__link {
      color: $row-color;
    }

    .lp-button--secondary {
      background-color: rgba($primary-color, 0.1);
      color: $row-color;

      @include media-breakpoint-desktop() {
        &:hover {
          color: $row-color;
          background-color: rgba($primary-color, 0.15);
        }

        &:focus,
        &:active {
          color: $row-color;
          background-color: rgba($primary-color, 0.1);
        }
      }
    }

    .main-logo {
      fill: $row-color;
    }
  }
}
