@import "shared/styles/_breakpoint.scss";

.program-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.program-button {
  margin: 0.5rem;
  min-width: 12rem;
  min-height: 3rem;
  line-height: 2.1;
  @include media-breakpoint-phone() {
    margin: 0.5rem;
    min-width: 7rem;
    min-height: initial;
  }
}
.program-info__buttons {
  flex: 1;
  min-width: 430px;
  @include media-breakpoint-phone() {
    min-width: 100%;
  }
}
