@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.providers-button {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__count {
    font-size: $font-size-small;
    font-weight: 500;
    position: relative;
    display: flex;
    left: -4px;
    border-radius: 50%;
    background: $primary-color;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid $secondary-background-color;
  }
}
