@import "styles/_colors";
@import "styles/_breakpoint";
@import "styles/_sizes";

.providers-button {
  &__container {
    position: relative;
  }
  &__count {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-small;
    font-weight: 600;
    left: -4px;
    border-radius: 50%;
    background: $primary-color;
    width: 20px;
    height: 20px;
    border: 2px solid $secondary-background-color;
  }
}
