@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import "~gv-react-components/dist/index.css";
@import "styles/_colors.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $app-background-color;
  font-family: "Montserrat", sans-serif;
}

.root,
.app,
.app__body {
  height: 100vh;
  color: white;
}
