@import "styles/_colors.scss";

@font-face {
  font-family: "NeuzeitGroLig";
  src: url(./fonts/NeuzeitGro-Lig.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeuzeitGroReg";
  src: url(./fonts/NeuzeitGro-Reg.woff2), url(./fonts/NeuzeitGro-Reg.ttf),
    url(./fonts/NeuzeitGro-Reg.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeuzeitGroBol";
  src: url(./fonts/NeuzeitGro-Bol.woff2), url(./fonts/NeuzeitGro-Bol.ttf),
    url(./fonts/NeuzeitGro-Bol.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeuzeitGroBla";
  src: url(./fonts/NeuzeitGro-Bla.woff2), url(./fonts/NeuzeitGro-Bla.ttf),
    url(./fonts/NeuzeitGro-Bla.woff);
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NeuzeitGroReg";
  background: #f8f8f8;
  color: $main-color;
  overflow-x: hidden;
}

main {
  padding-top: 2rem;
}
