@import "~shared/styles/_colors";
@import "~shared/styles/breakpoint";
@import "mixins";
@import "grid";

.home {
  &__container {
    @include container();

    &--grid {
      @include media-breakpoint-tablet() {
        @include grid();
      }
    }
  }

  &__section {
    &--bg-white {
      background-color: $main-color;
    }

    &--bg-gray {
      background-color: $landing-bg-gray;
    }

    &--bg-white,
    &--bg-gray {
      color: $row-color;

      h1,
      h2,
      h3 {
        color: $row-color;
      }
    }
  }

  &__section-item {
    @include media-breakpoint-tablet() {
      grid-column: 2/12;
    }
  }
}
