@import "~shared/styles/_colors";
@import "~shared/styles/breakpoint";
@import "mixins";
@import "grid";

.home {
  &__container {
    @include container();

    &--grid {
      height: 100%;

      @include media-breakpoint-tablet() {
        @include grid();
        align-items: center;
      }
    }
  }

  &__section {
    &--first-screen {
      @include media-breakpoint-tablet() {
        height: calc(100vh - 130px);
        min-height: 670px;
      }

      @include media-breakpoint-desktop() {
        height: calc(100vh - 138px);
      }

      @include media-breakpoint-large-desktop() {
        min-height: 770px;
      }
    }

    &--bg-white {
      background-color: $main-color;
    }

    &--bg-gray {
      background-color: $landing-bg-gray;
    }

    &--bg-white,
    &--bg-gray {
      color: $row-color;

      h1,
      h2,
      h3 {
        color: $row-color;
      }
    }
  }

  &__section-item {
    @include media-breakpoint-tablet() {
      grid-column: 2/12;
    }
  }
}
