@import "styles/_sizes";
@import "styles/_constants";

.market-watch {
  @include terminal-table(small);
  height: 100%;
  display: flex;
  flex-direction: column;

  &__tooltip-data {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }

  &__tooltip {
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  &__table-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__header-container {
    width: calc(100% - 5px);
  }

  &__items-container {
    margin-top: $padding-xxxsmall;
    height: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__table {
    @include terminal-table(small);
    & th,
    & td {
      width: 30%;
    }
    & th:first-child,
    & td:first-child {
      width: 40%;
    }
    & th:last-child,
    & td:last-child {
      text-align: right;
    }
  }

  &__th {
    cursor: pointer;
    &--left {
      &::before {
        left: -15px;
      }
      &::after {
        left: -15px;
      }
    }
    &--right {
      &::before {
        right: -15px;
      }
      &::after {
        right: -15px;
      }
    }
    &--asc,
    &--desc {
      position: relative;

      &::before {
        @include transition(width);
        @extend %sortable-border-icon;
        height: 4px;
      }

      &::after {
        @include transition(width);
        @extend %sortable-border-icon;
      }
    }

    &--desc {
      &::before {
        width: 10px;
      }

      &::after {
        width: 5px;
      }
    }

    &--asc {
      &::before {
        width: 5px;
      }

      &::after {
        width: 10px;
      }
    }
  }

  &__cell {
    cursor: pointer;
    font-weight: normal;
    font-size: 11px;
    font-family: "DIN Pro Regular", sans-serif;

    &:nth-child(1) {
      min-width: 105px;
      text-align: left;
    }
    &:nth-child(2) {
      flex-grow: 1;
      text-align: left;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
}

%sortable-border-icon {
  position: absolute;
  bottom: 3px;
  content: "";
  border-top: 1px solid white;
}

.market-watch-favorite-button {
  cursor: pointer;
  width: 10px;
  height: 10px;
  & > div,
  svg {
    width: 100% !important;
    height: 100% !important;
  }
}
