@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-portfolio-events {
  flex: 1;
  display: flex;
  flex-direction: column;

  & div {
    box-sizing: border-box;
  }
  @include media-breakpoint-tablet() {
    min-height: 683px;
  }

  &__list {
    @include horizontal-paddings($padding-small, 2);
  }

  &__scroll-container {
    flex: 1;
    position: relative;
    margin: 0 -20px 10px;
    @include media-breakpoint-tablet() {
      margin: 0 -32px 24px;
    }
    &:after {
      position: absolute;
      pointer-events: none;
      z-index: 3;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px;
      background: linear-gradient(
        rgba($panel-background-color, 0),
        $panel-background-color
      );
    }
  }

  & .portfolio-event:first-child {
    padding-top: 0;
  }

  &__see-all {
    width: 60px;
    margin: 0 auto;
    font-size: $font-size-common;
    font-weight: 600;
    letter-spacing: 0.1px;

    & .gv-btn.gv-btn--text {
      padding: 0;
    }
  }
}
