@import "~shared/styles/_sizes.scss";
@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";

.asset-settings__block {
  @include adaptive-margin(bottom, $padding-large);
  box-sizing: border-box;

  @include media-breakpoint-landscape-phone() {
    padding-left: 60px;
    border-left: 2px solid $secondary-color;
  }

  &:first-child {
    @include adaptive-margin(bottom, $padding-large);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .gv-checkbox-wrapper,
  .gv-text-field__wrapper {
    margin-left: 0;
  }
}

.asset-settings__block-title {
  display: flex;
  align-items: center;
}

.asset-settings__block-status {
  padding-bottom: $padding-xsmall;
  padding-left: $padding-xsmall;
}

.asset-settings__block-wrapper {
  @include adaptive-margin(bottom, $padding-upper-medium);
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &--broker-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .gv-text-field__wrapper {
    @include adaptive-margin(right, $padding-xsmall);
    width: 100%;
    @include media-breakpoint-landscape-phone() {
      width: auto;
    }
  }

  &--wide {
    .gv-text-field__wrapper {
      width: 100%;
    }
  }

  @include media-breakpoint-landscape-phone() {
    max-width: 765px;
  }
}
