@import "styles/_colors.scss";

.tokens-widget {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.tokens-widget__header {
  flex: 1;
  font-size: 0.9rem;
}

.tokens-widget__container {
  flex: 1;
  display: flex;
  height: 0.3rem;
  overflow: hidden;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
}

.tokens-widget__value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0.25rem;
}

.tokens-widget__value--invested {
  background-color: $main-color;
  border-radius: 0;
}

.tokens-widget__value--requested {
  background-color: $border-color;
  border-radius: 0;
}

.tokens-widget__value--free {
  background-color: $alternate-color;
  border-radius: 0;
}
