@import "~shared/styles/_colors";

.double-button {
  width: 100%;
  &--first,
  &--second {
    border: 0.1em solid $primary-color;
    opacity: 1 !important;
    width: 50%;
  }
  &--first {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &--second {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
