.program-period-line {
  margin: 10px 0;
  &__description {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
  }
}
