@import "shared/styles/_breakpoint.scss";

.dashboard-charts__charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 400px;
}

.dashboard-charts__chart {
  flex: 1;
  min-width: 50%;
  height: 100%;
  @include media-breakpoint-phone() {
    min-width: 100%;
  }
}

.dashboard-charts__chart-header {
  font-family: "NeuzeitGroBol";
}
