@import "styles/_breakpoint.scss";
.trader-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trader-card {
  flex: 1;
  margin: 2rem;
  border-color: white;
  box-shadow: 0 70px 70px 0 rgba(194, 207, 212, 0.32);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }

  @include media-breakpoint-phone() {
    min-width: 100px;
    &:first-of-type {
      min-width: 300px;
      margin-left: 2rem;
    }
    &:last-of-type {
      margin-right: 2rem;
    }
  }
}

.trader-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  @include media-breakpoint-phone() {
    padding: 1rem;
  }
}

.trader-card__image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 150px;
  @include media-breakpoint-phone() {
    min-height: initial;
    img {
      height: 50px;
    }
  }
}
.trader-card__value {
  display: flex;
  font-size: 4rem;
  @include media-breakpoint-phone() {
    font-size: 2rem;
  }
}
.trader-card__description {
  line-height: 0;
}

.trader-card__bubble {
  margin-top: 1rem;
}
