@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";

.program-deposit__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  @include media-breakpoint-phone() {
    display: none;
  }
}

.program-deposit__info-cell {
  flex: 1 1 32%;
  max-width: 32%;
  text-align: center;
}

.program-deposit__available {
  @include media-breakpoint-phone() {
    min-width: 100%;
  }
}

.program-deposit__trader {
  display: flex;
  align-items: center;
}

.program-deposit__name {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.program-deposit__notification {
  display: flex;
  justify-content: center;
}

.program-deposit__calculator {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  @include media-breakpoint-phone() {
    flex-direction: column;
    align-items: center;
  }
}

.program-deposit__calculator-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 30%;
  max-width: 30%;
  border: 1px solid $border-color;
  padding: 1rem;
  @include media-breakpoint-phone() {
    min-width: 12rem;
  }
}

.input-gvt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-gvt__value {
  @include media-breakpoint-phone() {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.input-gvt__amount {
  color: $text-sub-color;
  border: 0;
  max-width: 10rem;
  text-align: center;
  font-size: 2rem;
  outline: none;
}

.input-gvt__description {
  color: $text-sub-color;
  font-size: 0.9rem;
  line-height: 1;
}

.calculated-usd {
  background-color: $background-color;
}

.label-usd__value {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
