@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.back-button {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  @include media-breakpoint-landscape-phone() {
    margin-bottom: 25px;
  }

  &__container {
    display: flex;
    align-items: center;
    transition: opacity 250ms;

    &:hover.gv-btn--text:not(:disabled) {
      color: inherit;
      opacity: 0.4;
    }
  }

  &__back {
    font-size: $font-size-common;
    letter-spacing: 0.4px;
    font-weight: 600;
  }

  &__back-arrow {
    margin-right: 10px;
    height: $font-size-h4;
  }

  & .gv-btn--text {
    padding: 0;
    font-size: $font-size-small;
  }

  &__path {
    padding-left: $padding-xsmall;
    opacity: 0.4;
    font-size: $font-size-common;
  }
}
