@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.back-button {
  //margin: 12px 0 12px;
  margin-bottom: 12px;
  @include media-breakpoint-landscape-phone() {
    //margin: 25px 0 25px;
    margin-bottom: 25px;
  }
  display: flex;
  align-items: center;

  &__container {
    display: block;
  }

  &__back {
    font-size: $font-size-common;
    letter-spacing: 0.4px;
    font-weight: 600;
    line-height: $font-size-common;
    vertical-align: bottom;
    display: inline-block;
  }

  &__back-arrow {
    margin-right: 10px;
    font-size: $font-size-common;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
  }

  & .gv-btn--text {
    padding: 0;
    font-size: $font-size-small;
  }

  &__path {
    padding-left: $padding-xsmall;
    opacity: 0.4;
    font-size: $font-size-common;
  }
}
