@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.back-button {
  margin: 12px 0 12px;
  @include media-breakpoint-landscape-phone() {
    margin: 25px 0 25px;
  }
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
  }

  &__back {
    font-size: $font-size-common;
    letter-spacing: 0.4px;
    font-weight: 600;
  }

  &__back-arrow {
    margin-right: 10px;
    font-size: $font-size-h4;
    line-height: 13px;
  }

  & .gv-btn--text {
    padding: 0;
    font-size: $font-size-small;
  }

  &__path {
    padding-left: $padding-xsmall;
    opacity: 0.4;
    font-size: $font-size-common;
  }
}
