@import "styles/_colors.scss";
@import "styles/_breakpoint.scss";
@import "styles/_sizes.scss";

.program-details-chart {
  padding: 0 $padding-middle-mobile;
  padding-bottom: $padding-middle-mobile;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;

  &__title {
    font-size: $font-size-subtitle-mobile;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: $padding-middle-mobile 0;
  }

  &__profit {
    height: 350px;
    width: 100%;
  }

  .program-details-tooltip {
    &__statistic {
      padding: 5px 0;
    }

    &__title {
      font-size: $font-size-middle-mobile;
      font-weight: 300;
      letter-spacing: 0.4px;
      color: $text-color;
      max-width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $padding-mini-mobile/2 0;
    }

    &__value {
      font-size: $font-size-large-mobile;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: $text-accent-color;
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding: 0 $padding-middle;
    padding-bottom: $padding-middle;

    &__title {
      font-size: $font-size-subtitle;
      padding: 32px 0;
    }

    .program-details-tooltip {
      &__title {
        font-size: $font-size-middle;
        padding: $padding-mini/4 0;
      }
      &__value {
        font-size: $font-size-large;
      }
    }
  }
}

.recharts-text {
  font-size: $font-size-small-mobile;
  @include media-breakpoint-landscape-phone() {
    font-size: $font-size-small;
  }
}
