@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.dashboard-portfolio-chart-section {
  &__tabs {
    @include horizontal-paddings($padding-small);
    @include adaptive-margin(bottom, $padding-xsmall);
  }

  &__chart-head {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    padding-left: $padding-xsmall;
    padding-right: $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__chart {
    height: 380px;
    margin-top: 20px;
    padding: 0 $padding-xsmall;

    @include media-breakpoint-landscape-phone() {
      padding: 0 $padding-small;
    }

    .assets-tooltip {
      .gv-tooltip__heading,
      .gv-tooltip__date {
        margin-left: 30px;
      }

      .asset {
        display: flex;
        align-items: baseline;
        padding-top: 10px;
        width: 100%;

        &:not(:last-of-type) {
          padding-bottom: 10px;
          border-bottom: 2px solid rgba($separator-color, 0.1);
        }

        &__indicator {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          margin-top: 10px;
          margin-right: 20px;
        }

        &__stats {
          flex: 1;
          margin-right: $padding-upper-medium;
        }

        &__asset-title {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.4px;
          color: $text-accent-color;
          margin-bottom: 10px;
          max-width: 10em;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__asset-value {
          font-size: $font-size-common;
          font-weight: 600;
          letter-spacing: 0.3px;
          color: $text-dark-color;
        }

        &__change {
          text-align: right;
        }

        &__change-percent {
          margin-bottom: 5px;

          .chip--positive {
            background-color: rgba($positive-color, 0.1);
          }

          .chip--negative {
            background-color: rgba($negative-color, 0.1);
          }
        }

        &__change-value {
          font-size: $font-size-common;
          font-weight: normal;
          letter-spacing: 0.3px;
          color: $text-dark-color;
        }
      }
    }
  }
}
