.wallet-withdraw {
  &__field {
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
  }

  &-popup {
    &__two-factor-input {
      margin-bottom: 20px;
    }

    & .statistics-item {
      padding-bottom: 0;
    }

    & .dialog-list {
      margin-top: 20px;
    }
  }
}
