@import "styles/_breakpoint.scss";
.pi-buttons {
  display: flex;
  @include media-breakpoint-desktop() {
    order: 3;
  }
  @include media-breakpoint-phone() {
    width: 100%;
    justify-content: space-between;
  }
}

.pi-button {
  margin: 1rem;
}
