@import "shared/styles/_colors.scss";

.login-two-factor-page {
  display: flex;
  flex-grow: 1;
}

.login-two-factor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__header {
    margin: 0 0 40px 0;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
  }

  &__text {
    line-height: 24px;
    margin-bottom: 40px;
    color: $text-color;
    font-size: 16px;
  }

  &__recovery-info {
    margin-top: 20px;
    line-height: 24px;
    margin-bottom: 4px;
    color: $text-color;
    font-size: 16px;
  }

  &__recovery-link {
    align-self: flex-start;
    margin-bottom: 20px;
  }

  &__submit {
    margin-top: auto;
  }

  & .form-error {
    margin-bottom: 16px;
  }
}
