@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.tag-program-container {
  display: flex;
  align-items: center;

  &__others {
    line-height: 1;
  }
}
