@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";
@import "~shared/styles/_sizes.scss";

.tag-program-container {
  display: flex;
  align-items: center;

  &__other {
    @include font-size(11px);
    padding: 2px 12px;
    cursor: pointer;
  }
}
