@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";

.active {
  &__description {
    font-size: $font-size-paragraph;
    line-height: $font-size-paragraph * 1.8;
  }
  &__popup {
    box-sizing: border-box;
    @include vertical-paddings($padding-big);
    @include horizontal-paddings($padding-large);
    max-width: 768px;
  }
  &__chart-container {
    height: 300px;
    .theme-dark {
      background: red !important;
    }
  }
  &__block {
    @include adaptive-padding(bottom, $padding-small);
    & > div {
      padding-top: 0;
    }
  }
  &__title {
    @include adaptive-padding(bottom, $padding-xsmall);
    text-transform: uppercase;
    color: $primary-color;
    @include font-size($font-size-paragraph);
    font-weight: 600;
  }
}
