@import "~shared/styles/_colors.scss";
@import "~shared/styles/_breakpoint.scss";

.pi-info {
  display: flex;
  align-items: center;
  padding: 1rem;

  @include media-breakpoint-desktop() {
    max-width: 380px;
  }
}

.pi-info__order {
  font-size: 1.125rem;
  margin-right: 1rem;
  @include media-breakpoint-phone() {
    font-size: 1rem;
  }
}

.pi-info__name {
  width: 100%;
  flex: 1;
}

.pi-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pi-name__title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;
}

.pi-name__link {
  font-size: 1.6rem;
  line-height: 1.1;
  color: $text-color;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pi-name__description {
  font-size: 0.9em;
  color: $text-sub-color;
  line-height: 1.2;
  height: 4rem;
  width: 225px;
  overflow: hidden;
  word-wrap: break-word;
  @include media-breakpoint-phone() {
    height: initial;
  }
}

.pi-name__eop {
  display: flex;
  align-items: center;
  color: $text-sub-color;
  max-width: 12rem;
}
