@import "~shared/styles/_colors.scss";

.portfolio-event-logo {
  position: relative;
  &--with-asset {
    width: 44px;
    height: 44px;
  }

  &__type {
    box-sizing: border-box;
    border-radius: 18px;
    text-align: center;
    & img {
      width: 28px;
      height: 28px;
    }
    &--with-asset {
      position: absolute;
      top: 18px;
      left: 18px;
      z-index: 1;
    }
  }

  &__photo {
    display: block;
    margin-right: 24px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: solid 2px $panel-background-color;
    border-radius: 18px;
    background-color: #27323a;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
  }

  &__wallet {
    height: 12px;
    width: 12px;
  }

  &__logo {
    &.program-avatar {
      height: 28px;
      width: 28px;
    }
  }

  &--positive {
    & .portfolio-event-logo__type {
      background-color: $positive-background-color;
      color: $positive-color;
    }
  }

  &--negative {
    & .portfolio-event-logo__type {
      background-color: $negative-background-color;
      color: $negative-color;
    }
  }
}
