.ds-fund__chart {
  height: 130px;
  width: 130px;
}

.ds-fund__values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ds-fund__value {
  margin-top: 0.6rem;
}

.ds-fund__color {
  height: 2px;
  max-width: 2rem;
  border-radius: 35%;
  margin: 0 auto;
}
