@import "~shared/styles/_colors";
@import "~shared/styles/_breakpoint";
@import "~shared/styles/_sizes";
@import "~shared/styles/_constants";

$title-text-size: 15px;
$chart-width: 160px;
$program-width: 312px;
$program-height: 372px;

@mixin title() {
  @include font-size($font-size-small);
  @include adaptive-padding(bottom, $font-size-small);
  opacity: 0.3;
  color: white;
  text-align: left;
}

@mixin link($color-link, $color-link-hover: $color-link) {
  @include transition(color);
  font-size: inherit;
  color: $color-link;

  &:hover {
    color: rgba(darken($color-link-hover, 10%), 0.9);
  }
}

.table-cards {
  @include adaptive-padding(top, $padding-xsmall);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: $padding-xsmall;
  padding-right: $padding-xsmall;

  .icon {
    width: auto;
  }
  &__card {
    margin-bottom: $padding-small/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $program-height/1.2;
    padding: $padding-small 20px;
    border-radius: 8px;
    background-color: $row-color;
    flex-grow: 1;
    & .program-avatar__level {
      background-color: $row-color;
    }
    &--title {
      @include title;
    }
  }
  &__card-loader {
    margin-bottom: $padding-small/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $program-height/1.2;
    flex-grow: 1;
  }
  &__main-info {
    margin-left: $padding-small/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }
  &__actions {
    text-align: right;
    cursor: pointer;
    padding-right: $padding-xsmall;

    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__title {
    @include link($text-accent-color, $text-color);
    padding: 3px 0;
    font-size: $title-text-size/1.5;
    word-break: break-all;
    display: block;
  }
  &__title-wrapper {
    max-width: calc(100% - 50px);
    padding-right: $padding-small/4;
    box-sizing: border-box;
  }
  &__name {
    @include link($primary-color);
    transition-property: color;
    font-size: $font-size-common/1.5;
    margin-bottom: 10px;
    display: block;
    word-break: break-all;
  }
  &__chart {
    width: $chart-width/1.5;
  }
  &__chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__balance {
    font-size: $font-size-common/1.5;
  }
  &__profit {
    margin-bottom: 8px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &:first-child {
      margin-left: -$padding-xsmall;
      margin-right: -$padding-xsmall;
    }
  }
  &__avatar {
    padding-left: $padding-xsmall;
  }
  &__table {
    display: flex;
    justify-content: space-between;

    &--flex-wrap {
      flex-wrap: wrap;
    }
  }
  &__table-column {
    display: flex;
    flex-direction: column;
  }
  &__table-row {
    width: 100%;
  }
  .program-avatar {
    width: 40px;
    height: 40px;
  }
  .tag-program-container {
    width: 100%;
  }
  .fund-assets {
    flex-wrap: nowrap;
  }
  .fund-asset {
    @include font-size($font-size-small);
  }
  @include media-breakpoint-phone() {
    .program-avatar {
      width: 80px;
      height: 80px;
    }
    &__card,
    &__card-loader {
      height: $program-height;
      margin-right: 0;
    }
    &__title {
      font-size: $title-text-size;
    }
    &__name {
      font-size: $font-size-common;
    }
    &__balance {
      font-size: $font-size-common;
    }
    &__profit {
      font-size: $font-size-common;
    }
    &__chart {
      width: $chart-width;
      flex-grow: 1;
      margin-right: $padding-small;
    }
    &__balance {
      font-size: $font-size-common;
    }
    &__table {
      & table {
        td {
          font-size: $font-size-common;
        }
      }
    }
  }
  @include media-breakpoint-landscape-phone() {
    padding-left: $padding-small;
    padding-right: $padding-small - $padding-small/2;
    &__card,
    &__card-loader {
      min-width: $program-width;
      width: calc(50% - #{$padding-small}/ 2);
      margin-right: $padding-small/2;
    }
  }
  @include media-breakpoint-tablet() {
    &__card,
    &__card-loader {
      flex-grow: 0;
    }
  }
  @media (min-width: 1075px) {
    &__card,
    &__card-loader {
      width: calc(33.33% - #{$padding-small}/ 2);
    }
  }
  @include media-breakpoint-landscape-tablet() {
    &__table {
      &--title {
        width: 45%;

        &:first-child {
          width: 30%;
        }

        &:nth-child(2) {
          width: 25%;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    &__card,
    &__card-loader {
      width: $program-width;
    }
  }
}

.popover-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
