@import "styles/_colors.scss";

.dashboard-chart {
  padding: 2rem;
  background: white;
  width: 100%;
}

.dashboard-chart__line {
  .recharts-line-curve {
    stroke: $primary-color;
  }
}

.dashboard-chart__header {
  font-family: "NeuzeitGroBol";
  font-size: 1.5rem;
}
