@import "styles/_colors.scss";

.dashboard-portfolio-events {
  min-height: 683px;
  padding: 0 18px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    font-size: 17px;
    margin-top: 41px;
    margin-bottom: 39px;
  }

  &__scroll-container {
    &:after {
      position: absolute;
      z-index: 3;
      content: "";
      bottom: 0;
      left: 0;
      width: 267px;
      height: 120px;
      background: linear-gradient(
        rgba($panel-background-color, 0),
        $panel-background-color
      );
    }
  }

  & .portfolio-event:first-child {
    padding-top: 0;
  }

  &__see-all {
    width: 60px;
    margin: 0 auto 12px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1px;

    & .gv-btn.gv-btn--text {
      padding: 0;
    }
  }
}
